{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Connected Accounts" %}{% endblock %}
{% block account_nav_socialaccount_connections  %}active{% endblock %}

{% block account_content %}

<div id="galaxy-github-connection">
    <h2>GitHub and Galaxy - Better Together</h2>
    <div class="message-text">
        <p>Associate your GitHub account with Galaxy and take full advantage of our integration with GitHub's API. You'll be able to import role repos with a single mouse click, automate role imports from Travis CI notifications, and star and watch roles without leaving Galaxy. Just click the GitHub logo to make the association and enjoy the goodness.</p>
    </div>

    {% if connected_to_github %}
        <div class="result success">
            <h2>Good News!</h2>
            <p>Your account is connected to Github. Next time you log into Galaxy just click the GitHub logo. <i class="fa fa-github-square fa-2x"></i><p>
        </div>
    {% else %}
        <div class="result text-center">
            <h2>Connect to Github</h2>
            <div class="github-logo">
                {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            </div>
            <p>Click the GitHub logo to associate your account with GitHub</p>
        </div>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        $('#nav-menu-dropdown').addClass('active');
    });
</script>

{% endblock %}
