{% extends "refresh2014/master.html" %}

{% load i18n %}

{% block title %}{% trans "Connected Accounts" %}{% endblock %}

{% block main_container %}

<h1 class="page-title">Social Accounts</h1>

<p class="page__preview">Manage 3rd party accounts linked to your account. This will allow you to sign in with any of those accounts in the future.</p>

<div class="l-wrapper--narrow l-wrapper--page">

{% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>


<form method="post">
{% csrf_token %}

{% if form.non_field_errors %}
<dl class="alert alert--error">
    <dd>
    {% for non_field_error in form.non_field_errors %}
         {{ non_field_error }}
    {% endfor %}
    </dd>
</dl>
{% endif %}


<table class="table">
  <thead>
    <tr>
      <th>
  {% trans 'Provider' %}
      </th>
      <th>
  {% trans 'Account' %}
      </th>
    </tr>
  </thead>
  <tbody>
{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
    <tr>
      <td>
<label class="radio" for="id_account_{{base_account.id}}">
<input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>
<span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>
</label>
      </td>
      <td>
  {{account}}
      </td>
    </tr>
{% endwith %}
{% endfor %}
  </tbody>
</table>

<button class="button--primary">{% trans 'Remove' %}</button>

</form>

{% else %}
<dl class="alert alert--info">
    <dd>{% trans 'You currently have no social network accounts connected to this account.' %}</dd>
</dl>
{% endif %}

<h3>{% trans 'Add a 3rd Party Account' %}</h3>

<nav class="social-links social-links--large">
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</nav>

{% include "socialaccount/snippets/login_extra.html" %}

</div>

{% endblock %}
