{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Connected Accounts" %}{% endblock %}
{% block account_nav_socialaccount_connections  %}active{% endblock %}

{% block account_content %}

<div id="galaxy-github-connection">
    <h2>Starting January 1, 2016 Galaxy will only support Github authentication.</h2>
    <p >If you created a Galaxy account in the past but never associated it with your Github account, now is your chance. After January 1 you may not be able to access your account.</p>

    {% if connected_to_github %}
        <div class="result success">
            <h3>Good News!</h3>
            <p>Your account is connected to Github. Next time you log into Galaxy just click the Github logo. <i class="fa fa-github-square fa-2x"></i><p>
        </div>
    {% else %}
        <div class="result text-center">
            <h3>Connect to Github</h3>
            <div class="github-logo">
                {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            </div>
            <p>Click the GitHub logo to associate your account with GitHub</p>
        </div>
    {% endif %}
</div>

{% endblock %}
