{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load socialaccount %}


{% block account_content %}

<div id="galaxy-social-signup" class="galaxy-message">
    {% with provider_name=account.get_provider.name site_name=site.name %}
        {% if provider_name != 'GitHub' %}
            <h2>Starting October 1, 2015 Galaxy will only support Github authentication.</h2>
            <p class="message-text">For this reason new accounts cannot be created using Twitter or Google+. Please click the Github logo below to create your Galaxy account.</p>
            <div class="github-logo-signup">
                {% get_providers as socialaccount_providers %}
                {% for provider in socialaccount_providers %}
                    {% if provider.name == 'GitHub' %}
                        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name|lower}}-square fa-4x"></i></a>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <h2>We're Creating Your Account</h2>
            <p class="message-text">You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please provide the following information:</p>

            <form class="signup" id="signup_form" method="post" action="">
              {% csrf_token %}
              {{ form|bootstrap }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="form-actions">
              <button class="btn btn-primary"  type="submit">{% trans "Sign Up" %}</button>
              </div>
            </form>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
