#home-page {
	.row {
		margin-top: 20px;
	}
	.content-row {
		margin-top: 40px;
	}
	.search-row {
		.search-input {
			width: 100%;
		}
		.search-button {
			width: 100%;
		}
	}
	.card-header {
		padding: 20px 0;
		.header-icon {
			padding-right: 10px;
		}
		.header-text {
			font-size: 18px;
			font-weight: 700;
		}
	}
	.home-card {
		margin-left: 10px;
	}
	.featured-blog {
		.featured-icon {
			width: 15%;
		}
		.featured-text {
			width: 80%;
		}
		.featured-icon, .featured-text {
			display: inline-block;
			vertical-align: middle;
		}
	}

	@media (min-width: 910px) {
		.form-inline .form-group.search-field {
		    display: inline-block;
		    margin-bottom: 0;
		    vertical-align: middle;
		    width: 90%;
		    input {
		    	width: 100%;
		    }
		}
	}
	@media (max-width: 910px) {
		.form-inline .form-group.search-field {
		    display: inline-block;
		    margin-bottom: 0;
		    vertical-align: middle;
		    width: 60%;
		    input {
		    	width: 100%;
		    }
		}
	}
	@media (max-width: 768px) {
		.form-inline .form-group.search-field {
		    display: inline-block;
		    margin-bottom: 15px;
		    vertical-align: middle;
		    width: 100%;
		    input {
		    	width: 100%;
		    }
		}
	}
}
