#home-page {
	.row {
		margin-top: 20px;
	}
	.content-row {
		margin-top: 40px;
	}
	.search-row {
		.search-input {
			width: 100%;
		}
		.search-button {
			width: 100%;
		}
	}
	.card-header {
		padding: 20px 0;
		.header-icon {
			padding-right: 10px;
		}
		.header-text {
			font-size: 18px;
			font-weight: 700;
		}
	}
	.home-card {
		margin-left: 10px;
	}
}