# dbinit.yml
#  - perform database migrations
#  - load test data 
#  - rebuild elastic indexes 

- name: Database init
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:

    - name: Wait for postgresql
      wait_for:
        host: postgres
        port: 5432
        connect_timeout: 10

    - name: Perform initial migrations 
      command: /venv/bin/galaxy-manage migrate --noinput --fake-initial
    
    - name: Disable triggers
      command: psql -h postgres -d galaxy -U galaxy -f /galaxy/test-data/disable_triggers.sql
    
    - name: Import testing data
      shell: cat /galaxy/test-data/role_data.dmp.gz | gunzip | psql -h postgres -d "{{ galaxy_postgres_db }}" -U "{{ galaxy_postgres_user }}"
    
    - name: Enable triggers
      command: psql -h postgres -d galaxy -U galaxy -f /galaxy/test-data/enable_triggers.sql
    
    - name: Update django site name
      command: psql -h postgres -d galaxy -U galaxy -f /galaxy/ansible/update_site.sql
    
    - name: Remove any log files
      command: rm -f *.log
      args:
        chdir: /galaxy_logs

    - name: Create dbinit.completed
      file:
        path: /setup/dbinit.completed
        state: touch

