<div class="details-expanded">
    <div>
        <div class="title">
            Content Score:
        </div>
        <div class="score">
            {{ content.content_score }}
        </div>

        <div>Warings: {{rulesViolated.length}}</div>

        <ul>
            <li *ngFor="let rule of rulesViolated">
                <span class="{{codeTasks[rule].severityIcon}}" tooltip="{{codeTasks[rule].severityText}}"></span>
                <div class="violation-count">{{ codeTasks[rule].violations_count }}</div>
                {{ codeTasks[rule].linter_rule_id }}:
                {{ codeTasks[rule].rule_desc }}

            </li>
        </ul>

    </div>
    <br>

    <div>
        <div class="title">
            Metadata Score:
        </div>
        <div class="score">
            {{ content.metadata_score }}
        </div>

        <div>Warings: 0</div>

    </div>
    <br>

    <div>
        <div class="title">
            Compatibility Score:
        </div>
        <div class="score">
            {{ content.compatibility_score }}
        </div>

        <div>Warings: 0</div>
    </div>
</div>
