<div class="padding-15">
    <div class="cards-pf">
        <div class="row row-cards-pf">
            <div class="col-sm-12">
                <pfng-card class="custom-card"
                           [config]="config">
                    <div class="custom-blank-slate-card">
                        <div class="custom-blank-slate-icon">
                            <a [routerLink]="" (click)="login()"><i class="fa fa-github"></i></a>
                        </div>
                        <h3>{{ connectingMsg || msgText }}</h3>
                    </div>
                </pfng-card>
            </div>
        </div>
    </div>
</div>
