<div class="details-expanded">
    <div>
        <div class="title">
            Syntax Score:
        </div>
        <div class="score">
            {{ content.content_score }}
        </div>

        <div>Warnings: {{ contentWarn.count }}</div>
        <ul>
            <li *ngFor="let rule of contentWarn.rulesViolated">

                <div *ngFor="let message of contentWarn.ruleDetails[rule].message; let first = first;">

                    <div class="not-message" [ngClass]='{"hidden-text": !first}'>
                        <span class="{{contentWarn.ruleDetails[rule].severityIcon}}"
                            tooltip="{{contentWarn.ruleDetails[rule].severityText}}"></span>
                        <div class="violation-count">{{ contentWarn.ruleDetails[rule].violationsCount }}</div>
                        {{ rule }}:
                    </div>
                    {{ message }}
                </div>
            </li>
        </ul>

    </div>
    <br>

    <div>
        <div class="title">
            Metadata Score:
        </div>
        <div class="score">
            {{ content.metadata_score }}
        </div>

        <div>Warnings: {{ metaWarn.count }}</div>
        <ul>
            <li *ngFor="let rule of metaWarn.rulesViolated">

                <div *ngFor="let message of metaWarn.ruleDetails[rule].message; let first = first;">

                    <div class="not-message" [ngClass]='{"hidden-text": !first}'>
                        <span class="{{metaWarn.ruleDetails[rule].severityIcon}}"
                            tooltip="{{metaWarn.ruleDetails[rule].severityText}}"></span>
                        <div class="violation-count">{{ metaWarn.ruleDetails[rule].violationsCount }}</div>
                        <span class="rule-id">{{ rule }}:</span>
                    </div>
                    {{ message }}
                </div>

            </li>
        </ul>

    </div>
    <br>

    <!-- <div>
        <div class="title">
            Compatibility Score:
        </div>
        <div class="score">
            {{ content.compatibility_score }}
        </div>

        <div>Warnings: {{ compatibilityWarn.count }}</div>
        <ul>
            <li *ngFor="let rule of compatibilityWarn.rulesViolated">

                    <div class="not-message" [ngClass]='{"hidden-text": !first}'>
                        <span class="{{compatibilityWarn.ruleDetails[rule].severityIcon}}"
                            tooltip="{{compatibilityWarn.ruleDetails[rule].severityText}}"></span>
                        <div class="violation-count">{{ compatibilityWarn.ruleDetails[rule].violationsCount }}</div>
                        {{ rule }}:
                    </div>
                    {{ message }}
                </div>

            </li>
        </ul>
    </div> -->
</div>
