#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# Do NOT make changes to this file directly. 
# This file is maintained by the Jenkins deployment process.
# Any changes made here will be overwritten.  Make changes
# to provisioning/role/galaxy_deploy/templates/galaxy.conf.j2
# and redeploy.
#
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

NameVirtualHost *:80
NameVirtualHost *:81
WSGISocketPrefix /var/run/wsgi
ExtendedStatus On
Listen 81

RemoteIPHeader X-Forwarded-For
RemoteIPInternalProxy {{ galaxy_load_balancer_ip }}/32
LogFormat "%a %l %u %t \"%r\" %>s %b" common

<VirtualHost _default_:80>
  ServerName {{ private_ip }} 
  DocumentRoot /var/lib/galaxy/public

  # Redirect to https  
  RewriteEngine on
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule !/api/v1/notifications https://%{HTTP_HOST}%{REQUEST_URI}
  RewriteCond %{REQUEST_METHOD} !POST
  RewriteRule /api/v1/notifications https://%{HTTP_HOST}%{REQUEST_URI}
  
  # For maintenance page, comment above and uncomment below
  # RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  # RewriteRule ^.*$ /static/maintenance/maintenance.html [R=503,L]
  # ErrorDocument 503 /static/maintenance/maintenance.html

  CustomLog "/var/log/httpd/galaxy_access.log" common
  ErrorLog "/var/log/httpd/galaxy_error.log"

  WSGIScriptAlias / /var/lib/galaxy/wsgi.py
  WSGIPassAuthorization On

  WSGIDaemonProcess notify_http processes=2 threads=20 maximum-requests=1000 display-name="notify_http"
  WSGIProcessGroup notify_http

  Alias /favicon.ico /var/lib/galaxy/public/static/favicon.ico
  Alias /static/ /var/lib/galaxy/public/static/

  <Directory /var/lib/galaxy/>
    <Files wsgi.py>
      Require all granted
    </Files>
  </Directory>

  <Directory /var/lib/galaxy/public/>
    Require all granted
  </Directory>
  
  <Location /server-status>
    SetHandler server-status
    Order deny,allow
    Deny from all
    Allow from {{ private_ip }} 
  </Location>
</VirtualHost>

<VirtualHost _default_:81>
  ServerName {{ private_ip }} 
  DocumentRoot /var/lib/galaxy/public

  RewriteCond $MAINTENANCE_FILE -f
  RewriteCond %{REQUEST_URI} !/$STATIC_URL/maintenance/under-maintenance.gif
  RewriteRule ^(.+) $MAINTENANCE_URL [R,L]
 
  CustomLog "/var/log/httpd/galaxy_access.log" common
  ErrorLog "/var/log/httpd/galaxy_error.log"

  WSGIScriptAlias / /var/lib/galaxy/wsgi.py
  WSGIPassAuthorization On

  WSGIDaemonProcess galaxy_http processes={{ galaxy_wsgi_processes }} threads=20 maximum-requests=1000 display-name="galaxy_http"
  WSGIProcessGroup galaxy_http

  Alias /favicon.ico /var/lib/galaxy/public/static/favicon.ico
  Alias /static/ /var/lib/galaxy/public/static/

  <Directory /var/lib/galaxy/>
    <Files wsgi.py>
      Require all granted
    </Files>
  </Directory>

  <Directory /var/lib/galaxy/public/>
    Require all granted
  </Directory>
  
  <Location /server-status>
    SetHandler server-status
    Order deny,allow
    Deny from all
    Allow from {{ private_ip }} 
  </Location>
</VirtualHost>
