*.pyc
*.swp
build/
dist/
galaxy.egg-info/
galaxy/celerybeat-schedule
known_hosts
provisioning/library/
rpm-build/
node_modules/
nohup.out
provisioning/ec2_inventory
.vagrant
/Vagrantfile
/logs
galaxy.min.css
.DS_Store
