Chris Houseknecht <chouseknecht@ansible.com> <chousekn@redhat.com>
Chris Houseknecht <chouseknecht@ansible.com> chouseknecht
Chris Houseknecht <chouseknecht@ansible.com> chouseknecht <chousek@redhat.com>
Chris Houseknecht <chouseknecht@ansible.com> vagrant <vagrant@localhost.localdomain>
Chris Houseknecht <chouseknecht@ansible.com> chouseknecht <chouseknecht@gmail.com>
Chris Houseknecht <chouseknecht@ansible.com> Chris Houseknecht <chouseknecht@Chriss-MacBook-Air.local>
Chris Houseknecht <chouseknecht@ansible.com> chouseknecht <chouse@ansible.com>
