gunicorn==19.7.1

django>=1.11,<2.0
djangorestframework>=3.7,<3.8

decorator
django-allauth==0.34.0
django-autofixture
celery==3.1.24
django-bootstrap-form
django-celery
django-filter
django-debug-toolbar

PyGithub
markdown==2.4.1
requests
requests-oauthlib
bleach
rst2html5-tools
setuptools
PyYAML
python-memcached
mock
ansible
pyOpenSSL
psycopg2
gevent>=0.13
dj-database-url
enum34

six
pytest
pytest-django
