django==1.8.3
djangorestframework==3.0.5
pexpect
decorator
django-allauth
django-autofixture
# django-avatar
celery==3.1.24
django-bootstrap-form
django-celery
django-filter
django-site-maintenance
django-debug-toolbar
django-haystack
drf-haystack==1.5.6
elasticsearch==1.7.0
elasticsearch-dsl==2.2.0
PyGithub
markdown==2.4.1
requests
requests-oauthlib
bleach
rst2html5-tools
setuptools
PyYAML
python-memcached
mock
honcho
ansible
pyinotify
pyOpenSSL
