marshmallow
celery==3.1.24
python-dateutil
gunicorn==19.7.1
PyGithub
markdown==2.4.1
requests
requests-oauthlib
bleach
rst2html5-tools
setuptools
PyYAML
ansible
pyOpenSSL
psycopg2-binary
gevent>=0.13
semver

# Linting
yamllint
flake8

# Django
django>=1.11,<2.0
djangorestframework>=3.7,<3.8
django-allauth==0.34.0

# TODO(cutwater): Review usage of this package
django-bootstrap-form
django-celery

# TODO(cutwater): Review usage of this package
django-filter

# TODO(cutwater): Review usage of this package
django-debug-toolbar
dj-database-url


# Py3 compatibility
enum34
six

# Testing
mock
pytest
pytest-django
pytest-cov==2.5.1
pytest-env

# Docs
Sphinx

# logging related
# add request-id to django logs
django-log-request-id
# format log output as json
jog
