---

- name: install RPM packages required for galaxy
  yum: name={{item}}
  with_items:
  - gcc
  - git
  - httpd
  - libjpeg
  - libselinux-python
  - libsemanage-python
  - make
  - memcached
  - mod_wsgi
  - mod_ssl
  - python-devel
  - python-pip
  - python-psycopg2
  - python-setuptools
  - PyYAML
  - python-memcached
  - rabbitmq-server
  - supervisor
  - zlib

- name: install pip packages required for galaxy
  pip: name=django version=1.8.3

- name: install pip packages required for galaxy
  pip: name={{item}}
  with_items:
  - decorator
  - django-allauth
  - django-autofixture
  - django-avatar
  - django-bootstrap-form
  - django-celery
  - django-filter
  - django-site-maintenance
  - djangorestframework==2.4.6
  - markdown==2.4.1 # 2.5 currently has a python 2.6.x incompatibility
  - PyGithub
  - requests
  - requests-oauthlib

# the avatars directory needs to be there, otherwise the library 
# will complain. It isn't used, as all the avatar info is stored
# in the database

- name: configure django-avatars directory
  file: path=/var/www/avatars state=directory mode=0755 owner=apache group=apache

# the galaxy log directory will be handled by packaging in the future
- name: configure galaxy log directory
  file: path=/var/log/galaxy state=directory mode=0750 owner=apache group=apache

