@black:                         #161b1f;
@navbar-background:             #000;
@navbar-item-hover-background:  #848992;
@navbar-height:                 70px;
@ansible-color:                 #5bbdbf;
@ansible-color-hover:           #599d9e;
@ansible-dark-grey:             #848992;
@ansible-gold:                  #ffd700;

@white:       #FFF;
@warning:     #FF9900;
@red:         #ff5850;
@red-hover:   #AE3F3A;
@green:       #5bb75b;
@blue:        #00659c;   /* logo blue */
@blue-link:   #0088CE;
@grey:        #848992;
@charcoal:    #808080;
@well:        #f5f5f5;   /* well background color */
@emphasis:    #ccc;
@green:       #5bb75b;
@info:        #d9edf7;   /* alert info background color */
@info-border: #bce8f1;   /* alert info border color */
@info-color:  #3a87ad;
