standby_mode = '{{ pgbase_standby_mode }}'
primary_conninfo = 'host={{ pgbase_connect_host }} port={{ pgbase_connect_port }} user={{ pgbase_connect_user }} password={{ pgbase_connect_pass }}'
trigger_file = '{{ pgbase_trigger_file }}'
