<div class="col-sm-6">
    <div class="title list-content">
        <a [routerLink]="['/', 'collections', collection.namespace.name, collection.name]">
            {{collection.name}}
        </a>
    </div>
    <div class="description list-content">
        <b>Description: </b>
        {{collection.latest_version.metadata.description}}
    </div>
    <div class="metric-box mid-font pull-left list-content">
        <div>
            <b>{{collection.latest_version.content_summary.contents.module.length}}</b>
            Modules
        </div>
        <div>
            <b>{{collection.latest_version.content_summary.contents.role.length}}</b>
            Roles
        </div>
        <div>
            <b>{{collection.latest_version.content_summary.contents.plugin.length}}</b>
            Plugins
        </div>
        <div>
            <b>{{collection.latest_version.content_summary.contents.playbook.length}}</b>
            Playbooks
        </div>
    </div>
</div>

<div class="col-sm-6">

    <div class="metric-box mid-font pull-right list-content">
        <div>
            <app-score [repo]="collection"></app-score>
        </div>
        <div>
            <i class="fa fa-download"></i>
            {{collection.download_count}} Downloads
        </div>
    </div>

    <div class="metric-box pull-right list-content">
        <div>
            <b>Current Version: </b> {{collection.latest_version.version}}
            uploaded {{ formatDate(collection.latest_version.created) }}
        </div>
    </div>
</div>
