<div class="card-community-survey">
    <pfng-card
        [config]="config"
        [headerTemplate]="headerTemplate">
        <ng-template #headerTemplate>
            <div class="card-heading">
                <div class="icon-container">
                    <span class="fa fa-check-circle fa-2x"></span>
                </div>
                <div class="title-text">Survey</div>
            </div>
        </ng-template>
        <div class="card-body">

            <div *ngIf="loading" class="loading">
                <div class="spinner"></div>
            </div>

            <div *ngIf="!loading">
                <!-- <div class="score-wrapper">
                    <div class="score-name">Quality Score</div>
                    <div class="score-bar">
                        <div class="internal-bar" [style.width]="getWidthPercentage(qualityScore)"></div>
                    </div>
                    <div class="score-number"><span class="numerator">{{qualityScore}}</span> / 5</div>
                </div> -->
                <div class="score-wrapper">
                    <div class="score-name">Community Score</div>
                    <div class="score-bar">
                        <div class="internal-bar" [style.width]="getWidthPercentage(communityScore)"></div>
                    </div>
                    <div class="score-number"><span class="numerator">{{communityScore}}</span> / 5</div>
                </div>
                <div class="details">
                    Based on {{ numberOfSurveys }} survey<span *ngIf="numberOfSurveys !== 1">s</span>
                    (<a href="" [routerLink]="" (click)="toggleDetails()"><span *ngIf="!showDetails">Show</span><span *ngIf="showDetails">Hide</span> Details</a>).
                </div>
                <div class="survey" (mouseenter)="showWall(true)" (mouseleave)="showWall(false)">
                    <div *ngIf="hideSurvey" class="survey-wall transparent"></div>
                    <div *ngIf="hideSurvey" class="survey-wall non-transparent">
                        <div class="login-message">
                            Please login to submit a rating.
                        </div>
                    </div>
                    <div class="title">Tell us about this collection</div>

                    <div *ngFor="let key of surveyKeys" class="input">
                        <div class="input-title">{{surveyConfig[key].question}}</div>
                        <div class="input-form">
                            <div *ngFor="let button of surveyConfig[key].type"
                                 (click)="submitRating(key, button.value)"
                                 class="input-button"
                                 [ngClass]="getButtonClass(button.value, mySurvey[key])">
                                {{button.symbol}}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div *ngIf="showDetails" class="details-expanded">
                    <div>
                        <span style="font-weight: bold">Community Score: {{communityScore}}</span> / 5
                    </div>

                    <div *ngFor="let key of surveyKeys">
                        <div  class="score-wrapper">
                            <div class="detail-score-name">{{ surveyConfig[key].question }}</div>
                            <div class="score-bar" tooltip="{{categoryAverages[key].count}} answer{{ categoryAverages[key].count !== 1 ? 's':'' }}">
                                <div class="internal-bar" [style.width]="getWidthPercentage(categoryAverages[key].value)"></div>
                            </div>
                            <div class="score-number"><span class="numerator">{{categoryAverages[key].value}}</span> / 5</div>
                        </div>
                        <!-- <div class="details">{{categoryAverages[key].count}} answer<span *ngIf="categoryAverages[key].count !== 1">s</span></div> -->
                    </div>

                </div>
            </div>
        </div>
    </pfng-card>
</div>
