    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <div class="title" ng-hide="rating.id"><i class="fa fa-star"></i> Rate This Role</div>
        <div class="title" ng-show="rating.id"><i class="fa fa-star"></i> Edit Your Rating</div>
    </div>
    <div class="modal-body galaxy-add-rating">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="score-breakdown">
            <h4>Score</h4>
            <select ng-model="rating.score" class="form-control">
                <option value="">Choose a score</option>
                <option value="1">1 - Needs work</option>
                <option value="2">2 - OK, but could be improved</option>
                <option value="3">3 - Nice.</option>
                <option value="4">4 - Awesome!</option>
                <option value="5">5 - Dude, I owe you a beer!</option>
            </select>
        </div>
        <div class="rating-comment">
            <h4>Comment <span class="counter-text"><span ng-class="(rating.comment.length>5000) ? 'text-danger':''">{{5000 - rating.comment.length}} characters remaining</span></span></h4>
            <textarea name="comment" id="comment" ng-model="rating.comment" ng-trim="false" class="form-control" rows="8"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
