    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <div class="title" ng-hide="rating.id"><i class="fa fa-star"></i> Rate This Role</div>
        <div class="title" ng-show="rating.id"><i class="fa fa-star"></i> Edit Your Rating</div>
    </div>
    <div class="modal-body galaxy-add-rating">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="score-breakdown">
            <table>
                <tbody>
                    <tr class="primary-score">
                        <td>Score</td>
                        <td><i ng-repeat="itm in score.score_range" class="{{ itm.value }} fa-lg"></i>
                            <span class="badge">{{ score.value | number:1 }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Wow! Factor</td>
                        <td><rating ng-model="rating.wow_factor" max="5" state-on="'fa fa-star fa-lg'" state-off="'fa fa-star-o fa-lg'" ng-class="{'text-danger':highlight.wow_factor}" ng-click="highlight.wow_factor=true"></rating>
                            <span class="badge">{{ rating.wow_factor | number:1 }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Documentation</td>
                        <td><rating ng-model="rating.documentation" max="5" state-on="'fa fa-star fa-lg'" state-off="'fa fa-star-o fa-lg'" ng-class="{'text-danger':highlight.documentation}" ng-click="highlight.documentation=true"></rating>
                            <span class="badge">{{ rating.documentation | number:1 }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Reliability</td>
                        <td><rating ng-model="rating.reliability" max="5" state-on="'fa fa-star fa-lg'" state-off="'fa fa-star-o fa-lg'" ng-class="{'text-danger':highlight.reliability}" ng-click="highlight.reliability=true"></rating>
                            <span class="badge">{{ rating.reliability | number:1 }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Code Quality</td>
                        <td><rating ng-model="rating.code_quality" max="5" state-on="'fa fa-star fa-lg'" state-off="'fa fa-star-o fa-lg'" ng-class="{'text-danger':highlight.code_quality}" ng-click="highlight.code_quality=true"></rating>
                        <span class="badge">{{ rating.code_quality | number:1 }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="rating-comment">
            <h4>Comment <span class="counter-text"><span ng-class="(rating.comment.length>5000) ? 'text-danger':''">{{5000 - rating.comment.length}} characters remaining</span></span></h4>
            <textarea name="comment" id="comment" ng-model="rating.comment" ng-trim="false" class="form-control" rows="8"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
