<div id="galaxy-search">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-7">
            <div class="input-group input-group-sm autocomplete-search-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" id="search-type-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="1">{{ searchType }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="type in searchTypeOptions" ng-show="searchType !== type"><a href="" ng-click="setSearchType(type)">{{ type }}</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" name="autocomplete" id="autocomplete-text-input"
                    ng-model="searchValue" 
                    ng-keyup="searchKeyup($event)" 
                    placeholder="{{ searchPlaceholder }}" 
                    ng-keydown="searchKeydown($event)" 
                    ng-focus="searchFocus($event)"
                    ng-blur="searchBlur($event)"
                    ng-hide="searchType == 'role_type'"
                    tabindex="2">
                <div class="search-icon" ng-show="showSearchIcon" ng-click="searchAddKey()"><i class="fa fa-search"></i></div>
                    <ul class="dropdown-menu" id="autocomplete-suggestions" ng-show="searchSuggestions.length">
                        <li ng-repeat="suggestion in searchSuggestions" ng-keyup="suggestionKeyup($event)" data-index="{{ $index }}">
                            <a href="" ng-click="applySuggestion(suggestion)">{{ suggestion.name }}</a>
                        </li>
                    </ul>
            </div><!-- /input-group -->
        </div>

        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5"> <!-- order by -->
            <div id="autocomplete-order-by" class="form-inline">
                <div class="form-group">
                    <label class="hidden-xs">SORT</label>
                    <select name="orderby" id="orderby" ng-model="searchOrder" class="form-control input-sm" ng-options="option.title for option in searchOrderOptions" ng-change="changeOrder()" tabindex="3">
                        <option value="">Relevance</option>
                    </select>
                </div>
            </div>
            <div class="filter-toggle pull-right" ng-show="searchKeys && searchKeys.length">
                <button type="button" class="btn btn-default btn-sm" ng-click="toggleSearchKeysContainer()" tabindex="4"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-show="searchKeys && searchKeys.length && showSearchKeysContainer">
            <hr class="search-container-divider" />
        </div>
    </div>
    <div class="row search-keys-container" ng-show="searchKeys && searchKeys.length && showSearchKeysContainer">
        <div class="col-xs-10">
            <div class="btn-group btn-group-xs search-key" role="group" ng-repeat="key in searchKeys">
                  <button type="button" class="btn btn-primary search-key-label"><span class="search-key-type">{{ key.type + ': ' }}</span>{{ key.value }}</button>
                  <button type="button" class="btn btn-primary search-key-close" ng-click="removeSearchKey(key)" tabindex="{{ 5 + $index }}"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-default btn-xs clear-all-search-keys-btn pull-right" ng-click="clearAllSearchKeys()" tabindex="{{ 5 + searchKeys.length }}">CLEAR ALL</button>
        </div>
    </div>
</div> 