
<div id="import-status-page">
    
    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>
    
    <div class="container main">
        <div class="row">
            <div class="col-md-4" id="import-list-container">
                <div class="import-list">
                    <div class="row title-row">
                        <div class="col-sm-7">
                            <span class="title">IMPORTS</span>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="/roleadd" class="btn btn-sm btn-success" tooltip-placement="left" uib-tooltip="Add an Import"><i class="fa fa-plus"></i> Add</a>
                        </div>
                    </div>
                    <div class="search-roles">
                        <input type="text" placeholder="Search Imports" class="form-control input-sm" ng-model="searchText" ng-disabled="!imports.length">
                        <div class="search-icon"><i class="fa fa-search" ng-show="!searchText"></i></div>
                        <div class="search-icon"><i class="fa fa-times" ng-show="searchText" ng-click="searchText='';"></i></div>
                    </div>
                    <div id="import-list-inner">
                        <div class="import" ng-repeat="import in filteredImports = (imports | filter:searchText) track by import.id" ng-click="showDetail(import.id)">
                            <div class="marker" ng-class="{ 'active': import.id == selected_id }"></div>
                            <div class="status {{ import.summary_fields.details.state | lowercase }}"><i class="{{ import.status_icon }}"></i></div>
                            <div class="title">
                                <div class="title-text">
                                    {{import.github_user}}/{{import.github_repo}}
                                </div>
                                <div class="date-text">
                                    {{ import.date_label }}: {{import.summary_fields.details.modified | date:'short'}}
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="import missing" ng-show="filteredImports == 0">
                            <div class="missing-text">No roles match your search.</div>
                        </div>
                        <div class="import missing" ng-show="imports.length == 0">
                            <div class="missing-text">
                                You have not imported any roles. Click <i class="fa fa-plus"></i> above to import a role.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="import-details-column">
                <div class="import-details-container" ng-show="!loading">

                    <div class="row title-row" ng-show="imports.length && selected_id">
                        <div class="col-sm-8 title">
                            <a href="/detail#/role/{{ import_detail.role }}/" class="title-link" ng-if="import_detail.summary_fields.role.is_valid">{{ import_detail.github_user + '/' + import_detail.github_repo }}</a>
                            <span class="title-text" ng-if="!import_detail.summary_fields.role.is_valid">{{ import_detail.github_user + '/' + import_detail.github_repo }}</span>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="" ng-click="reimportRole(import_detail.github_user, import_detail.github_repo)" class="btn btn-sm btn-default"><i class="fa fa-upload"></i> Re-Import</a>
                            <div class="loading-status"><i class="fa fa-lg fa-refresh" ng-class="{ 'fa-spin': checking }"></i></div>
                        </div>
                    </div>

                    <div ng-show="!imports.length" class="no-imports">No imports found</div>
                    <div ng-show="imports.length && selected_id==0" class="no-imports">Select a role to view import details.</div>
                    
                    <div class="title-bar" ng-show="imports.length && selected_id">
                        <div class="branch">
                            <div class="commit">{{ import_detail.github_branch }} <span class="message">{{ import_detail.commit_message }}</span></div>
                            <div class="last-run">{{ import_detail.last_run }}</div>
                            
                            <div class="travis-status" ng-if="import_detail.travis_status_url">
                                <a ng-href="{{ import_detail.travis_build_url }}" target="_blank">
                                    <img ng-src="{{ import_detail.travis_status_url }}" />
                                </a>
                            </div>
                        
                        </div>
                        <div class="stats">
                            <div class="count commit">
                                <a href="{{ import_detail.commit_url }}" target="_blank"><div class="icon"><i class="fa fa-github"></i></div> Commit {{ import_detail.commit.substring(0,7) }}</a>
                            </div>
                            <div class="count stargazers"><div class="icon"><i class="fa fa-star-o"></i></div> Stars {{ import_detail.stargazers_count }}</div>
                            <div class="count forks"><div class="icon"><i class="fa fa-code-fork"></i></div> Forks {{ import_detail.forks_count }}</div>
                            <div class="count watchers"><div class="icon"><i class="fa fa-eye"></i></div> Watchers {{ import_detail.watchers_count }}</div>
                        </div>
                    </div>

                    <div class="message-list" ng-show="imports.length && selected_id && import_detail.summary_fields.task_messages">
                        <div class="message" ng-repeat="message in import_detail.summary_fields.task_messages track by message.id">
                            <span class="text {{ message.message_type | lowercase }}">{{ message.message_text }}</span>
                        </div>
                    </div>
                </div>
                <ng-include src="'/static/partials/loader.html'"></ng-include>
            </div>
        </div>
    </div>
</div>