  <div class="input-prepend">
   <span class="add-on">Per-Page:</span>
   <select class="appendInput input-auto" ng-model="list_data.results_per_page" ng-change="$parent.refresh()">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
   </select>
  </div>
  <div class="input-prepend input-append">
   <span class="add-on">Sort by:</span>
   <select class="input-auto appendedInput" ng-model="list_data.sort_order" ng-change="$parent.list_data.refresh()">
    <option ng-repeat="sort_option in $parent.sort_options" ng-selected="sort_option[0] == list_data.sort_order" value="{{sort_option[0]}}">{{sort_option[1]}}</option>
   </select>
   <span class="add-on" ng-click="toggle_reverse()" ng-switch on="list_data.reverse">
    <i ng-switch-when="true" class="icon-caret-down"></i>
    <i ng-switch-default class="icon-caret-up"></i>
   </span>
  </div>
  <div class="input-prepend input-append">
   <span class="add-on">Filter:</span>
   <input name="filter" id="appendedInput" type="text" class="input-medium" placeholder="filter" ng-model="list_data.list_filter" ng-minlength=3 ng-change="$parent.applyFilter()">
   <span class="add-on"><i class="icon-filter"></i></span>
  </div>
