<ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

<div class="container-fluid" id="galaxy-explore-page">

    <div class="row table-row">
        <div class="col-lg-4 load-container">
            <!-- Top Categories -->
            <table class="table ga-table-striped">
               <caption>Top Tags</caption>
               <thead>
               <tr>
                   <th>Tag</th>
                   <th class="text-right"># Roles</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="tag in tags.data">
                   <td><a href="list#/roles?page=1&per_page=10&order=username,name&tags={{ tag.tag }}">{{ tag.tag }}</a></td>
                   <td class="text-right">{{tag.roles}}</td>
               </tr>
               </tbody>
            </table>
            <div ng-show="!loading.tags" class="view-more-container">
                <a ng-href="{{ tags.more_link }}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.tags" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 load-container">
            <table class="table ga-table-striped">
               <caption>Top Roles</caption>
               <thead>
               <tr>
                   <th>Role</th>
                   <th class="text-right nowrap"># Reviews</th>
                   <th class="text-right nowrap">Score</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="role in top_roles.data">
                   <td><span class="clip"><a href="/detail#/role/{{role.id}}" title="{{role.summary_fields.owner.username}}.{{role.name}}">{{role.summary_fields.owner.username}}.{{role.name}}</a></span></td>
                   <td class="text-right">{{role.num_ratings | number:0}}</td>
                   <td class="text-right">{{role.average_score | number:2}}</td>
               </tr>
               </tbody>
            </table>
            <div ng-show="!loading.topRoles" class="view-more-container">
                <a ng-href="{{top_roles.more_link}}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.topRoles" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 load-container">
            <table class="table ga-table-striped">
               <caption>New Roles</caption>
               <thead>
               <tr>
                   <th>Role</th>
                   <th class="text-right nowrap">Added On</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="role in new_roles.data">
                   <td><span class="clip"><a href="/detail#/role/{{role.id}}" title="{{role.summary_fields.owner.username}}.{{role.name}}">{{role.summary_fields.owner.username}}.{{role.name}}</a></span></td>
                   <td class="text-right">{{role.created|date:'dd MMM, yyyy'}}</td>
               </tr>
               </tbody>
            </table>
            <div ng-show="!loading.newRoles" class="view-more-container">
                <a ng-href="{{new_roles.more_link}}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.newRoles" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div> <!-- row -->

    <div class="button-row text-right">
       <a class="btn btn-sm btn-primary" href="/list#/roles">View All Roles</a>
    </div>

    <div class="row table-row">
        <div class="col-lg-4 load-container">
            <table class="table ga-table-striped">
                <caption>Top Users</caption>
                <thead>
                <tr>
                    <th>Username</th>
                    <th class="text-right nowrap"># Roles</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr ng-repeat="user in top_users.data">
                     <td><a href="/detail#/user/{{user.id}}">{{ user.username }}</a></td>
                     <td class="text-right">{{ user.num_roles | number:0 }}</td>
                 </tr>
                 </tbody>
            </table>
            <div ng-show="!loading.topUsers" class="view-more-container">
                <a ng-href="{{top_users.more_link}}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.topUsers" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 load-container">
            <table class="table ga-table-striped">
                <caption>Top Reviewers</caption>
                <thead>
                <tr>
                    <th>Username</th>
                    <th class="text-right nowrap"># Reviews</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in top_reviewers.data">
                    <td><a href="/detail#/user/{{user.id}}">{{ user.username }}</a></td>
                    <td class="text-right">{{ user.num_ratings | number:0 }}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="!loading.topReviewers" class="view-more-container">
                <a ng-href="{{top_reviewers.more_link}}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.topReviewers" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 load-container">
            <table class="table ga-table-striped">
                <caption>New Users</caption>
                <thead>
                <tr>
                    <th>Username</th>
                    <th class="text-right">Joined On</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in new_users.data">
                    <td><a href="/detail#/user/{{user.id}}">{{ user.username }}</a></td>
                    <td class="text-right">{{ user.date_joined | date:'dd MMM, yyyy' }}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="!loading.newUsers" class="view-more-container">
                <a ng-href="{{new_users.more_link}}" class="btn btn-default btn-xs">View More</a>
            </div>
            <div ng-show="loading.newUsers" class="loader">
                <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-row text-right">
       <a class="btn btn-sm btn-primary" href="/list#/users">View All Users</a>
    </div>

</div> <!-- container -->
