 <div class="row title-row">
   <div class="col-lg-12"><strong>New Roles</strong></div>
 </div>
 <div class="row">
  <div class="col-lg-7 hdr-row">
   <a href ng-click="toggle_item(new_roles, 'name'); getNewRoles()">Role
    <span ng-switch on="new_roles.reverse" ng-show="new_roles.sort_col == 'name'">
    <i ng-switch-when="false" class="fa fa-caret-down"></i>
    <i ng-switch-default class="fa fa-caret-up"></i>
    </span>
   </a>
  </div>
  <div class="col-lg-5 hdr-row text-right">
   <a href ng-click="toggle_item(new_roles, 'created'); getNewRoles()">Added On
    <span ng-switch on="new_roles.reverse" ng-show="new_roles.sort_col == 'created'">
    <i ng-switch-when="false" class="fa fa-caret-down"></i>
    <i ng-switch-default class="fa fa-caret-up"></i>
    </span>
   </a>
  </div>
 </div>
 <div class="row" ng-repeat="role in new_roles.data">
  <div class="col-lg-7"><a href="/list#/roles/{{role.id}}">{{ role.name }}</a></div>
  <div class="col-lg-5 text-right">{{role.created|date:'dd MMM, yyyy'}}</div>
 </div>
 <!--
 <div class="row-fluid">
  <div class="span12"><a class="btn" href>view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></div>
 </div>
 -->

 <table class="table table-responsive table-condensed">
     <caption>New Roles</caption>
     <tr>
         <th ng-click="toggle_item(new_roles, 'name'); getNewRoles()">Role
             <span ng-switch on="new_roles.reverse" ng-show="new_roles.sort_col == 'name'">
             <i ng-switch-when="false" class="fa fa-caret-down"></i>
             <i ng-switch-default class="fa fa-caret-up"></i>
             </span>
         </th>
         <th ng-click="toggle_item(new_roles, 'created'); getNewRoles()">Added On
             <span ng-switch on="new_roles.reverse" ng-show="new_roles.sort_col == 'created'">
             <i ng-switch-when="false" class="fa fa-caret-down"></i>
             <i ng-switch-default class="fa fa-caret-up"></i>
             </span>
         </th>
     </tr>
     <tbody>
     <tr ng-repeat="role in new_roles.data">
         <th><a href="/list#/roles/{{role.id}}">{{ role.name }}</a></th>
         <th>{{role.created|date:'dd MMM, yyyy'}}</th>
     </tr>
 </table>