<ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

<div class="container" id="galaxy-role-detail">

    <div class="row" ng-show="my_info.staff" style="margin-bottom: 15px;">
        <div class="col-xs-offset-6 col-xs-6 text-right">
            <a class="btn btn-danger btn-sm" href ng-click="staffDeleteRole(role.id)"><i class="fa fa-trash-o"></i> Delete Role</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h2 class="rolename">{{role.name}}</h2>
            <div class="description">{{role.description}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="user-info" ng-show="avatar">
                <img ng-src="{{ avatar }}" />
                <p class="username"><a href="https://github.com/{{ role.username }}" target="_blank">{{ role.username }}</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="documentation">
                <uib-tabset type="pills">
                    <uib-tab heading="Details">
                        <div class="row" ng-show="role.travis_status_url">
                            <div class="col-lg-12">
                                <img ng-src="{{ role.travis_status_url }}" class="travis-status-img" />
                            </div>
                        </div>
                        <div class="row button-row">
                            <div class="col-lg-12">
                                <a class="btn btn-default btn-md" ng-href="{{ role.issue_tracker_url }}"
                                   ng-show="role.issue_tracker_url" target="_blank"><i class="fa fa-bug"></i> Issue Tracker</a>
                                
                                <a class="btn btn-default btn-md" ng-href="https://github.com/{{role.github_user}}/{{role.github_repo}}" target="_blank"><i class="fa fa-github"></i> Github Repo</a>
                                
                                <a href="" ng-if="!role.user_is_subscriber" ng-click="subscribe()"
                                    class="btn btn-default btn-md" ng-disabled="!is_authenticated">
                                    <i class="fa fa-eye" ng-show="!role.subscribing"></i><i class="fa fa-spinner fa-spin" ng-show="role.subscribing"></i> Watch &nbsp;{{ role.watchers_count }}
                                </a>
                                <a href="" ng-if="role.user_is_subscriber" ng-click="unsubscribe()"
                                    class="btn btn-default btn-md" ng-disabled="!is_authenticated">
                                    <i class="fa fa-eye" ng-show="!role.subscribing"></i><i class="fa fa-spinner fa-spin" ng-show="role.subscribing"></i> Unwatch &nbsp;{{ role.watchers_count }}
                                </a>

                                <a href="" ng-if="!role.user_is_stargazer" ng-click="star()"
                                        class="btn btn-default btn-md" ng-disabled="!is_authenticated">
                                        <i class="fa fa-star" ng-show="!role.starring"></i><i class="fa fa-spinner fa-spin" ng-show="role.starring"></i> Star {{ role.stargazers_count }}
                                </a>
                                <a href="" ng-if="role.user_is_stargazer" ng-click="unstar()"
                                    class="btn btn-default btn-md" ng-disabled="!is_authenticated">
                                    <i class="fa fa-star" ng-show="!role.starring"></i><i class="fa fa-spinner fa-spin" ng-show="role.starring"></i> Unstar {{ role.stargazers_count }}
                                </a>
                                <div class="download-count">
                                    <span class="badge">{{ role.download_count }}</span>
                                    <span class="title">Galaxy Download Count</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="ansible-version">
                                    <h3>Minimum Ansible Version</h3>
                                    <span class="value">{{ role.min_ansible_version }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="installation">
                                    <h3>Installation</h3>
                                    <code>$ ansible-galaxy install {{role.username}}.{{role.name}}</code>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" ng-show="role.tags && role.tags.length">
                            <div class="col-lg-12">
                                <div class="tags-container">
                                    <div class="title">Tags</div>
                                    <div ng-repeat="tag in role.tags" class="galaxy-tag">{{ tag }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="versions">
                                    <table class="table ga-table-striped">
                                        <caption>Version History</caption>
                                        <thead>
                                            <tr>
                                                <th>Version</th>
                                                <th>Release Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            <tr ng-repeat="version in role.versions">
                                                <td>{{ version.name }}</td>
                                                <td>{{ version.release_date | date:"short" }}</td>
                                            </tr>
                                            <tr ng-show="!role.versions.length">
                                                <td colspan="2">No version history available.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="platforms">
                                    <table class="table ga-table-striped">
                                        <caption>Supported Platforms</caption>
                                        <thead>
                                            <tr>
                                                <th>Platform</th>
                                                <th>Version</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            <tr ng-repeat="platform in role.platform_details">
                                                <td>{{ platform.name }}</td>
                                                <td>{{ platform.release }}</td>
                                            </tr>
                                            <tr ng-show="!role.platform_details.length">
                                                <td colspan="2">No platform information available.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="dependencies">
                                    <table class="table ga-table-striped">
                                        <caption>Dependencies</caption>
                                        <thead>
                                            <tr>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            <tr ng-repeat="dependency in role.dependencies">
                                                <td><a href="/detail#/role/{{ dependency.id }}">{{ dependency.name }}</a></td>
                                            </tr>
                                            <tr ng-show="!role.summary_fields.dependencies.length">
                                                <td colspan="2">No dependencies.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>

                    </uib-tab>

                    <uib-tab heading="README" select="loadReadMe()">
                        <div ng-bind-html="readMe" class="readme"></div>
                        <ng-include src="'/static/partials/loader.html'"></ng-include>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div> <!-- end container -->
