<h1 class="page-title">{{role.name}}</h1>

<div class="page__preview page__preview--wide">
    <nav class="social-links">
      <a ng-href="https://github.com/{{role.github_user}}/{{role.github_repo}}">
        <i class="fa fa-github"></i> Github Repo
      </a>
      <a ng-href="{{ role.issue_tracker_url }}"
         ng-show="role.issue_tracker_url">
        <i class="fa fa-bug"></i> Issue Tracker
      </a>
      <a ng-href="{{ role.issue_tracker_url }}"
         tooltip="This role does not have an issue tracker. Members can write a review to notify the author about issues."
         ng-show="!role.issue_tracker_url"
         tooltip-placement="top"
         ng-disabled="true">
        <i class="fa fa-bug"></i> Issue Tracker
      </a>
      <button class="button-pseudo" ng-show="my_info.authenticated" ng-click="scrollToRatingForm()">
        <i class="fa fa-star-half-empty"></i> Add Review/Rating
      </button>
    </nav>
</div>

<div class="container-fluid l-wrapper--page">

    <div class="role__user-info">
        <a href="#/users/{{role.summary_fields.owner.id}}"><img class="avatar--large" ng-src="{{ role.summary_fields.owner.avatar_url|avatarSize:192 }}" /></a>
        <p class="username"><a href="#/users/{{role.summary_fields.owner.id}}">{{role.summary_fields.owner.username}}</a><br \>
        <span ng-show="role.summary_fields.owner.staff" class="staff-marker"><i class="fa fa-asterisk"></i> Ansible Staff</span></p>
    </div>

    <nav ng-show="my_info.staff" class="admin-utilities">
      <button class="button--primary" ng-click="staffDeleteRole(role.id)"><i class="fa fa-trash-o"></i> Delete Role</button>
    </nav>

    <p>{{role.description}}</p>

    <div class="rating__scores">
      <table ng-hide="role.num_ratings">
        <tr><td>Community Score</td><td>NA</td>
      </table>
      <div class="breakdown" id="average_composite_breakdown" ng-show="role.num_ratings"></div>
    </div>

    <div class="versions" ng-show="role.summary_fields.versions.length > 0">
      <h3>Version History</h3>
      <table class="version-table">
        <tbody>
          <tr ng-repeat="version in role.summary_fields.versions">
            <td>{{ version.name }}</td>
            <td>{{ version.release_date | date:"short" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="platforms" ng-show="role.summary_fields.platforms && role.summary_fields.platforms.length > 0">
      <h3>Supported Platforms</h3>
      <table class="platform-table">
        <tbody>
          <tr ng-repeat="platform in role.summary_fields.platforms">
            <td>{{ platform.name }}</td>
            <td>{{ platform.release }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ansible-version">
      <span class="title">Minimum Ansible Version:</span> <span class="version">{{ role.min_ansible_version }}</span>
    </div>

    <div class="installation">
      <h3>Installation</h3>
      <pre><code>$ ansible-galaxy install {{role.summary_fields.owner.username}}.{{role.name}}</code></pre>
    </div>

    <div class="documentation">
      <tabset>
      <tab heading="README">
      <div ng-bind-html="role.readme_html" class="readme"></div>
      </tab>
      <tab heading="Ratings ({{ role.num_ratings }})">
      <ng-include src="'/static/partials/ratingListTable.html'"></ng-include>
      </tab>
      </tabset>
    </div>

</div>
