
<div id="galaxy-role-add">
    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

    <div class="container">
        
        <div class="inner-container">
            <div class="instructions">
                <h2>Import Your Roles from GitHub</h2>
                <div class="text">
                    <p><strong></strong>
                    Click the toggle next to the repository to reveal a check mark. This will add the role to Galaxy, making it visible on the Browse Roles page and allowing anyone to download it using the ansible-galaxy command line tool. Removing the check mark will delete the role from Galaxy. Use settings <a href="" disabled="disabled" class="btn btn-xs btn-default"><i class="fa fa-gear"></i></a> to enable Travis notifications and control the role name assigned to the repo.
                    <p><strong>NOTE:</strong> Only public repositories containing a meta/main.yml file can be imported.</p>
                </div>
            </div>

            <div class="no-github-auth" ng-if="!github_auth">
                <p>Managing roles requires GitHub authentication. <a href="/accounts/social/connections/">Log into Galaxy using your GitHub account</a>.</p>
            </div>

            <div class="repository-list" ng-if="github_auth">
                <div class="row title-container">
                    <div class="col-sm-5 title">
                        {{ username }}
                    </div>
                    <div class="col-sm-4 tools">
                        <div class="search-roles">
                            <input type="text" placeholder="Search Roles" class="form-control input-sm" ng-model="searchText" ng-disabled="!repositories.length">
                            <div class="search-icon"><i class="fa fa-search" ng-show="!searchText"></i></div>
                            <div class="search-icon"><i class="fa fa-times" ng-show="searchText" ng-click="searchText='';"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-3 tools">
                        <a href="" ng-click="refreshRepos()" ng-disabled="refreshing" class="refresh-link btn btn-sm btn-default" 
                         tooltip-placement="top" uib-tooltip="Refresh Your Repositories from GitHub"><i class="fa fa-refresh"></i></a>
                         <div class="refreshing-icon"><i class="fa fa-spin fa-spinner" ng-if="refreshing"></i></div>
                    </div>
                </div>
                <div class="repository" ng-repeat="repo in repositories | filter:searchText">
                    <!-- http://jumplink.github.io/angular-toggle-switch/ -->
                    <toggle-switch 
                        class="switch-success switch-mini"
                        html="true" 
                        ng-model="repo.is_enabled"
                        on-label='<i class="fa fa-check"></i>'
                        off-label='<i class="fa fa-times"></i>'
                        ng-change="toggleRepository(repo)"
                        is-disabled="repo.state == 'PENDING' || repo.state == 'RUNNING' || refreshing"></toggle-switch>
                    <div class="state"><i class="fa fa-spin fa-spinner" ng-show="repo.state == 'PENDING' || repo.state == 'RUNNING'"></i></div>
                    <div class="settings"><a href="" ng-click="showIntegrations(repo)" tooltip-placement="top" uib-tooltip="Role Settings" class="btn btn-xs btn-default"><i class="fa fa-gear"></i></a></div>
                    <div class="name">
                        <a ng-href="/detail#/role/{{ repo.role_id }}" ng-if="repo.is_enabled && repo.role_id">{{ repo.github_user + '/' + repo.github_repo }}</a>
                        <span ng-if="!repo.is_enabled || !repo.role_id">{{ repo.github_user + '/' + repo.github_repo }}</span>
                    </div>
                    <div class="tools" ng-if="repo.is_enabled">
                        <a class="btn btn-default btn-xs" ng-href="imports#/?github_user={{repo.github_user}}&github_repo={{repo.github_repo}}" tooltip-placement="top" uib-tooltip="View Role Import Details"><i class="fa fa-list"></i></a>
                        <button type="button"
                            class="btn btn-default btn-xs"
                            ng-click="reimport(repo)"
                            tooltip-placement="top"
                            uib-tooltip="Re-import Role"
                            ng-disabled="repo.state == 'PENDING' || repo.state == 'RUNNING' || refreshing"><i class="fa fa-upload"></i>
                        </button>
                    </div>
                                    
                    <div uib-collapse="!repo.show_integrations" class="integration-container">
                        <div class="form">
                            <h3>SETTINGS</h3>
                            <div class="form-group">
                                <label>Travis Token</label>
                                <div class="input-container">
                                    <input type="{{ repo.travis_token_type }}" class="form-control input-sm" name="travis_token" ng-model="repo.travis_token" placeholder="Travis Token" autcomplete="off"/>
                                    <a href="" class="clear-link" ng-click="clearTravis(repo)" ng-show="repo.travis_token"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Edit Role Name</label>
                                <input type="text" class="form-control input-sm" name="alternate_name" ng-model="repo.role_name" autocomplete="off" />
                                <div class="help-text">Name assigned to the role on import. NOTE: Changing the name will trigger an import.</div>
                            </div>
                            <!--div class="form-group">
                                <label>GitHub Secret</label>
                                <div class="input-container">
                                    <input type="{{ repo.github_secret_type }}" class="form-control input-sm" name="github_secret" ng-model="repo.github_secret" placeholder="GitHub Secret" autcomplete="off"/>
                                    <a href="" class="reveal-link" ng-click="revealGithub(repo)" ng-show="repo.github_secret"><i class="fa fa-eye"></i></a>
                                    <a href="" class="clear-link" ng-click="clearGithub(repo)" ng-show="repo.github_secret"><i class="fa fa-times"></i></a>
                                </div>
                            </div-->
                            <div class="form-group">
                                <div class="form-button text-right">
                                    <a href="" ng-click="updateSettings(repo)" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Save</a>
                                    <a href="" ng-click="cancelIntegrations(repo)" class="btn btn-sm btn-default"><i class="fa fa-times"></i> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr />
                </div>
                <div class="repository loading" ng-show="!refreshing && repositories.length == 0">
                    No roles found in your public GitHub repositories.
                </div>
            </div>
        </div>

    </div>

    <ng-include src="'/static/partials/loader.html'"></ng-include>

</div>