 <div class="col-lg-3">
  <span class="rolename"><a href="#/roles/{{role.id}}">{{role.name}}</a></span><br />
  <span class="username" ng-show="display_user_info"><a href="#/users/{{role.summary_fields.owner.id}}">{{role.summary_fields.owner.username}}</a></span>
  <p><span class="score">Average Score: {{role.average_score|number:2}}</span></p>
 </div>
 <div class="col-lg-2">
  <ul class="category-list" ng-show="role.summary_fields.categories.length">
   <li ng-repeat="category in role.summary_fields.categories"><a href="#/roles/category/{{category}}">{{category}}</a></li>
  </ul>
  <div ng-hide="role.summary_fields.categories.length">(none)</div>
 </div>
 <div class="col-lg-7">
  <p><span ng-bind-html="role.summary_html"></span></p>
 </div>
