
<div id="galaxy-role-add">
    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

    <div class="container">
        
        <div class="inner-container">
            <div class="instructions">
                <h2>{{ username }}</h2>
                <div class="text">
                    <p><strong>Add or remove any of your public GitHub repositories containing an Ansible role.</strong>
                    Click the toggle next to the repository to reveal a check mark. This will add the role to Galaxy, making it visible on the Browse Roles page and allowing anyone to download it using the ansible-galaxy command line tool.</p>
                </div>
            </div>

            <div class="repository-list">
                <div class="search-roles">
                    <input type="text" placeholder="Search Imports" class="form-control input-sm" ng-model="searchText" ng-disabled="!repositories.length">
                    <div class="search-icon"><i class="fa fa-search" ng-show="!searchText"></i></div>
                    <div class="search-icon"><i class="fa fa-times" ng-show="searchText" ng-click="searchText='';"></i></div>
                </div>
                <div class="repository" ng-repeat="repo in repositories | filter:searchText">
                    <!-- http://jumplink.github.io/angular-toggle-switch/ -->
                    <toggle-switch 
                        class="switch-success switch-small"
                        html="true" 
                        ng-model="repo.active"
                        on-label='<i class="fa fa-check"></i>'
                        off-label='<i class="fa fa-times"></i>'
                        ng-change="toggleRepository(repo)"
                        is-disabled="repo.state == 'PENDING' || repo.state == 'RUNNING'"></toggle-switch>
                    <div class="state"><i class="fa fa-spin fa-lg fa-spinner" ng-show="repo.state == 'PENDING' || repo.state == 'RUNNING'"></i></div>
                    <div class="name">{{ repo.name }}</div>
                </div>
                <div class="repository loading" ng-show="loading">
                    Waiting on the GitHub API...
                </div>
                <div class="repository loading" ng-show="!loading && repositories.length == 0">
                    No roles found in your public GitHub repositories.
                </div>
            </div>
        </div>

    </div>

    <ng-include src="'/static/partials/loader.html'"></ng-include>

</div>