<div id="galaxy-role-list">

    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

    <div class="container-fluid" id="role-list-container">
        <div class="row" id="search-control-container">
            <div class="col-lg-10 col-md-9 col-sm-9" id="results-column">
                <div id="search-controls-container">
                    <div id="role-list-search">
                        <autocomplete 
                            search-suggestion-function="searchSuggestion"
                            search-placeholder="Search roles" 
                            search-function="search" 
                            search-order-options="orderOptions" 
                            search-type-options="searchTypeOptions" 
                            search-suggestions="searchSuggestions"></autocomplete>
                    </div>
                    <div id="results-container">
                        <div class="result" ng-repeat="role in roles">
                            <div class="header">
                                <a ng-href="/detail#/role/{{ role.id }}/" class="title">{{ role.name }}</a>
                                <div class="score-container">
                                    <label>Score</label>
                                    <span class="badge" ng-if="role.average_score > 0">{{ role.average_score | number:1 }}</span>
                                    <span class="badge" ng-if="role.average_score === 0">NA</span>
                                </div>
                                <hr />
                            </div>   
                            <div class="body">
                                <div class="description" dot-dot-dot>{{ role.description }}</div>
                                <div class="result-group authors" dot-dot-dot>
                                    <span class="result-label">Author</span>
                                    <span class="value"><a href="/detail#/user/{{ role.owner_id }}">{{ role.username }}</a></span>
                                </div>
                                <div class="result-group" dot-dot-dot>
                                    <span class="result-label">Platforms</span>
                                    <span class="platforms" ng-bind="role.platforms.join(', ')"></span>
                                </div>
                                <div class="result-group" dot-dot-dot>
                                    <span class="result-label">Tags</span>
                                    <span class="tags" ng-bind="role.tags.join(', ')"></span>
                                </div>
                                <div class="result-group">
                                    <span class="result-label">Created</span>
                                    <span class="tags">{{ role.created | date:"short" }}</span>
                                </div>
                            </div>
                        </div><!-- result -->
                        <ng-include src="'/static/partials/paginateWidget.html'"></ng-include>
                    </div><!-- results -->
                </div><!-- search-controls-container -->
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
                <div id="role-tags-container">
                    <div class="header">
                         <div class="title">POPULAR TAGS</div>
                    </div>
                    <div class="body-wrapper">
                        <div class="body">
                            <div class="tag" ng-repeat="tag in topTags">
                                <div class="tag-name" ng-click="activateTag(tag)" ng-class="{ active: tag.active }">{{ tag.tag }}</div>
                                <div class="tag-roles">{{ tag.roles }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- search-control-container -->
    </div><!-- container -->

    <ng-include src="'/static/partials/loader.html'"></ng-include>

</div>
