<div class="container list-container">

    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

    <div class="row">
        <div class="col-lg-2">
        <!--Sidebar content-->

            <div class="well tag-cloud" style="border: 2px #ccc solid; padding: 5px;">
               <input type="text" name="categories-select" id="categories-select" ng-change="change_category()" ng-model="selectedCategories" class="form-control">
               <!-- <div class="title" style="font-weight: bold; text-decoration: overline; margin-bottom: 5px;">Categories</div> -->
               <div class="cloud">
                   <p ng-repeat="tag in tags"><a href class="tag" ng-click="pick_category(tag)">{{ tag }}</a></p>
               </div>
            </div>

        </div><!-- col-lg-2 sidebar -->

        <div class="col-lg-10">
        <!--Body content-->

              <ng-include src="'/static/partials/filterWidget.html'"></ng-include>

              <table class="table ga-table-striped table-hover role-list-table">
                  <thead>
                  <tr>
                      <th>Role</th>
                      <th>Categories</th>
                      <th>Description</th>
                      <th>Platforms</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-show="roles.length === 0 && !loading">
                      <td>No roles found.</td>
                  </tr>
                  <tr ng-repeat="role in roles">
                       <td class="role">
                           <div class="rolename"><a href="#/roles/{{role.id}}">{{role.name}}</a></div>
                           <div class="score-section">
                               <div class="scores">
                                   <div class="score">
                                       <span ng-show="role.average_score == '0.0'" class="score-value-na">NA</span>
                                       <span ng-show="role.average_score != '0.0'" class="score-value">{{ role.average_score|number:1 }}</span>
                                       <span class="fld-label">Score</span>
                                   </div>
                                   <!--
                                   <div class="score">
                                       <span ng-show="role.average_aw_score == '0.0'" class="score-value-na">NA</span>
                                       <span ng-show="role.average_aw_score != '0.0'" class="score-value">{{ role.average_aw_score|number:1 }}</span>
                                       <span class="fld-label">Ansible Score</span>
                                   </div>
                                   -->
                               </div>
                           </div>
                           <div ng-show="display_user_info" class="userinfo">
                               <span class="username"><span class="fld-label">Author:</label> <a href="#/users/{{role.summary_fields.owner.id}}">{{role.summary_fields.owner.username}}</a></span><br />
                           </div>
                       </td>
                       <td class="col-lg-2">
                           <a href="#/roles/category/{{category}}" ng-repeat="category in role.summary_fields.categories" class="category">{{category}}</a>
                       </td>
                       <td class="col-lg-7 description">
                            {{role.description}}
                            <div class="dates">
                                <div class="date">
                                    <span class="fld-label">Created on:</span>
                                    <span class="value">{{role.created|date:"short"}}</span>
                                </div>
                                <div class="date" ng-show="role.created != role.modified">
                                    <span class="fld-label">Modified:</span>
                                    <span class="value">{{role.modified|date:"short"}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="col-lg-2">
                            <div ng-repeat="platform in role.platforms">
                                <span class="description">{{ platform }}</span>
                            </div>
                        </td>
                   </tr>
                   </tbody>
               </table>
              <table>

              <ng-include src="'/static/partials/paginateWidget.html'"></ng-include>

        </div><!-- col-lg-10 body -->
    </div><!-- row -->

    <ng-include src="'/static/partials/loader.html'"></ng-include>

</div><!-- container -->
