
<ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

<div class="container" id="galaxy-user-detail">

    <div class="row user-is-staff" ng-show="my_info.staff">
        <div class="col-lg-12">
            <div class="pull-right">
                <a class="btn btn-danger btn-sm" href ng-click="staffDeleteUser(user.id)"><i class="fa fa-trash-o"></i> Delete User</a>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-lg-12">
                <img ng-src="{{user.avatar_url}}" width="96px" height="86px">
                <div class="statistics">
                    <div class="user-info">
                        <span class="username">{{user.username}}</span>
                        <span class="name">{{user.full_name}}</span><br />
                        <span ng-show="user.email" class="email">{{user.email}}</span><br />
                        <span ng-show="user.staff" class="staff-marker"><i class="fa fa-asterisk"></i> Ansible Staff</span>
                    </div>
                    <div class="user-role-stats">
                        <strong>Roles contributed: {{ user.num_roles | number:0 }}</strong>
                        <div class="score" ng-show="user.avg_role_score == '0.0'">
                            <span class="score-value-na">NA</span>
                            <span class="fld-label">Average Score</span>
                        </div>
                        <div class="score" ng-show="user.avg_role_score != '0.0'">
                           <span class="score-value">{{user.avg_role_score|number:1}}</span>
                           <span class="fld-label">Average Score</span>
                        </div>
                        <!--
                        <div class="score" ng-show="user.avg_role_aw_score === null || user.avg_role_aw_score === undefined || user.avg_role_aw_score == '0.0'">
                           <span class="score-value-na">NA</span>
                           <span class="fld-label">Average Ansible Score</span>
                        </div>
                        <div class="score" ng-hide="user.avg_role_aw_score === null || user.avg_role_aw_score === undefined || user.avg_role_aw_score == '0.0'">
                           <span class="score-value">{{ user.avg_role_aw_score | number:1 }}</span>
                           <span class="fld-label">Average Ansible Score</span>
                        </div>
                        -->
                    </div>
                    <div class="user-review-stats">
                        <strong>Ratings contributed: {{ user.num_ratings | number:0 }}</strong>
                        <!--
                        <div class="karma" ng-show="user.karma <= 0">
                          <span class="score-value-na">NA</span>
                          <span class="fld-label"> Karma</span>
                        </div>
                        <div class="karma" ng-show="user.karma > 0">
                          <span class="score-value">{{ user.karma|number:0 }}</span>
                          <span class="fld-label"> Karma</span>
                        </div>
                        -->
                    </div>
                </div><!-- statistics -->
            </div><!-- col-lg-12 -->
        </div><!-- row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <tabset>
                <tab heading="Roles ({{user.num_roles}})">
                    <ng-include src="'/static/partials/roleListTable.html'"></ng-include>
                </tab>
                <tab heading="Ratings ({{user.num_ratings}})">
                    <ng-include src="'/static/partials/ratingListTable.html'"></ng-include>
                </tab>
            </tabset>
        </div>
    </div>

</div> <!-- end container -->
