<div class="container">
    
    <ng-include src="'/static/partials/pageHeaderWidget.html'"></ng-include>

    <div class="row">
        <div class="col-lg-12">
                    
            <ng-include src="'/static/partials/filterWidget.html'"></ng-include>

            <table class="table ga-table-striped table-hover user-list-table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Roles</th>
                    <th>Latest Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td class="user">
                        <a href="#/users/{{user.id}}"><img ng-src="{{user.avatar_url}}" /></a>
                        <div class="info">
                            <div><a class="username" href="#/users/{{user.id}}">{{ user.username }}</a> 
                                <span class="name" ng-show="user.full_name">{{ user.full_name }}</span><br \>
                                <span ng-show="user.staff" class="staff-marker"><i class="fa fa-asterisk"></i> Ansible Staff</span>
                            </div>
                            <div class="score">
                                <span class="fld-label">Karma</span>
                                <span class="score-value-na" ng-show="user.karma <= 0">NA</span>
                                <span class="score-value" ng-show="user.karma > 0">{{user.karma}}</span>
                            </div>
                            <div class="date">
                                <span class="fld-label">Date Joined</span>
                                <span class="value">{{ user.date_joined | date:"short" }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="roles col-lg-3">
                        <div ng-repeat="role in user.summary_fields.roles | limitTo:5">
                          <a class="role" href="#/roles/{{role.id}}">{{role.name}}</a>
                        </div>
                        <div ng-show="user.num_roles > 5"><a class="role" href="#/users/{{user.id}}">more...</a></div>
                        <div ng-show="user.num_roles == 0">This user has no roles</div>
                        <table class="inner-table">
                            <tbody>
                            <tr ng-show="user.num_roles > 0">
                                <td>Roles contributed</td>
                                <td>{{ user.num_roles | number:0 }}</td>
                            </tr>
                            <tr ng-mouseenter="hover($index,'avg_role_score',true)" ng-mouseleave="hover($index,'avg_role_score',false)">
                                <td>Avg. Community Score</td>
                                <td><span class="score-value-na" ng-show="user.avg_role_score == '0.0'">NA</span>
                                    <span class="score-value" ng-show="user.avg_role_score > 0"><i ng-repeat="itm in user.avg_role_score_range" class="{{ itm.value }}"></i></span>
                                    <span class="badge" ng-show="user.avg_role_score > 0 && avg_role_score_hover_{{ $index }}">{{ user.avg_role_score | number:1 }}</span>
                                </td>
                            </tr>
                            <tr ng-mouseenter="hover($index,'avg_role_aw_score',true)" ng-mouseleave="hover($index,'avg_role_aw_score',false)">
                                <td>Avg. Ansible Score</td>
                                <td><span class="score-value-na" ng-show="user.avg_role_aw_score == '0.0'">NA</span>
                                    <span class="score-value" ng-show="user.avg_role_aw_score > 0"><i ng-repeat="itm in user.avg_role_aw_score_range" class="{{ itm.value }}"></i></span>
                                    <span class="badge" ng-show="user.avg_role_aw_score > 0 && avg_role_aw_score_hover_{{ $index }}">{{ user.avg_role_score | number:1 }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="rating col-lg-5" ng-init="rating = user.summary_fields.ratings[0]">
                        <div>
                            <div class="text">{{ rating.comment }}</div>
                            <table class="inner-table" ng-show="user.summary_fields.ratings.length">
                                <tr ng-mouseenter="hover($index,'rating',true)" ng-mouseleave="hover($index,'rating',false)" 
                                    ng-show="user.summary_fields.ratings.length">
                                    <td>Score</td>
                                    <td><i ng-repeat="itm in user.rating_range" class="{{ itm.value }}"></i>
                                        <span class="badge" ng-show="rating_hover_{{ $index }}">{{ rating.score | number:1 }}</span></td>
                                </tr>
                                <tr ng-mouseenter="hover($index,'avg_rating',true)" ng-mouseleave="hover($index,'avg_rating',false)">
                                    <td>Avg. Rating Given</td>
                                    <td><span class="score-value-na" ng-show="user.avg_rating == '0.0'">NA</span>
                                        <span class="score-value" ng-show="user.avg_rating > 0"><i ng-repeat="itm in user.avg_rating_range" class="{{ itm.value }}"></i></span>
                                        <span class="badge" ng-show="avg_rating_hover_{{ $index }}">{{ user.avg_rating | number:1 }}</span>
                                </tr>
                                <tr>
                                    <td>Added</td>
                                    <td>{{ rating.created|date:"short" }}</td>
                                </tr>
                                <tr ng-show="rating.created != rating.modified">
                                    <td>Last Modified</td>
                                    <td>{{rating.modified|date:"short"}}</td>
                                </tr>
                            </table>
                        </div>
                        <div ng-hide="user.summary_fields.ratings.length">No ratings found.</div>
                    </td>
                </tr>
                <tr ng-show="users.length == 0">
                    <td>No users found.</td>
                </tr>
                </tbody>
            </table>

            <ng-include src="'/static/partials/paginateWidget.html'"></ng-include>

        </div>
    </div>
</div>
