<div class="row repository-container">

    <div class="col-lg-2">
        <div class="namespace-img">
            <img class="img-wrapper" tooltip="View Author's Profile" [src]="namespace.avatar_url" (click)="viewAuthor()">
            <a (click)="viewAuthor()"><span class="fa fa-user"></span> {{ namespace.name }}</a>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="text-overflow-pf">
            <div class="repo-name">
                <span class="fa" [ngClass]="repositoryView.iconClass" tooltip="{{ repositoryView.tooltip }}"></span> {{ repositoryView.name }}
            </div>
            <div>
                {{ repositoryView.description }}
            </div>
        </div>
    </div>

    <div class="col-lg-4 repository-details">

        <span class="columns">
            <ul>
                <li class="repo-count">
                    <i class="fa fa-download fa"></i>
                    <span class="count">{{ repositoryView.downloadCount }}</span>
                    <span class="count-label">Downloads</span>
                </li>
                <li class="repo-count">
                    <i class="fa fa-eye fa"></i>
                    <span class="count">{{ repositoryView.watchersCount }}</span>
                    <span class="count-label">Watchers</span>
                </li>
            </ul>

            <a [href]="repositoryView.issueTrackerUrl" *ngIf="repositoryView.issueTrackerUrl"
                target="_blank"
                tooltip="Visit the issue tracker. Opens in a new browser tab."
                class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>
        </span>

        &nbsp;

        <span class="columns">
            <ul>
                <li class="repo-count">
                    <i class="fa fa-star fa"></i>
                    <span class="count">{{ repositoryView.stargazersCount }}</span>
                    <span class="count-label">Stars</span>
                </li>
                <li class="repo-count">
                    <i class="fa fa-copy fa"></i>
                    <span class="count">{{ repositoryView.forksCount }}</span>
                    <span class="count-label">Forks</span>
                </li>
            </ul>

            <a [href]="repositoryView.scmUrl" target="_blank"
                tooltip="Visit the repository. Opens in a new browser tab." class="btn btn-default">
                    <i [ngClass]="repositoryView.scmIconClass"></i> {{ repositoryView.scmName }} Repo</a>
        </span>

    </div>
</div>
