<div class="row repository-container">

    <div class="col-lg-8 header-left">
        <div class="namespace-img">
            <div class="img-wrapper">
                <a appLogEvent="Author Profile" [routerLink]="['/', repositoryView.namespace]"
                    tooltip="View the author's profile." >
                    <img class="namespace-avatar" [src]="repositoryView.avatarUrl"></a>
            </div>
            <div class="namespace-name" tooltip="{{ repositoryView.namespace }}">
                <a appLogEvent="Author Profile" [routerLink]="['/', repositoryView.namespace]">
                    {{ repositoryView.namespace }}</a>
            </div>
        </div>

        <div class="valign-center-box">
            <div>
                <div class="description-box">
                    <div class="repo-name text-overflow-pf">
                        <span class="fa" [ngClass]="repositoryView.iconClass" tooltip="{{ repositoryView.tooltip }}"></span>
                        {{ repositoryView.name }}
                        <div *ngIf="repository.deprecated" tooltip="This item has been deprecated. Use at your own risk." class="label label-danger deprecation-notice">
                            Deprecated
                        </div>
                    </div>
                    <div class="repo-description">
                        {{ repositoryView.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 repository-details valign-center-box">

        <div class="inner">
            <div class="scores">
                <div class="repo-count">
                    <i class="fa fa-download fa"></i>
                    <span class="count">{{ repositoryView.downloadCount }}</span>
                    <span class="count-label">Downloads</span>
                </div>
                <div class="repo-count">
                    <i class="fa fa-eye fa"></i>
                    <span class="count">{{ repositoryView.watchersCount }}</span>
                    <span class="count-label">Watchers</span>
                </div>
                <div class="repo-count">
                    <i class="fa fa-star fa"></i>
                    <span class="count">{{ repositoryView.stargazersCount }}</span>
                    <span class="count-label">Stars</span>
                </div>
                <div class="repo-count">
                    <i class="fa fa-copy fa"></i>
                    <span class="count">{{ repositoryView.forksCount }}</span>
                    <span class="count-label">Forks</span>
                </div>
            </div>

            <div class="control-buttons">
                <div class="header-button">
                    <div class="btn btn-default" (click)="followCollection()">
                        <span class="fa fa-user-{{ isFollower ? 'times':'plus'}}"></span> {{ isFollower ? 'Unfollow Collection':'Follow Collection'}}
                    </div>
                </div>

                <div class="header-button">
                    <a [href]="repositoryView.issueTrackerUrl" *ngIf="repositoryView.issueTrackerUrl"
                        target="_blank"
                        tooltip="Visit the issue tracker. Opens in a new browser tab."
                        class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>

                    <a *ngIf="!repositoryView.issueTrackerUrl"
                        disabled
                        tooltip="No issue tracker available."
                        class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>
                </div>

                <div class="header-button">
                    <a [href]="repositoryView.scmUrl" target="_blank"
                        tooltip="Visit the repository. Opens in a new browser tab." class="btn btn-default">
                            <i [ngClass]="repositoryView.scmIconClass"></i> {{ repositoryView.scmName }} Repo</a>
                </div>



            </div>
        </div>

        <!-- <div class="valign-center-box">
            <div>
                <span class="columns">
                    <ul>
                        <li class="repo-count">
                            <i class="fa fa-download fa"></i>
                            <span class="count">{{ repositoryView.downloadCount }}</span>
                            <span class="count-label">Downloads</span>
                        </li>
                        <li class="repo-count">
                            <i class="fa fa-eye fa"></i>
                            <span class="count">{{ repositoryView.watchersCount }}</span>
                            <span class="count-label">Watchers</span>
                        </li>
                    </ul>

                    <a appLogEvent="Issues" [href]="repositoryView.issueTrackerUrl" *ngIf="repositoryView.issueTrackerUrl"
                        target="_blank"
                        tooltip="Visit the issue tracker. Opens in a new browser tab."
                        class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>

                    <a *ngIf="!repositoryView.issueTrackerUrl"
                        disabled
                        tooltip="No issue tracker available."
                        class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>
                </span>

                &nbsp;

                <span class="columns">
                    <ul>
                        <li class="repo-count">
                            <i class="fa fa-star fa"></i>
                            <span class="count">{{ repositoryView.stargazersCount }}</span>
                            <span class="count-label">Stars</span>
                        </li>
                        <li class="repo-count">
                            <i class="fa fa-copy fa"></i>
                            <span class="count">{{ repositoryView.forksCount }}</span>
                            <span class="count-label">Forks</span>
                        </li>
                    </ul>

                    <a appLogEvent="github" [href]="repositoryView.scmUrl" target="_blank"
                        tooltip="Visit the repository. Opens in a new browser tab." class="btn btn-default">
                            <i [ngClass]="repositoryView.scmIconClass"></i> {{ repositoryView.scmName }} Repo</a>
                </span>

            </div>
        </div> -->
    </div>
</div>
