<div class="row repository-container">
    <div class="col-sm-4">
        <div class="title-box">
            <div class="icon-container">
                <span class="fa fa-5x" [ngClass]="repositoryView.iconClass" tooltip="{{ repositoryView.tooltip }}"></span>
            </div>
            <div class="title-container">
                <div class="title">{{ repositoryView.name }}</div>
                <div class="description">{{ repositoryView.description }}</div>
                <a class="namespace"
                   [href]=""
                   (click)="viewAuthor()"
                   tooltip="View the Author's page">
                   <img [src]="repositoryView.avatarUrl" > {{ repositoryView.displayName }}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="repository-details">
            <div class="repo-count">
                <i class="fa fa-download fa-2x"></i>
                <span class="count">{{ repositoryView.downloadCount }}</span>
                <span class="count-label">Downloads</span>
            </div>
            <div class="repo-count">
                <i class="fa fa-eye fa-2x"></i>
                <span class="count">{{ repositoryView.watchersCount }}</span>
                <span class="count-label">Watchers</span>
            </div>
            <div class="repo-count">
                <i class="fa fa-star fa-2x"></i>
                <span class="count">{{ repositoryView.stargazersCount }}</span>
                <span class="count-label">Stars</span>
            </div>
            <div class="repo-count">
                <i class="fa fa-copy fa-2x"></i>
                <span class="count">{{ repositoryView.forksCount }}</span>
                <span class="count-label">Forks</span>
            </div>
            <div>
                <a [href]="repositoryView.issueTrackerUrl" *ngIf="repositoryView.issueTrackerUrl"
                    target="_blank"
                    tooltip="Visit the issue tracker. Opens in a new browser tab."
                    class="btn btn-default"><i class="fa fa-bug"></i> Issue Tracker</a>
            </div>
            <div>
                <a [href]="repositoryView.scmUrl" target="_blank"
                    tooltip="Visit the repository. Opens in a new browser tab." class="btn btn-default">
                        <i [ngClass]="repositoryView.scmIconClass"></i> {{ repositoryView.scmName }} Repo</a>
            </div>
        </div>
    </div>
</div>
