{% extends 'master.html' %}

{% block content %}
<div class="main page-content">
{% block general_content %}{% endblock %}
</div>
<script>
    /*
     * Provide current user info
     */
    'use strict';
    (function(angular) {

        var mod = angular.module('currentUserService', ['ngResource']);

        mod.factory('currentUserService', ['$resource', _factory]);

        function _factory($resource) {
            var userData = {
                "id": ("{{ user.id }}" == "None") ? null : parseInt("{{ user.id }}"), 
                "authenticated": ("{{ user.is_authenticated }}" == "True") ? true : false, 
                "staff": ("{{ user.is_staff }}" == "True") ? true : false, 
                "username": "{{ user.username }}", 
                "created": ("{{ user.date_joined }}" == "") ? null : "{{ user.date_joined }}", 
                "modified": ("{{ user.last_login }}" == "") ? null : "{{ user.last_login }}", 
                "active": ("{{ user.is_active }}" == "True") ? true : false,
                "subscriptions": [
                    {% for subscription in user.get_subscriptions %}
                        {
                           id: {{ subscription.id }},
                           github_user: "{{ subscription.github_user }}",
                           github_repo: "{{ subscription.github_repo }}"
                        }
                        {% if not forloop.last %},{%  endif %}
                    {% endfor %}
                ],
                "starred": [
                    {% for star in user.get_starred %}
                        {
                           id: {{ star.id }},
                           github_user: "{{ star.github_user }}",
                           github_repo: "{{ star.github_repo }}"
                        }
                        {% if not forloop.last %},{%  endif %}
                    {% endfor %}
                ],
                "update": function() {
                    // refresh anything about the user that may change
                    $resource('/api/v1/users/' + userData.id + '/').get().$promise.then(function(response) {
                        console.log('user data:')
                        console.log(response);
                        userData.subscriptions = response.summary_fields.subscriptions;
                        userData.starred = response.summary_fields.starred;
                    });
                }
            };

            return userData;
        }
    })(angular);
</script>
{% endblock %}

