{% extends 'master.html' %}

{% block content %}
<div class="main page-content">
{% block general_content %}{% endblock %}
</div>

<script>
    /*
     * Provide current user info
     */
    'use strict';
    (function(angular) {

        var mod = angular.module('currentUserService', []);

        mod.factory('currentUserService', [_factory]);

        function _factory() {
            return {
                "id": ("{{ user.id }}" == "None") ? null : parseInt("{{ user.id }}"), 
                "authenticated": ("{{ user.is_authenticated }}" == "True") ? true : false, 
                "staff": ("{{ user.is_staff }}" == "True") ? true : false, 
                "username": "{{ user.username }}", 
                "created": ("{{ user.date_joined }}" == "") ? null : "{{ user.date_joined }}", 
                "modified": ("{{ user.last_login }}" == "") ? null : "{{ user.last_login }}", 
                "active": ("{{ user.is_active }}" == "True") ? true : false
            }
        }
    })(angular);
</script>

{% endblock %}

