{% block extra_body %}{% endblock %}

<div id="footer-content">
    {% if not url_items_length or url_items_length > 1 %}
    <div id="galaxy-footer-blue-line" class="container-fluid"></div>
    {% endif %}

    <div id="galaxy-copyright"{% if url_items_length > 1 %} class="interior"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/static/img/redhat-ansible-footer.png">
                </div>
                <div class="col-sm-8 copyright-txt">
                    Copyright &copy; 2016 Ansible, Inc. | <a href="http://www.ansible.com/security" target="_blank">Security Disclosures</a> | <a href="http://www.ansible.com/privacy-policy" target="_blank">Privacy Policy</a>
                    <div class="version">GALAXY {{ version }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin hubspot analytics-->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
	(function(d,s,i,r) {
	if (d.getElementById(i)){return;}
	var n = d.createElement(s),e = document.getElementsByTagName(s)[0];
	n.id=i;n.src = '//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/330046.js';
	e.parentNode.insertBefore(n, e);
	})(document, "script", "hs-analytics",300000);
</script>
<!-- end hubspot analytics-->

</body>
</html>
