{% block extra_body %}{% endblock %}

<div id="footer-content">
    {% if not url_items_length or url_items_length > 1 %}
    <div id="galaxy-footer-blue-line" class="container-fluid"></div>
    {% endif %}

    <div id="galaxy-copyright"{% if url_items_length > 1 %} class="interior"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 copyright-txt">
                    <div class="version">GALAXY {{ version }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
