{% extends 'base.html' %}

{% load url from future %}
{% load socialaccount %}
{% load galaxyhelpers %}

{% block general_content %}
<div class="banner-row">
    <!--  -->
    <div class="container">
        <div class="row main-banner-row">
            {% if not user.is_authenticated %}
            <div class="col-lg-7">
            {% else %}
            <div class="col-lg-8 col-lg-offset-2">    
            {% endif %}
                <img src="/static/img/galaxy_logo_main.png" class="logo img-responsive" >
                <div class="title"><p>Ansible Galaxy is your hub for finding, reusing, and sharing the best Ansible content.</p></div>
            </div>
            {% if not user.is_authenticated %}
            <div class="col-lg-1"></div>
            <div class="col-lg-4">

                <div id="signin-home" style="display: block;">
                    <div class="signin-intro">
                        <h4>Create a free Galaxy account</h4>
                        <p>To start discovering, using and sharing Ansible content.</p>
                    </div>
                    <div class="buttons">
                        <button type="btn" id="sign-in-btn" class="btn btn-galaxy btn-default">Sign In</button>
                        <button type="btn" id="sign-up-btn" class="btn btn-galaxy btn-primary">Sign Up</button>
                    </div>
                </div>

                <div id="signup-instructions" style="display: none;">
                    <div class="signin-intro">
                        <h4>Create a free Galaxy account</h4>
                        <p>To start discovering, using and sharing Ansible content.</p>
                    </div>
                    <div class="login-social">
                        <p class="pad-top">Sign up with one of your existing accounts</p>
                        <ul class="social-links">
                            <li><a href="/accounts/twitter/login/"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="/accounts/google/login/"><i class="fa fa-google-plus fa-2x"></i></a></li>
                            <li><a href="/accounts/github/login/"><i class="fa fa-github fa-2x"></i></a></li>
                        </ul>
                        <p>or</p>
                        <p><a href id="create-account-link">Create a new account</a></p>
                    </div>
                    <div class="back-btn"><a href class="back-btn-link" data-target="signin-home"><i class="fa fa-arrow-circle-o-left"></i> back</a></div>
                </div>
                
                <div id="create-account-form" style="display: none;">
                    <div class="signin-intro">
                        <h4>Create a free Galaxy account</h4>
                        <p>To start discovering, using and sharing Ansible content.</p>
                    </div>
                    <form id="signup_form" method="POST" action="{% url 'account_signup' %}" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="text" class="form-control" id="username" maxlength="30" name="username" placeholder="Choose your username" autocomplete="off">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Provide your email" autocomplete="off">
                    </div>
                    <div class="form-group">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Create a password" autocomplete="off">
                    </div>
                    <div class="form-group">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up for Galaxy</button>
                    </form>
                    <div class="back-btn"><a href class="back-btn-link" data-target="signup-instructions"><i class="fa fa-arrow-circle-o-left"></i> back</a></div>
                </div>

                <div id="login-page" style="display: none;">
                    <div class="signin-intro">
                        <h4>Sign In</h4>
                        <p>Start discovering, using and sharing Ansible content.</p>
                    </div>
                    <div class="login-social">
                        <ul class="social-links">
                            <li><a href="/accounts/twitter/login/?process="><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="/accounts/google/login/?process="><i class="fa fa-google-plus fa-2x"></i></a></li>
                            <li><a href="/accounts/github/login/?process="><i class="fa fa-github fa-2x"></i></a></li>
                        </ul>
                        <p>or</p>
                    </div>
                    <div class="home-login-form">
                        <form method="POST" action="{% url 'account_login' %}" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="login" name="login" placeholder="Username/Email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" autocomplete="off" >
                            </div>
                            <button type="submit" class="btn btn-primary">Sign In</button>
                            <div class="remember">
                                <input type="checkbox" id="remember" name="remember" /> Remember me?
                            </div>
                            <div class="reset">
                                <a href="{% url 'account_reset_password' %}">Forgot password</a>
                            </div>
                        </form>
                    </div>
                    <div class="back-btn">
                        <a href class="back-btn-link" data-target="signin-home"><i class="fa fa-arrow-circle-o-left"></i> back</a>
                    </div>
                </div>

            </div>
            {% endif %}
        </div><!-- row -->
    </div><!-- container -->
</div><!-- banner -->

<script>
    $(document).ready(function() {
        // user clicks back button
        $('.back-btn-link').click(function(e) {
            var target = $(this).attr('data-target');
            var parent = $(this).parent().parent(); 
            parent.hide(); 
            $('#' + target).show('slide', {direction: 'up'}, 500);
            e.preventDefault();
            });
        // user clicks signup button
        $('#sign-up-btn').click(function(e) {
            $('#signin-home').hide();
            $('#signup-instructions').show('slide', { direction: 'up' }, 500);
            e.preventDefault();
            });
        $('#create-account-link').click(function(e) {
            $('#signup-instructions').hide();
            $('#create-account-form').show('slide', { direction: 'up' }, 500, function() {
                $('#username').focus();
                });
            e.preventDefault();
            });
        $('#sign-in-btn').click(function(e) {
            $('#signin-home').hide();
            $('#login-page').show('slide', { direction: 'up' }, 500, function() {
                $('#login').focus();
                });
            e.preventDefault();
            });
        });
</script>

<div class="info-row">
    <div class="container">
        <div class="row body">
            <div class="col-lg-4">
               <div class="round-border"><i class="fa fa-cloud-download fa-4x"></i></div>
               <h4>Download</h4>
               <div class="content-txt">
                   <p>Ansible Galaxy jump-starts your automation projects with great content from the Ansible community.</p>
                   <p>Ansible calls these pre-packaged units of automation <a href="http://docs.ansible.com/playbooks_roles.html#roles" target="_blank">roles</a>. Once downloaded, roles can be dropped into Ansible PlayBooks and immediately applied to your infrastructure.</p>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="round-border share"><i class="fa"><span class="glyphicon glyphicon-share"></span></i></div>
               <h4>Share</h4>
               <div class="content-txt">
                   <p>Help other Ansible users by sharing great Ansible roles that you have created.</p>
                   <p>Top content authors will be featured, achieving worldwide fame. Or at least, fame on the internet among developers and sysadmins just like yourself!</p>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="round-border"><i class="fa fa-thumbs-o-up fa-4x"></i></div>
               <h4>Review</h4>
               <div class="content-txt">
                   <p>Help others find great automation content by reviewing roles that you have used.</p>
                   <p>Reviews are rated too, so reviewers with the most karma rise to the top. You'll find great new things just by surfing the reviews of top reviewers!</p>
               </div>
            </div>
        </div>
    </div>
</div>

<hr class="home"/>

<div class="sponsorship-ad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Brought to you by</h4>
                <div class="ansible-logo"><a href="http://www.ansible.com" target="_blank"><img src="/static/img/ansible_logo_transparent.png"></a></div>
            </div>
            <div class="col-lg-6">
                <h4>Supercharge Ansible with</h4>
                <div class="awx-logo"><a href="http://www.ansible.com/ansible-tower" target="_blank"><img src="/static/img/tower_for_galaxy.png"></a></div>
            </div>
        </div>
    </div>
</div>

<div ng-view></div>

{% endblock %}

