{% extends 'base.html' %}

{% load url from future %}
{% load socialaccount %}
{% load galaxyhelpers %}

{% block general_content %}

<div id="galaxy-banner-content">
    <div id="galaxy-banner">
        <div class="bg"></div>
        <div class="stars-back"></div>
        <div class="stars-middle"></div>
        <div class="stars-front"></div>
        <div class="bg center"></div>
        <!-- <div id="galaxy-banner-inner"></div> -->
    </div>

    <div id="galaxy-banner-text">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">  
                    <div class="title-text">
                        <h1><span class="ansible-color">Ansible Galaxy</span> is your hub for finding, reusing and sharing the best Ansible content.</h1>
                    </div>
                </div>
                {% if not user.is_authenticated %}
                <div class="col-sm-6 login-text-container">
                    <div class="login-text">
                        <h2 class="login-title"><a href="/accounts/github/login/">Log Into Galaxy with GitHub</a></h2>
                        <div class="github-icon"><a href="/accounts/github/login/"><i class="fa fa-github fa-4x"></i></a></div>
                        <div class="alternate-signin"><a href="{% url 'account_login' %}">Use an existing account<br />not associated with GitHub</a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="galaxy-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="download-icon"><i class="fa fa-cloud-download fa-2x"></i></div>
                <div class="info-label">Download</div>
                <div class="content-txt">
                    <p>Jump-start your automation project with great content from the Ansible community. Galaxy provides pre-packaged units of work known to Ansible as <a href="http://docs.ansible.com/playbooks_roles.html#roles" target="_blank">roles</a>.
                     Roles can be dropped into Ansible PlayBooks and immediately applied to your infrastructure.</p>
                    <p>Use <a href="/list#/roles">Browse Roles</a> to find roles for your project. Then download a role onto your Ansible host using the “ansible-galaxy” command that comes bundled with Ansible.</p>
                    <p>For example:</p>
<pre>
$ ansible-galaxy install username.rolename
</pre>
                    <p><a href="/intro#download">Learn more...</a></p>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="share-icon"><i class="fa fa-share-alt fa-2x"></i></div>
               <div class="info-label">Share</div>
               <div class="content-txt">
                   <p>Be an active member of the community and help other Ansible users by sharing roles you create.</p>
                   <p>Maybe you have a role for installing and configuring a popular software package or a role for deploying software
                    built by your company. Whatever it is, use Galaxy to share it.</p>
                   <p>Top content authors will be featured, achieving worldwide fame. Or at least, fame on the internet among developers and sysadmins just like yourself!</p>
                   <p><a href="/intro#share">Learn more about creating and sharing roles...</a>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="featured-section">
                    <div id="title" class="upcase featured"><i class="fa fa-star fa-2x"></i> <span class="title-text">featured</span></div>
                    <div id="featured-role" class="featured">
                        <div id="featured-role-body" class="featured-body">
                            <span class="upcase title">role:</span><a href="" class="role-link"><span class="role-name"></span> - <span class="role-descr"></span></a>
                        </div>
                        <div class="controls">
                            <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
                            <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div id="featured-author" class="featured">
                        <div id="featured-author-body" class="featured-body">
                            <span class="upcase title">author:</span><a href="" class="author-link"><span class="author-name"></span><span class="author-descr"></span></a>
                        </div>
                        <div class="controls">
                            <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
                            <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div id="featured-blog" class="featured">
                        <div id="featured-blog-body" class="featured-body">
                            <span class="upcase title">blog:</span><a href="https://www.ansible.com/blog/ansiblefest-london-2016-presentations" target="_blank" class="blog-link">AnsibleFest London 2016 Presentations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="galaxy-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 banner-container">
                <a href="http://www.ansible.com" target="_blank"><img id="ansible-logo" src="/static/img/ansible-logo.png"></a>
                <div id="tower-banner">
                    <h2>Try Ansible Tower</h2>
                    <h3>Mission Control for Ansible</h3>
                    <a href="http://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=caffc3a7-7bd2-48be-9448-1e9f6ff68a24&placement_guid=c0f85a93-3309-47ba-b757-9f41c01be7b8&portal_id=330046&redirect_url=APefjpHLDSZnr1f7Y7x8u-qZA_rw2zIzt6vtYU6tiiEgm2kLMjGbP8VoNsXu0XJWOrqpUMWfZU0vx8DyRoAoa_fLVIFxpruLdWCOi0T6PElHvpibPhgDMuDYqs1xzz_QRpYg7GAdgUiLfkFhxwhJ2borIcusAn5-ht3FRXC4uXnIbcI34U3Z7E4B5N_BdRU-o65_mXi4YA_WKOp54o6M6PIObEBR5UrnYGle19C90HRJ5slxq13XhP2axCjZXbT4NniOZIOk5cE9E79U1ukpzpRvwHf9Vplqqg&hsutk=511166f6913230fe9fb7e3c9bd0f51d0&utm_referrer=http%3A%2F%2Fwww.ansible.com%2Forchestration&canon=http%3A%2F%2Fwww.ansible.com%2Forchestration&pageId=3363034806" class="download-btn btn btn-primary btn-sm" target="_blank">
                    <i class="fa fa-download"></i>&nbsp;&nbsp;Download <strong>Free Tower Trial</strong></a>
                </div>
            </div>
            <div class="col-md-4 left-border">
                <section>
                    <h2><a href="http://www.ansible.com/products" target="_blank">Products</a></h2>
                    <a href="http://www.ansible.com/tower" target="_blank" class="resource-link">Ansible Tower</a>
                    <a href="http://www.ansible.com/tower-features" target="_blank" class="resource-link">Tower Editions</a>
                    <a href="http://www.ansible.com/pricing" target="_blank" class="resource-link">Tower Pricing</a>
                    <a href="http://www.ansible.com/tower-trial" target="_blank" class="resource-link">Free Tower Trial</a>    
                    <a href="http://www.ansible.com/services" target="_blank" class="resource-link">Ansible Consulting</a>    
                </section>
                <section>
                    <h2><a href="http://www.ansible.com/resources" target="_blank">Resources</a></h2>
                    <a href="http://www.ansible.com/get-started" target="_blank" class="resource-link">Ansible Quick Start Guide</a>
                    <a href="http://www.ansible.com/videos" target="_blank" class="resource-link">Videos</a>
                    <a href="http://www.ansible.com/webinars-training" target="_blank" class="resource-link">Webinars &amp; Training</a>
                    <a href="http://www.ansible.com/case-studies" target="_blank" class="resource-link">Case Studies</a>
                    <a href="http://www.ansible.com/whitepapers" target="_blank" class="resource-link">Whitepapers</a>        
                </section>
            </div>
            <div class="col-md-4 left-border">
                <section>
                    <h2><a href="http://www.ansible.com/community" target="_blank">Community</a></h2>
                    <a href="http://www.ansible.com/events" target="_blank" class="resource-link">Upcoming Events</a>
                    <a href="http://ansible.meetup.com" target="_blank" class="resource-link">Ansible on Meetup</a>
                    <a href="http://github.com/ansible" target="_blank" class="resource-link">Ansible on GitHub</a>
                </section>

                <a class="free-link" href="https://support.ansible.com/" target="_blank" >Ansible Support</a>
                <a class="free-link" href="http://docs.ansible.com/" target="_blank" >Ansible Docs</a>
                <a class="free-link" href="http://ansible-inc.myshopify.com/" target="_blank" >Ansible Store</a>
                <a class="free-link" href="http://www.ansible.com/blog" target="_blank" >Ansible Blog</a>
                
                <div class="social-logos">
                    <a class="twitter-icon" href="http://twitter.com/ansible" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a class="linkedin-icon" href="https://www.linkedin.com/groups/Ansible-Users-4648083" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a class="facebook-icon" href="https://www.facebook.com/ansibleautomation" target="_blank"><i class="fa fa-facebook-f fa-2x"></i></a>
                    <a class="github-icon" href="http://github.com/ansible" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                </div>

            </div>
        </div><!-- container -->
    </div>
</div><!-- footer -->

<!-- div ng-view></div-->

<script>
    
    var featured_roles = [];
    var featured_authors = [];
    
    var current_role = {
        active: 1,
        index: 0
    };

    var current_author = {
        active: 1,
        index: 0
    };

    $.fn.extend({animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        $(this).addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
        });
    }});

    $(document).ready(function() {
        _loadMostStarred();
        _loadTopAuthors();
        
        $('#featured-role #featured-prev-link').click(function(e) {
            _clickLeft(e, current_role, featured_roles, _showCurrentRole);
        });

        $('#featured-role #featured-next-link').click(function(e) {
            _clickRight(e, current_role, featured_roles, _showCurrentRole);
        });

        $('#featured-role .interior-link').click(function(e) {
            _clickCircle(e, current_role, _showCurrentRole);
        });

        $('#featured-author #featured-prev-link').click(function(e) {
            _clickLeft(e, current_author, featured_authors, _showCurrentAuthor);
        });

        $('#featured-author #featured-next-link').click(function(e) {
            _clickRight(e, current_author, featured_authors, _showCurrentAuthor);
        });

        $('#featured-author .interior-link').click(function(e) {
            _clickCircle(e, current_author, _showCurrentAuthor);
        });

    });

    function _loadMostStarred() {
        $.get("/api/v1/search/roles/?order_by=-stargazers_count&page_size=10", function(data) {
            featured_roles = [];
            data.results.forEach(function(role) {
                featured_roles.push({
                    name: role.username + '.' + role.name,
                    description: role.description,
                    url: '/' + role.username + '/' + role.name
                });
            });
            _showCurrentRole('fade');
            $('#featured-role-body').dotdotdot();
        });
    }

    function _loadTopAuthors() {
        $.get("/api/v1/search/top_contributors/", function(data) {
            featured_authors = [];
            data.results.forEach(function(auth) {
                featured_authors.push({
                    name: auth.namespace,
                    description: ' with ' + auth.role_count + ' roles.',
                    url: '/' + auth.namespace + '/'
                });
            });
            _showCurrentAuthor('fade');
            $('#featured-author-body').dotdotdot();
        });
    }

    function _showCurrentRole(direction) {
        if (current_role.index >= 0 && current_role.index < featured_roles.length) {
            $('#featured-role-body').trigger('destroy');
            $('#featured-role-body').animateCss('fadeIn');
            $('#featured-role .role-link').attr('href', featured_roles[current_role.index].url);
            $('#featured-role .role-name').text(featured_roles[current_role.index].name);
            $('#featured-role .role-descr').text(featured_roles[current_role.index].description);
            $('#featured-role a[id^=featured-]').removeClass('active').addClass('inactive');
            switch (current_role.active) {
                case 1:
                    $('#featured-role #featured-one-link').removeClass('inactive').addClass('active');
                    break;
                case 2:
                    $('#featured-role #featured-two-link').removeClass('inactive').addClass('active');
                    break;
                case 3:
                    $('#featured-role #featured-three-link').removeClass('inactive').addClass('active');
            }
            $('#featured-role-body').dotdotdot();
        }
    }

    function _showCurrentAuthor(direction) {
        if (current_author.index >= 0 && current_author.index < featured_authors.length) {
            $('#featured-author-body').trigger('destroy');
            $('#featured-author-body').animateCss('fadeIn');
            $('#featured-author .author-link').attr('href', featured_authors[current_author.index].url);
            $('#featured-author .author-name').text(featured_authors[current_author.index].name);
            $('#featured-author .author-descr').text(featured_authors[current_author.index].description);
            $('#featured-author a[id^=featured-]').removeClass('active').addClass('inactive');
            switch (current_author.active) {
                case 1:
                    $('#featured-author #featured-one-link').removeClass('inactive').addClass('active');
                    break;
                case 2:
                    $('#featured-author #featured-two-link').removeClass('inactive').addClass('active');
                    break;
                case 3:
                    $('#featured-author #featured-three-link').removeClass('inactive').addClass('active');
            }
            $('#featured-author-body').dotdotdot();
        }
    }

    function _clickRight(e, current, dataset, showCurrent) {
        e.preventDefault();
        if (current.index < dataset.length) {
            current.index++;
            if (current.active < 3) {
                current.active++;
            } else {
                current.active = 1;
            }
            showCurrent('left');
        }
    }

    function _clickLeft(e, current, dataset, showCurrent) {
        e.preventDefault();
        if (current.index > 0) {
            current.index--;
            if (current.active > 1) {
                current.active--;
            } else {
                current.active = 3;
            }
            showCurrent('right');
       }
    }

    function _clickCircle(e, current, showCurrent) {
        e.preventDefault();
        var id = $(e.currentTarget).attr('id');
        var clicked = 0;
        if (id.match(/one/)) {
            clicked = 1;
        } 
        else if (id.match(/two/)) {
            clicked = 2;
        }
        else if (id.match(/three/)) {
            clicked = 3;
        }
        console.log(clicked)
        if (clicked > current.active && current.index < featured_roles.length) {
            current.index++;
            current.active = clicked;
            showCurrent();
        }
        if (clicked < current.active && current.index > 0) {
            current.index--;
            current.active = clicked;
            showCurrent();
        }
    }

</script>

{% endblock %}
