{% load contentblock %}

<div id="galaxy-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {% contentblock main-downloads %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {% contentblock main-share %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="featured-section">
                    <div id="title" class="upcase featured"><i class="fa fa-star fa-2x"></i> <span class="title-text">featured</span></div>
                    <div id="featured-role" class="featured">
                        <div id="featured-role-body" class="featured-body">
                            <span class="upcase title">role:</span><a href="" class="role-link"><span class="role-name"></span> - <span class="role-descr"></span></a>
                        </div>
                        <div class="controls">
                            <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
                            <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div id="featured-author" class="featured">
                        <div id="featured-author-body" class="featured-body">
                            <span class="upcase title">author:</span><a href="" class="author-link"><span class="author-name"></span><span class="author-descr"></span></a>
                        </div>
                        <div class="controls">
                            <a href="" id="featured-prev-link" class="end-link"><i class="fa fa-angle-left"></i></a>
                            <a href="" id="featured-one-link" class="interior-link active"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-two-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-three-link" class="interior-link inactive"><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></a>
                            <a href="" id="featured-next-link" class="end-link inactive"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div id="featured-blog" class="featured">
                        <div id="featured-blog-body" class="featured-body">
                            {% contentblock main-featured-blog %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- info -->

<div id="galaxy-footer"></div><!-- footer -->


<script>

    var featured_roles = [];
    var featured_authors = [];

    var current_role = {
        active: 1,
        index: 0
    };

    var current_author = {
        active: 1,
        index: 0
    };

    $.fn.extend({animateCss: function (animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        $(this).addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
        });
    }});

    $(document).ready(function() {
        _loadMostStarred();
        _loadTopAuthors();

        $('#featured-role #featured-prev-link').click(function(e) {
            _clickLeft(e, current_role, featured_roles, _showCurrentRole);
        });

        $('#featured-role #featured-next-link').click(function(e) {
            _clickRight(e, current_role, featured_roles, _showCurrentRole);
        });

        $('#featured-role .interior-link').click(function(e) {
            _clickCircle(e, current_role, _showCurrentRole);
        });

        $('#featured-author #featured-prev-link').click(function(e) {
            _clickLeft(e, current_author, featured_authors, _showCurrentAuthor);
        });

        $('#featured-author #featured-next-link').click(function(e) {
            _clickRight(e, current_author, featured_authors, _showCurrentAuthor);
        });

        $('#featured-author .interior-link').click(function(e) {
            _clickCircle(e, current_author, _showCurrentAuthor);
        });

    });

    function _loadMostStarred() {
        $.get("/api/v1/search/roles/?order_by=-stargazers_count&page_size=10", function(data) {
            featured_roles = [];
            data.results.forEach(function(role) {
                featured_roles.push({
                    name: role.username + '.' + role.name,
                    description: role.description,
                    url: '/' + role.username + '/' + role.name
                });
            });
            _showCurrentRole('fade');
            $('#featured-role-body').dotdotdot();
        });
    }

    function _loadTopAuthors() {
        $.get("/api/v1/search/top_contributors/", function(data) {
            featured_authors = [];
            data.results.forEach(function(auth) {
                featured_authors.push({
                    name: auth.namespace,
                    description: ' with ' + auth.role_count + ' roles.',
                    url: '/' + auth.namespace + '/'
                });
            });
            _showCurrentAuthor('fade');
            $('#featured-author-body').dotdotdot();
        });
    }

    function _showCurrentRole(direction) {
        if (current_role.index >= 0 && current_role.index < featured_roles.length) {
            $('#featured-role-body').trigger('destroy');
            $('#featured-role-body').animateCss('fadeIn');
            $('#featured-role .role-link').attr('href', featured_roles[current_role.index].url);
            $('#featured-role .role-name').text(featured_roles[current_role.index].name);
            $('#featured-role .role-descr').text(featured_roles[current_role.index].description);
            $('#featured-role a[id^=featured-]').removeClass('active').addClass('inactive');
            switch (current_role.active) {
                case 1:
                    $('#featured-role #featured-one-link').removeClass('inactive').addClass('active');
                    break;
                case 2:
                    $('#featured-role #featured-two-link').removeClass('inactive').addClass('active');
                    break;
                case 3:
                    $('#featured-role #featured-three-link').removeClass('inactive').addClass('active');
            }
            $('#featured-role-body').dotdotdot();
        }
    }

    function _showCurrentAuthor(direction) {
        if (current_author.index >= 0 && current_author.index < featured_authors.length) {
            $('#featured-author-body').trigger('destroy');
            $('#featured-author-body').animateCss('fadeIn');
            $('#featured-author .author-link').attr('href', featured_authors[current_author.index].url);
            $('#featured-author .author-name').text(featured_authors[current_author.index].name);
            $('#featured-author .author-descr').text(featured_authors[current_author.index].description);
            $('#featured-author a[id^=featured-]').removeClass('active').addClass('inactive');
            switch (current_author.active) {
                case 1:
                    $('#featured-author #featured-one-link').removeClass('inactive').addClass('active');
                    break;
                case 2:
                    $('#featured-author #featured-two-link').removeClass('inactive').addClass('active');
                    break;
                case 3:
                    $('#featured-author #featured-three-link').removeClass('inactive').addClass('active');
            }
            $('#featured-author-body').dotdotdot();
        }
    }

    function _clickRight(e, current, dataset, showCurrent) {
        e.preventDefault();
        if (current.index < dataset.length) {
            current.index++;
            if (current.active < 3) {
                current.active++;
            } else {
                current.active = 1;
            }
            showCurrent('left');
        }
    }

    function _clickLeft(e, current, dataset, showCurrent) {
        e.preventDefault();
        if (current.index > 0) {
            current.index--;
            if (current.active > 1) {
                current.active--;
            } else {
                current.active = 3;
            }
            showCurrent('right');
       }
    }

    function _clickCircle(e, current, showCurrent) {
        e.preventDefault();
        var id = $(e.currentTarget).attr('id');
        var clicked = 0;
        if (id.match(/one/)) {
            clicked = 1;
        }
        else if (id.match(/two/)) {
            clicked = 2;
        }
        else if (id.match(/three/)) {
            clicked = 3;
        }
        console.log(clicked)
        if (clicked > current.active && current.index < featured_roles.length) {
            current.index++;
            current.active = clicked;
            showCurrent();
        }
        if (clicked < current.active && current.index > 0) {
            current.index--;
            current.active = clicked;
            showCurrent();
        }
    }

</script>
