{% extends 'base.html' %}

{% load galaxyhelpers %}

{% block general_content %}

<div id="galaxy-page-title">
    <div class="container">
        <div class="page-title">
            {{ request.path | urlname }}
        </div>
    </div>
</div>

<div class="container" id="galaxy-intro-page">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <nav class="galaxy-intro-links hidden-sm hidden-xs" data-spy="affix" data-offset-top="160">
                <div class="galaxy-nav-title">
                    <i class="fa fa-bars"></i> MENU
                    <hr />
                </div>
                <ul class="nav" role="tablist">
                    <li><a href="#welcome">Welcome</a></li>
                    <li><a href="#download">Download Roles</a></li>
                    <li class="pad"><a href="#download-multiple">Download Multiple Roles</a></li>
                    <li class="pad"><a href="#download-advanced">Advanced Downloading</a></li>
                    <li><a href="#review">Star, Watch and Count</a></li>
                    <li><a href="#share">Share</a></li>
                    <li class="pad"><a href="#create-role">Create a Role</a>
                        <ul class="nav">
                            <li class="pad"><a href="#readme">README.md</a></li>
                            <li class="pad"><a href="#meta">Meta Data</a></li>
                            <li class="pad"><a href="#dependencies">Dependencies</a></li>
                            <li class="pad"><a href="#tags">Categories/Tags</a></li>
                            <li class="pad"><a href="#variables">Variable Names</a></li>
                        </ul>
                    </li>
                    <li class="pad"><a href="#role-test">Try It</a></li>
                    <li class="pad"><a href="#role-github">Upload to Github</a></li>
                    <li class="pad"><a href="#role-galaxy">Upload to Galaxy</a></li>
                    <li><a href="#travis">Automated Testing</a></li>
                    <li><a href="#questions">Questions</a></li>
                    <li class="back-to-top-link"><a href="#"><i class="fa fa-chevron-circle-up"></i> BACK TO TOP</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="intro-content">
                <h2 id="welcome">Welcome to Ansible Galaxy</h2>

                <p>Ansible Galaxy is Ansible’s official community hub for sharing Ansible roles. A role is the Ansible way of bundling automation content and making it reusable.</p>
                <p>If you're not familiar with the Ansible role concept, think of include files used in a programming language. An include file allows the programmer to organize code into reusable modules.
                  Code can be organized into smaller files and grouped by subject matter or function. These discrete pieces of code can then be included as needed into larger programs like building blocks.</p>
                <p>A role is similar. Instead of creating giant playbooks with hundreds of tasks we can use roles to organize tasks, breaking them apart into smaller more discrete units of work. But a role is more than
                    just an include file. A role is all the tasks, variables and handlers needed to complete the unit of work. This allows a role to be completely self contained or encapsulated and completely reusable.</p>
                <p>Using roles also allows us to think about node configuration in terms of modeling. For example, given a set of nodes that should be web servers we can simply apply a web server role to them. We don't have
                    to think about or write all the tasks needed to configure web servers. All the details are already encapsulated in a web server role - a role you downloaded from Galaxy.</p>

                <h3 id="download">Download Roles</h3>

                <p>You can find the most popular roles and recently added roles on the <a href="/explore#/">Explore</a> page, or use <a href="/list#/roles">Browse Roles</a> to search all roles available on Galaxy.</p>
                <p>Download a role onto your Ansible host using the <strong>ansible-galaxy</strong> command that comes bundled with Ansible.</p>
                <p>For example:</p>

<pre>
$ ansible-galaxy install username.rolename
</pre>

                <h4 id="download-multiple">Download Multiple Roles</h4>

                <p>A list of roles can be specified in a file. Provide roles one per line in the format <code>username.rolename[,version]</code>.</p>
                <p>For example:</p>

<pre>
# roles.txt
user1.role1,v1.0.0
user2.role2,v0.5
user2.role3
</pre>
                <p>Install the roles:</p>
<pre>
$ ansible-galaxy install -r roles.txt
</pre>
                <h4 id="download-advanced">Advanced Downloading</h4>

                <p>Starting in Ansible 1.8 you can download roles from sources other than Galaxy, and control the install path and installed name. To use these
                    features you will need to create a Yaml file with a <code>.yml</code> extension<p>
                <p>For example:</p>
<pre>
# install_roles.yml

# from galaxy
- src: yatesr.timezone

# from github
- src: https://github.com/bennojoy/nginx

# from github installing to a relative path
- src: https://github.com/bennojoy/nginx
  path: vagrant/roles/

# from github, overriding the name and specifying a specific tag
- src: https://github.com/bennojoy/nginx
  version: master
  name: nginx_role

# from a webserver, where the role is packaged in a tar.gz
- src: https://some.webserver.example.com/files/master.tar.gz
  name: http-role

# from bitbucket, if bitbucket happens to be operational right now :)
- src: git+http://bitbucket.org/willthames/git-ansible-galaxy
  version: v1.4

# from bitbucket, alternative syntax and caveats
- src: http://bitbucket.org/willthames/hg-ansible-galaxy
  scm: hg
</pre>

                <p>Install the roles:</p>

<pre>
$ ansible-galaxy install -r install_roles.yml
</pre>

                <h3 id="review">Star, Watch and Count</h3>

                <p>There are mutliptle ways to gauge the goodness and popularity of a role, and you can use them all to let the community know what you think.</p>

                <p>Found a role you really like? Click the GitHub <a href="" class="btn btn-default btn-xs" disabled="disabled"><i class="fa fa-star"></i> Star</a> button. Your click increases the role's stargazer count, which appears on Galaxy and on GitHub.</p>
                <p>In addition to starring a role, you can also watch a role. Click the <a href="" class="btn btn-default btn-xs" disabled="disabled"><i class="fa fa-eye"></i> Watch</a> button to become a
                watcher and receive updates from GitHub whenever there is an update to the role. Your click increases the watchers count on Galaxy and on GitHub.</p>
                <p>We're also tracking downloads. Each time a role is downloaded and installed with the <strong>ansible-galaxy</strong> command line tool the download count on Galaxy rises. The count is limited to one per IP address. It's not a perfect measurement, but it gives you a feel for how popular a role is.</p>  

                <h3 id="share">Share Roles</h3>
                <p>Share roles you create with the community. Roles can inlcude deploying popular applications, as well as automation around a product your company makes.</p>

                <h4 id="create-role">Create a Role</h4>
                <p>Let's suppose we want to create a role called acme that will install the Acme web server. Start by <a href="https://help.github.com/articles/create-a-repo">creating a new repository on github</a>.  Once created, clone the repository locally:</p>

<pre>
$ git clone https://username@github.com/username/ansible-role-acme.git acme
</pre>

                <p>Next, use <strong>ansible-galaxy</strong> to create the role scaffolding:</p>

<pre>
$ ansible-galaxy init acme --force
</pre>
                <p>This creates the directory structure needed for organizing your code:<p>
<pre>
acme/
    .travis.yml
    README.md
    defaults/
    files/
    handlers/
    meta/
    tasks/
    templates/
    tests/
    vars/
 </pre>
                <p>For more about developing a role and what goes into each of the components refer to
                 <a href="http://docs.ansible.com/ansible/playbooks_roles.html#roles" target="_blank">Roles on the Ansible Docs site</a>.
                </p>
                <h5>Good Practices</h5>
                <p>When developing a role there are a few practices you should always follow to help potential users discover your role and
                    make it easy for them to get started:</p>
                <ul>
                    <li>Provide clear documentation in the README.md.</li>
                    <li>Give accurate information in meta/main.yml.</li>
                    <li>Include dependencies in meta/main.yml.</li>
                    <li>Prefix variable names with the role name.</li>
                    <li>Integrate your roles with Travis CI. <a href="#travis">See how</a>.</li>
                </ul>
                <p>Sticking to these practices will help you create great roles. The community will love you, and you'll be hero!</p>

                <h5 id="readme">README.md</h5>
                <p>The init command provides a template README.md file. Tailor it to fit your role. This is your chance to
                  provide potential users what they need to get started using the role.</p>
                <p>The file is composed in <a href="https://help.github.com/articles/markdown-basics/" target="_blank">Github markdown</a>.
                    Make modifications to the file using markdown to ensure the document looks good on Galaxy and on Github.</p>
                <p>For example:</p>

<pre>
# README.md
# Ansible Role: Acme 2.x

An Ansible role that installs Acme 2.x on Centos 7.x

## Requirements

If you are using SSL/TLS, you will need to provide your own certificate and key files. You can generate a self-signed certificate with a command like `openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout example.key -out example.crt`.

## Role Variables

Available variables are listed below, along with default values:

    acme_listen_port: 80
    acme_listen_port_ssl: 443

## Dependencies

- username.iptables - configure the firewall and block all ports except those needed for the web server and ssh access.
- username.common - perform common server configuration

## Example Playbook

    - hosts: webservers
      roles:
        - { role: username.acme }

## License

MIT
</pre>
                <h5 id="meta">Meta Data - meta/main.yml</h5>

                <p>In meta/main.yml is where you fill in details about supported platforms, minimum required Ansible version, tags
                    that describe the role, dependencies, and information about you the author. All this information will appear on Galaxy. If it's
                    not accurate, users will not be able to find your role.</p>
                <p>Using <code>ansible-galaxy init</code> provides a template meta/main.yml for you to modify. It's written in <a href="http://www.yaml.org" target="_blank">yaml</a>, so be sure to follow the yaml standard as you make changes.</p>
                <p>A modified meta.yml file for our example would look like the following:</p>

<pre>
---
galaxy_info:
  author: John Doe
  description: Quick and easy acme web installer.
  company: Acme
  license: MIT
  min_ansible_version: 1.9
  platforms:
  - name: EL
    versions:
    - all
  galaxy_tags:
    - acme
    - installer
    - web
dependencies:
  - { role: username.common, some_parameter: 3 }
  - { role: username.iptables, open_port: 80 }
</pre>
                <h5 id="tags">Categories/Tags</h5>
                <p>Categories have been replaced by Tags. Adding a role to Galaxy will accept a list of either <em>categories:</em> or <em>galaxy_tags:</em>. However, this change will not be reflected in ansible-galaxy until version 2.0 of ansible. This means your template meta/main.yml may contain <em>categories:</em>, and that's OK.</p>
                <p>Regardless of which version of ansible you are running you can specify either <em>categories:</em> or <em>galaxy_tags:</em> in meta/main.yml. When adding the role to Galaxy the list will be treated as a list of tags. You can provide any tag values you feel will help users find your role. The number of tags imported by Galaxy is limited to 20, and tag values containing non-alphanumeric characters will be ignored.</p>
                <p>Tag values containing a : will be split into multiple tags. The tag <em>cloud:ec2</em>, for example, will become two tags: <em>cloud</em> and <em>ec2</em>.</p>
                <p>The idea behind tags of course is to help Galaxy users find your role. Provide multiple tags relevant to your role. Include broad terms such as <em>database</em> or <em>networking</em> along with more specific keywords like: <em>MySql</em>, <em>Cisco</em>, <em>ASR</em>, <em>TFTP</em>, etc.</p>
                <h5 id="dependencies">Dependencies</h5>
                <p>Ansible uses the dependencies section of meta/main.yml to download and apply any dependent roles. Add one or more dependent roles that Ansible will download and execute before running your role. Dependent role names are specified using the Galaxy author's username and the name of the role in the format <em>username.rolename</em>.</p>
                <p>For example:</p>
<pre>
dependencies:
  - { role: stouts.elasticsearch }
</pre>
                <p>Parameters can also be passed to the role:</p>
<pre>
dependencies:
  - { role: stouts.elasticsearch, elasticsearch_home: &quot;&#123;&#123; install_path_variable &#125;&#125;&quot;, elasticsearch_http_port: 8900 }
</pre>
                <p>For more on how Ansible handles role dependencies, see
                    <a href="http://docs.ansible.com/ansible/playbooks_roles.html#role-dependencies" target="_blank">Role Dependencies</a> at the Ansible 
                    docs site.</a>.<p>

                <h5 id="variables">Variable Names</h5>
                <p>A special note on naming variables within your role. This applies to variables defined in <code>defaults/main.yml</code> and <code>vars/main.yml</code>.
                <div class="alert alert-info"><p><strong>Note:</strong> Prefix variable names with the role name. Adding the role name
                    prevents variable name collision between roles. For example, use <code>rolname_foo</code> rather than <code>foo</code>.</p>
                </div>

                <h4 id="role-test">Try It</h4>
                <p>Once you are happy with your role, run it in a playbook, and make sure it’s ready to go:</p>
<pre>
# test.yml
# test playbook
- hosts: example
  roles:
  - { role: acme, param1: 42 }
</pre>
<pre>
$ ansible-playbook test.yml
</pre>
                <p>Testing roles is a great practice, and a habbit we recommend. See the <a href="#travis">Automated Testing with Travis CI</a> section for how to use <a href="http://travic-ci.org" target="_blank">Travis CI</a> to apply continous integration to your roles.</p>

                <h4 id="role-github">Upload to Github</h4>
                <p>Before you can share the role on Galaxy it needs to exist on Github. Once you finish development and testing
                push your latest changes up to Github by running the following from within the project directory:</p>
<pre>
$ git commit -a
$ git push
</pre>
                <h4 id="role-galaxy">Upload to Galaxy</h4>

                <p>Log into Galaxy and click on <strong>My Roles</strong>. You will see your GitHub repository listed. If it's not, click the refresh button:</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/my_roles_refresh.png">
                </div>

                <p>Next to the repository name toggle the switch on, so that you see a checkmark. This starts the import of your role.</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/my_roles_import.png">
                </div>

                <p>To see the status and detail output from the import process click the <a href="" class="btn btn-xs btn-default" disabled="disabled"><i class="fa fa-list"></i></a> button to the right of the role name.</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/my_roles_details.png">
                </div>

                <h5>Versions</h5>
                <p>If you applied any tags to your repository, Galaxy will automatically display a “version” for each tag.  This means users can choose the version (tag) to download.</p>

                <p>The default behavior, if there are no tags, is to make the “HEAD” version available. This means users downloading the role will always get the latest from the github repository.</p>

                <p>To import new tags, trigger a re-import from either <strong>My Roles</strong> or <strong>My Imports</strong> by clicking the <a href="" class="btn btn-xs btn-default" disabled="disabled"><i class="fa fa-upload"></i></a></p>

                <h3 id="travis">Automated Testing</h3>

                <p>Testing your roles is a great practice. Automating the testing is even better, and we've made it easy for you to add <a href="http://travis-ci.org" target="_blank">Travis CI</a> to your roles.</p>

                <p>Add your <a href="https://blog.travis-ci.com/2013-01-28-token-token-token/" target="_blank">Travis token</a> to any role you want to integrate. Your token is not stored in Galaxy. It is used to calculate a hash as described in <a href="https://nimbus.everhelper.me/client/notes/share/348471/cV0BPMEabFS1tMQSVTk2wHuHDl0lAn6T/" target="_blank">the Travis documentation</a> and then discarded.</p>

                <p>Add the token on <strong>My Roles</strong>:</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/add-token.png">
                </div>

                <p>Enable the repo on your Travis profile page:</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/enable-in-travis.png">
                </div>

                <p>Add a .travis.yml file to your repo that includes a notifications section with webhooks pointed to the beta server as pictured below:</p>
<pre>
notifications:
    webhooks: https://galaxy-qa.ansible.com/api/v1/notifications/
</pre>

                <div class="alert alert-info">
                    <p><strong>NOTE:</strong> For a full .travis.yml example run <code>ansible-galaxy init</code>. Starting in Ansible 2.0 the generated scaffolding includes a working .travis.yml file and related tests folder.</p>
                </div>

                <p>Push the changes to your GitHub repo, and see the Travis build icon appear on your role:</p>

                <div class="screen-shot">
                    <img src="/static/img/intro/travis-integrated.png">
                </div>

                <h4 id="specify-branch">Specify a Branch</h4>
                Notifications from Travis will be accepted for the GitHub repo's default branch (usually master). If you want to set a specific branch that notifications will be accepted from, define <code>github_branch</code> in meta/main.yml:
<pre>
galaxy_info:
    galaxy_info:
    author: Me
    description: Testing role imports.
    ...

    github_branch: release
    
    ...
</pre>
                <h3 id="questions">Questions?</h3>

                <p>If you have unanswered Galaxy questions, feel free to ask on the <a href="https://groups.google.com/forum/#!forum/ansible-project" target="_blank">Ansible mailing list</a>. Found a bug or have  a suggestion? Let us know at <a href="https://github.com/ansible/galaxy-issues" target="_blank">Galaxy Issues</a>.</p>
                <div class="alert alert-info">
                    <p><strong>NOTE:</strong> Contents, usage and bugs related to specific roles will not be supported on the mailing list. Contact the role author via GitHub. The role details provided in Galaxy include a link to the Github repository, and when available, the issue tracker.</p>
                </div>
            </div><!-- intro-content -->
        </div><!-- col-lg-9 -->
    </div><!-- row -->
</div>
{% endblock %}
