{% load galaxyhelpers %}
{% get_galaxy_version as version %}
{% include 'header.html' %}

<div class="wrap">
    <div class="content">
        {% block body %}
        <nav id="galaxy-navbar" class="navbar navbar-default {% if ng_app == 'listApp' %} navbar-fixed-top {% endif %}">
            <div id="galaxy-navbar-container" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main:home' %}"><div class="title">galaxy</div></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% include 'menu.html' %}
                </div>
            </div><!-- container-fluid -->
        </nav>

        {% block content %}{% endblock %}
        {% endblock %}

    </div>
    {% include 'footer.html' %}
</div> <!-- end wrap -->
