
<ul class="nav navbar-nav navbar-right">
    <li><a href="/intro">About</a></li>
    <li><a href="{% url 'main:explore' %}#/">Explore</a></li>
    <li><a href="{% url 'main:list-category' %}#/roles">Browse Roles</a></li>
    <li><a href="{% url 'main:list-category' %}#/users">Browse Users</a></li>
    {% if not user.is_authenticated %}
    <!-- <a type="button" class="btn btn-sm btn-default" href="/accounts/login">Sign In</a> -->
    {% else %}
    <li><a type="button" href="{% url 'main:accounts-role-add' %}">Add a Role</a></li>
    <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown" >
            <i class="fa fa-user"></i> <span class="username">{{ user.username }}</span> <span class="caret"></span></a>
        <ul class="dropdown-menu user-menu">
            <li><a href="{% url 'main:accounts-profile' %}">My Roles</a></li>
            <li><a href="/list#/users/{{ user.id }}">My User Page</a></li>
            <li><a href="{% url 'account_email' %}">Manage E-mail</a></li>
            {% url 'socialaccount_connections' as connections_url %}
            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
        </ul>
    </li>
    {% endif %}
</ul>
