
<ul class="nav navbar-nav navbar-right" id="galaxy-nav-items" {% if use_menu_controller %} ng-controller="MenuCtrl" {% endif %}>
    <li {% if url_items.1.0 == 'intro' %} class="active" {% endif %}><a href="/intro">About</a></li>
    <li {% if url_items.1.0 == 'explore' %} class="active" {% endif %}><a href="{% url 'main:explore' %}#/">Explore</a></li>
    <li id="nav-menu-browse-roles"><a href="{% url 'main:list-category' %}#/roles">Browse Roles</a></li>
    {% if not user.is_authenticated %}
        <li><a {% if not use_menu_controller %} href="/accounts/login?next={{ request.path }}" {% endif %}
            {% if use_menu_controller %} href="" ng-click="redirectToSignin()" {% endif %}>Sign In</a></li>
    {% else %}
        <li {% if url_items.1.0 == 'roleadd' %} class="active" {% endif %}><a type="button" href="{% url 'main:role-add-category' %}">My Roles</a></li>
        {% if url_items.1.0 == 'accounts' and url_items.2.0 == 'profile' or url_items.2.0 == 'email' %}
            <li class="dropdown active">
        {% else %}
            <li id="nav-menu-dropdown" class="dropdown">
        {% endif %}
            <a href class="dropdown-toggle" data-toggle="dropdown" >
                <i class="fa fa-user"></i> <span class="username">{{ user.username }}</span> <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right user-menu">
                <li><a href="{% url 'main:import-status-view' %}">My Imports</a></li>
                <li><a href="{% url 'account_email' %}">Manage E-mail</a></li>
                {% url 'socialaccount_connections' as connections_url %}
                {% if connections_url %}
                    <li><a href="{{ connections_url }}">Manage Linked Accounts</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
        </li>
    {% endif %}
</ul>
