{% extends 'base.html' %}

{% load avatar_tags %}
{% load galaxyhelpers %}

{% block general_content %}
 <div class="row-fluid">
  <div class="role">
   <div class="roleheader">
    <div class="pull-left avatar">{% avatar role.owner 96 %}</div>
    <div class="roleinfo overflow-hidden">
     <div class="roleinfo-top"><span class="rolename">{{role.name}}</span><br /><span class="username"><a href="{% url 'main:user-view' role.owner.username %}">{{role.owner.username}}</a></span></div>
     <div class="roleinfo-bottom">
      <div class="role-avgs pull-left">
      {% if other_avg_scores %}
       <strong>Average Score: {{other_avg_scores.avg_score|floatformat:"2"}}</strong><br />
       Ease of Use: {{other_avg_scores.ease_of_use|floatformat:"2"}}/5<br />
       Documentation: {{other_avg_scores.documentation|floatformat:"2"}}/5<br />
       Best Practices: {{other_avg_scores.best_practices|floatformat:"2"}}/5<br />
       Repeatability: {{other_avg_scores.repeatability|floatformat:"2"}}/5<br />
       Platform Support: {{other_avg_scores.platform_support|floatformat:"2"}}/5<br />
       <strong>Overall: {{other_avg_scores.overall|floatformat:"2"}}/5</strong>
      {% else %}
       <strong>This role has received any ratings yet.</strong>
      {% endif %}
      </div>
      <div class="role-awx-avgs pull-left">
      {% if awx_avg_scores %}
       <strong>Ansible Score: {{awx_avg_scores.avg_score|floatformat:"2"}}</strong><br />
       Ease of Use: {{awx_avg_scores.ease_of_use|floatformat:"2"}}/5<br />
       Documentation: {{awx_avg_scores.documentation|floatformat:"2"}}/5<br />
       Best Practices: {{awx_avg_scores.best_practices|floatformat:"2"}}/5<br />
       Repeatability: {{awx_avg_scores.repeatability|floatformat:"2"}}/5<br />
       Platform Support: {{awx_avg_scores.platform_support|floatformat:"2"}}/5<br />
       <strong>Overall: {{awx_avg_scores.overall|floatformat:"2"}}/5</strong>
      {% else %}
       <strong>Not yet rated by Ansible</strong>
      {% endif %}
      </div>
      <div class="role-auth pull-left">
      {% if role.issue_tracker_url != "" %}
       <div><a class="btn btn-success" href="{{role.issue_tracker_url}}"><i class="icon-link"></i> Issue Tracker</a></div>
      {% endif %}
      {% if user.is_authenticated %}
       <div><a class="btn btn-inverse"><i class="icon-star-half-empty"></i> Add Review/Rating</a></div>
      {% endif %}
      </div>
      <div class="clearfix">&nbsp;</div>
     </div>
     <div class="roleinfo-description">
      <div>
       <h3 class="clearmargin">Installation Instructions:</h3>
       <code>$ ansible-galaxy install {{role.owner.username}}.{{role.name}}</code>
      </div>
      <h3 class="clearmargin">Description</h3>
      <div>{{role.description|markdown|safe}}</div>
     </div>
    </div>
   </div>
   {% if awx_ratings|length > 0 %}
   <h2 class="clearmargin">Ansible Staff Reviews</h2>
   <strong>{{awx_ratings|length}} total</strong>
   {% for role_rating in awx_ratings %}
   {% include 'snippets/render_rating' with role_rating=role_rating only %}
   {% endfor %}
   {% endif %}
   {% if other_ratings|length > 0 %}
   <h2 class="clearmargin">Reviews by All Users</h2>
   <strong>{{other_ratings|length}} total</strong>
   {% for role_rating in other_ratings %}
   {% include 'snippets/render_rating' with role_rating=role_rating only %}
   {% endfor %}
   {% else %}
   <strong>This role does not yet have any reviews</strong>
   {% endif %}
  </div> <!-- end role div -->
 </div> <!-- end row-fluid -->
{% endblock %}

