{% extends 'base.html' %}

{% load galaxyhelpers %}
{% load humanize %}
{% load tz %}

{% block general_content %}

<div id="galaxy-page-title">
    <div class="container">
        <div class="page-title">Role Detail</div>
    </div>
</div>


<div class="container" id="galaxy-role-detail">
    {% if is_staff %}
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-offset-6 col-xs-6 text-right">
            <a class="btn btn-danger btn-sm" href="" id="delete-btn" data-user="{{ role.github_user}}" data-repo="{{ role.github_repo }}"><i class="fa fa-trash-o"></i> Delete Role</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-6">
            <h2 class="rolename"><a href="/{{ role.namespace.name }}">{{ role.namespace.name }}</a>.{{ role.name }}</h2>
            <div class="description">{{role.description}}</div>
        </div>
        {% if namespace and namespace.avatar_url %}
        <div class="col-xs-6 text-right">
            <div class="user-info">
                <img src="{{ namespace.avatar_url }}" />
                <p class="username"><a href="{{ namespace.html_url }}" target="_blank">{{ namespace_name }}</a></p>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="documentation">
                
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
                    </li>
                    <li role="presentation">
                        <a href="#readme" aria-controls="readme" role="tab" data-toggle="tab">README</a>
                    </li>
                    {% if videos %}
                    <li role="presentation">
                        <a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a>
                    </li>
                    {% endif %}

                    {% if role.container_yml %}
                    <li role="presentation">
                        <a href="#container-yml" aria-controls="container-yml" role="tab" data-toggle="tab">Container.yml</a>
                    </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="details">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="badge-container">
                                    {% if role.travis_build_url %}
                                    <a href="{{ role.travis_build_url }}" target="_blank">
                                    <img src="{{ role.travis_status_url }}" class="travis-status-img" data-toggle="tooltip" data-placement="top" title="Travis Build Status" />
                                    </a>
                                    {% endif %}
                                    <div class="download-badge" data-toggle="tooltip" data-placement="top" title="Galaxy Download Count">
                                        <div class="title">Downloads</div>
                                        <div class="count">{{ role.download_count }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row button-row">
                            <div class="col-sm-8">
                                
                                {% if role.issue_tracker_url %}
                                <a class="btn btn-default btn-md" href="{{ role.issue_tracker_url }}"
                                   ng-show="role.issue_tracker_url" target="_blank"><i class="fa fa-bug"></i> Issue Tracker</a>
                                {% endif %}

                                <a class="btn btn-default btn-md" href="https://github.com/{{role.github_user}}/{{role.github_repo}}" target="_blank"><i class="fa fa-github"></i> Github Repo</a>

                                <a id="download-btn" class="btn btn-default btn-md"
                                   data-id="{{ role.id }}"
                                   data-name="{{ role.name }}"
                                   href="https://github.com/{{ role.github_user }}/{{ role.github_repo }}/archive/{{ role.github_default_branch }}.zip">
                                    <i class="fa fa-cloud-download"></i> Download
                                </a>

                                {% if is_authenticated %}
                                        <a href="" id="unsubscribe-btn"
                                            class="btn btn-default btn-md"
                                            data-id="{{ subscriber_id }}"
                                            data-namespace="{{ role.namespace.name }}"
                                            data-name="{{ role.name }}"
                                            data-user="{{ role.github_user }}" 
                                            data-repo="{{ role.github_repo }}" 
                                            {% if not is_subscriber %}
                                            style="display:none;"
                                            {% endif %}
                                            >
                                            <i class="fa fa-eye"></i><i class="fa fa-spinner fa-spin" style="display: none;"></i> Unwatch &nbsp;
                                            <span class="count">{{ role.watchers_count }}</span>
                                        </a>
                                        <a href="" id="subscribe-btn" 
                                            data-namespace="{{ role.namespace.name }}"
                                            data-name="{{ role.name }}"
                                            data-user="{{ role.github_user }}" 
                                            data-repo="{{ role.github_repo }}" 
                                            class="btn btn-default btn-md"
                                            {% if is_subscriber %}
                                            style="display:none;"
                                            {% endif %}
                                            >
                                            <i class="fa fa-eye"></i>
                                            <i class="fa fa-spinner fa-spin" style="display: none;"></i> Watch &nbsp;
                                            <span class="count">{{ role.watchers_count }}</span>
                                        </a>
                                    
                                        <a href="" id="unstar-btn"
                                            class="btn btn-default btn-md"
                                            data-id="{{ stargazer_id }}"
                                            data-namespace="{{ role.namespace.name }}"
                                            data-name="{{ role.name }}"
                                            data-user="{{ role.github_user }}" 
                                            data-repo="{{ role.github_repo }}" 
                                            {% if not is_stargazer %}
                                            style="display:none;"
                                            {% endif %}
                                            >
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-spinner fa-spin" style="display: none;"></i> Unstar &nbsp;
                                            <span class="count">{{ role.stargazers_count }}</span>
                                        </a>
                                        <a href="" id="star-btn"
                                            class="btn btn-default btn-md"
                                            data-namespace="{{ role.namespace.name }}"
                                            data-name="{{ role.name }}"
                                            data-user="{{ role.github_user }}" 
                                            data-repo="{{ role.github_repo }}" 
                                            {% if is_stargazer %}
                                            style="display:none;"
                                            {% endif %}
                                            >
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-spinner fa-spin" style="display: none;"></i> Star &nbsp;
                                            <span class="count">{{ role.stargazers_count }}</span>
                                        </a>
                                {% else %}
                                        <a href="" ng-click="subscribe(role)" class="btn btn-default btn-md" disabled="disabled">
                                            <i class="fa fa-eye"></i> Watch &nbsp;{{ role.watchers_count }}
                                        </a>
                                        <a href="" class="btn btn-default btn-md" disabled="disabled">
                                            <i class="fa fa-star"></i> Star &nbsp;{{ role.stargazers_count }}
                                        </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="details">
                                    <tr>
                                        <td class="key">Type</td>
                                        <td class="value">{{ role_type }}</td>
                                    </tr>
                                    {% if role.min_ansible_version %}
                                    <tr>
                                        <td class="key">Minimum Ansible Version</td>
                                        <td class="value">{{ role.min_ansible_version }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if role.min_ansible_container_version %}
                                    <tr>
                                        <td class="key">Minimum Ansible Container Version</td>
                                        <td class="value">{{ role.min_ansible_container_version }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if role.role_type != role.DEMO %}
                                    <tr>
                                        <td class="key">Installation</td>
                                        <td class="value"><code>$ {{ install_command }} {{ role.namespace.name }}.{{ role.name }}</code></td>
                                    </tr>
                                    {% endif %}
                                    {% if tags %}
                                    <tr>
                                        <td class="key">Tags</td><td class="value">
                                            {% for tag in tags %}
                                            <div class="galaxy-tag">{{ tag }}</div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="key">Last Commit</td>
                                        <td class="value">
                                            {% if last_commit_date %}
                                            {% localtime off %}
                                                <time datetime="{{ last_commit_date | date:'c' }}"
                                                      title="{{ last_commit_date | date:'M j, Y g:i:s a' }} UTC">
                                                    {{ last_commit_date | naturaltime }}
                                                </time>
                                            {% endlocaltime %}
                                            {% else %}
                                                NA
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="key">Last Imported</td>
                                        <td class="value" >
                                            {% if import_date %}
                                            {% localtime off %}
                                                <time datetime="{{ import_date | date:'c' }}"
                                                      title="{{ import_date | date:'M j, Y g:i:s a' }} UTC">
                                                    {{ import_date | naturaltime }}
                                                </time>
                                            {% endlocaltime %}
                                            {% else %}
                                                NA
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-sm-12">
                                {% if versions %}
                                <div class="versions section">
                                    <table class="table ga-table-striped">
                                        <caption>Version History</caption>
                                        <thead>
                                            <tr>
                                                <th>Version</th>
                                                <th>Release Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            {% for version in versions %}
                                            <tr>
                                                <td>{{ version.loose_version }}</td>
                                                <td>
                                                    {% if version.release_date %}
                                                    {% localtime off %}
                                                        <time datetime="{{ version.release_date | date:'c' }}"
                                                              title="{{ version.release_date | date:'M j, Y g:i:s a' }} UTC">
                                                            {{ version.release_date | naturaltime }}
                                                        </time>
                                                    {% endlocaltime %}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {{ versions.count }}
                                            {% if versions|length == 0 %}
                                            <tr>
                                                <td colspan="2">No version history available.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if platforms %}
                                <div class="platforms section">
                                    <table class="table ga-table-striped">
                                        <caption>OS Platforms</caption>
                                        <thead>
                                            <tr>
                                                <th>Platform</th>
                                                <th>Version</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            {% for platform in platforms %}
                                            <tr>
                                                <td>{{ platform.name }}</td>
                                                <td>{{ platform.release }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% if platforms.count == 0 %}
                                            <tr>
                                                <td colspan="2">No platform information available.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if cloud_platforms %}
                                <div class="section">
                                    <table class="table ga-table-striped">
                                        <caption>Cloud Platforms</caption>
                                        <thead><th>Platform</th></thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            {% for cloud_platform in cloud_platforms  %}
                                                <tr>
                                                    <td>{{ cloud_platform.name }}</td>
                                                </tr>
                                            {% endfor %}
                                            {%  if cloud_platforms.count == 0 %}
                                            <tr>
                                                <td colspan="2">No cloud platform information available.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if dependencies %}
                                <div class="dependencies section">
                                    <table class="table ga-table-striped">
                                        <caption>Dependencies</caption>
                                        <thead>
                                            <tr>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            {% for dependency in dependencies %}
                                            <tr>
                                                <td><a href="/{{ dependency.namespace.name }}/{{ dependency.name }}">{{ dependency.namespace.name }}.{{ dependency.name }}</a></td>
                                            </tr>
                                            {% endfor %}
                                            {% if dependencies.count == 0 %}
                                            <tr>
                                                <td colspan="2">No dependencies.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if imports %}
                                <div class="imports section">
                                    <table class="table ga-table-striped">
                                        <caption>Last 10 Imports</caption>
                                        <thead>
                                            <tr>
                                                <th>Completed</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-scroller">
                                        <table class="table ga-table-striped">
                                            <tbody>
                                            {% for import in imports %}
                                            <tr>
                                                <td>
                                                    {% if import.finished %}
                                                    {% localtime off %}
                                                        <time datetime="{{ import.finished | date:'c' }}"
                                                              title="{{ import.finished | date:'M j, Y g:i:s a' }} UTC">
                                                            {{ import.finished | naturaltime }}
                                                        </time>
                                                    {% endlocaltime %}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td>
                                                <td>{{ import.state }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% if imports.count == 0 %}
                                            <tr >
                                                <td colspan="2">No imports.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                            </div> 
                        </div>
                    </div><!-- tabpanel -->

                    <div role="tabpanel" class="tab-pane" id="readme">
                        {{ readme_html | safe }}
                    </div>

                    {% if videos %}
                    <div role="tabpanel" class="tab-pane" id="videos">
                        <div class="video-tab-content">
                            {% for video in videos %}
                            <div class="video">
                                <iframe src="{{ video.url }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <div class="video-title">{{ video.description }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div role="tabpanel" class="tab-pane" id="container-yml">
<pre>
{{ role.container_yml | safe }}
</pre>
                    </div>
                </div><!-- tab content -->

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $('#galaxy-nav-items li').each(function() {
            t = $(this).find('a').text();
            if (t === 'Search') {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });

        $('#subscribe-btn').click(function(e) {
            e.preventDefault();
            subscribe();
        });
        $('#unsubscribe-btn').click(function(e) {
            e.preventDefault();
            unsubscribe();
        });
        $('#star-btn').click(function(e) {
            e.preventDefault();
            star();
        });
        $('#unstar-btn').click(function(e) {
            e.preventDefault();
            unstar();
        });
        $('#delete-btn').click(function(e) {
            e.preventDefault();
            delete_role();
        });
        $('#download-btn').click(function(e) {
            updateDownloadStatistics();
        });
    });

    function get_token() {
        // Get the CSRF token
        // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
        var name = 'csrftoken';
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function delete_role() {
        var github_user = $('#delete-btn').attr('data-user');
        var github_repo = $('#delete-btn').attr('data-repo');
        $.ajax('/api/v1/removerole/?github_user=' + github_user + '&github_repo=' + github_repo, {
            'method': 'DELETE',
            'headers': { 'X-CSRFToken': get_token() },
            success: function() {
                window.location = '/{{ role.namespace.name }}/'
            }
        });
    }

    function _eventTrack(action, username, name, github_user, github_repo) {
        if (window.ga) {
            var eventOptions = {
                eventCategory: username + '/' + name,
                eventAction: action,
                eventLabel: github_user + '/' + github_repo,
                eventValue: null,
                nonInteraction: false,
                page: window.location.pathname,
                userId: null
            };
            ga('send', 'event', eventOptions);
        }
    }
    
    /*$analytics.eventTrack(event, {
                category: _role.username + '.' + _role.name,
                label: _role.github_user + '/' + _role.github_repo
            });
    */

    function star() {
        elem = $('#star-btn');
        var user = elem.attr('data-user');
        var repo = elem.attr('data-repo');
        var role_namespace = elem.attr('data-namespace');
        var role_name = elem.attr('data-name'); 
        
        _eventTrack('star', role_namespace, role_name, user, repo);

        elem.find('.fa-star').hide();
        elem.find('.fa-spin').show();
        var count = parseInt(elem.find('.count').text());

        $.ajax('/api/v1/repositories/stargazers/', {
            'method': 'POST',
            'data': {
                'github_user': user,
                'github_repo': repo
            },
            'headers': { 'X-CSRFToken': get_token() },
            'success': function(data) {
                elem.find('.fa-star').show();
                elem.find('.fa-spin').hide();
                elem.find('.count').text(count + 1);
                elem.hide();
                var u = $('#unstar-btn');
                u.attr('data-id', data.result.id);
                u.find('.count').text(count + 1);
                u.show();
            }
        });
    }

    function unstar() {
        var elem = $('#unstar-btn');
        var id = elem.attr('data-id');
        var user = elem.attr('data-user');
        var repo = elem.attr('data-repo');
        var role_namespace = elem.attr('data-namespace');
        var role_name = elem.attr('data-name');

        _eventTrack('unstar', role_namespace, role_name, user, repo);

        elem.find('.fa-star').hide();
        elem.find('.fa-spin').show();
        var count = parseInt(elem.find('.count').text());

        $.ajax('/api/v1/repositories/stargazers/' + id + '/', {
            'method': 'DELETE',
            'headers': { 'X-CSRFToken': get_token() },
            'success': function(data) {
                elem.find('.fa-star').show();
                elem.find('.fa-spin').hide();
                elem.find('.count').text(count - 1);
                elem.hide();
                var s = $('#star-btn');
                s.find('.count').text(count - 1);
                s.show();
            }
        });
    }

    function subscribe() {
        var elem = $('#subscribe-btn');
        var user = elem.attr('data-user');
        var repo = elem.attr('data-repo');
        var role_namespace = elem.attr('data-namespace');
        var role_name = elem.attr('data-name');

        _eventTrack('watch', role_namespace, role_name, user, repo);

        elem.find('.fa-eye').hide();
        elem.find('.fa-spin').show();
        var count = parseInt(elem.find('.count').text());

        $.ajax('/api/v1/repositories/subscriptions/', {
            'method': 'POST',
            'data': {
                'github_user': user,
                'github_repo': repo
            },
            'headers': { 'X-CSRFToken': get_token() },
            'success': function(data) {
                elem.find('.fa-eye').show();
                elem.find('.fa-spin').hide();
                elem.find('.count').text(count + 1);
                elem.hide();
                var u = $('#unsubscribe-btn');
                u.attr('data-id', data.result.id);
                u.find('.count').text(count + 1);
                u.show();
            }
        });
    }

    function unsubscribe() {
        elem = $('#unsubscribe-btn');
        var id = elem.attr('data-id');
        var user = elem.attr('data-user');
        var repo = elem.attr('data-repo');
        var role_namespace = elem.attr('data-namespace');
        var role_name = elem.attr('data-name'); 

        _eventTrack('unwatch', role_namespace, role_name, user, repo);

        elem.find('.fa-eye').hide();
        elem.find('.fa-spin').show();
        var count = parseInt(elem.find('.count').text());
        
        $.ajax('/api/v1/repositories/subscriptions/' + id + '/', {
            'method': 'DELETE',
            'headers': { 'X-CSRFToken': get_token() },
            'success': function(data) {
                elem.find('.fa-eye').show();
                elem.find('.fa-spin').hide();
                elem.find('.count').text(count - 1);
                elem.hide();
                s = $('#subscribe-btn');
                s.find('.count').text(count - 1);
                s.show();
            }
        });
    }

    function updateDownloadStatistics() {
        var elem = $('#download-btn');
        var id = elem.attr('data-id');

        $.ajax('/api/v1/roles/'+ id +'/downloads/', {
            'method': 'POST',
            'headers': { 'X-CSRFToken': get_token() }
        });
    }
</script>

{% endblock %}
