{% extends 'base.html' %}

{% load galaxyhelpers %}

{% block general_content %}

<div id="galaxy-page-title">
    <div class="container">
        <div class="page-title">Browse Authors</div>
    </div>
</div>


<div class="container" id="galaxy-author-page">
    <h2>{{ namespace }}</h2>     
    <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
            <form method="GET" id="search-form" action="/{{ namespace }}/">
                <div class="form-group search-group">
                    <input type="text" class="form-control" name="role" value="{{ search_value }}" id="role-field" placeholder="Search roles">
                    <a href="" id="search-link"><i class="fa fa-search"></i></a>
                    <a href="" id="search-clear-link"><i class="fa fa-times"></i></a>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td><a href="/{{ role.namespace }}/{{ role.name }}/">{{ role.name }}</a></td>
                <td>
                    {{ role.description }}
                </td>
            </tr>
            {% endfor %}
            {% if roles.count == 0 %}
            <tr>
                <td colspan="5">No roles found for {{ namespace }}.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#galaxy-nav-items li').each(function() {
            t = $(this).find('a').text();
            if (t === 'Browse Authors') {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });

        $('#search-clear-link').click(function(e) {
            e.preventDefault();
            window.location='/{{ namespace }}/'
        });

        $('#search-link').click(function(e) {
            e.preventDefault();
            $('#search-form').submit();
        });

        $('#role-field').change(function() {
            _checkVal();
        });

        _checkVal();

        function _checkVal() {
            val = $('#role-field').val();
            if (val) {
                $('#search-clear-link').show();
                $('#search-link').hide();
            } else {
                $('#search-clear-link').hide();
                $('#search-link').show();
            }
        }
    });
</script>

{% endblock %}