{% extends 'refresh2014/master.html' %}
{% load webdesign %}

{%block title %}Sytle Guide{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/style-guide.css">
{% endblock %}

{% block main_container %}
<h1>Style Guide</h1>

<h2>Body Copy</h2>

<div class="example">
Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.

Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
</div>

<h2>Block Quote</h3>

<div class="example">
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>

<h2>Typography</h2>

<div class="example">
  <table>
    <tr>
      <td><h1>h1. Primary Heading</h1></td>
    </tr>
    <tr>
      <td><h2>h2. Secondary Heading</h2></td>
    </tr>
    <tr>
      <td><h3>h3. Tertiary Heading</h3></td>
    </tr>
    <tr>
      <td><h4>h4. Quaternary Heading</h4></td>
    </tr>
    <tr>
      <td><h5>h5. Quinary Heading</h5></td>
    </tr>
  </table>
</div>

<h2>Modules</h2>

<h3>Home Page Heading</h3>

<div class="example">
  <header class="hero grid grid--center grid--middle">
    <div class="hero__tagline grid__item e-6--palm e-12 grid--center grid--center--palm">
      <h1 class="tagline">Find, reuse and share the best Ansible content</h1>
    </div>
    <div class="hero__title grid__item e-8 e-4--palm">
      <img class="title" src="/static/img2014/galaxy-title.svg">
    </div>

    <div class="hero__search">
      <div class="search">
        <input type="search" placeholder="nginx, postgresql, redis, etc...">
        <button class="button-pseudo search__button">
          <svg class="icon--search">
            <use xlink:href="#icon-search">
          </svg>
        </button>
      </div>
    </div>
    <div class="hero__actions">
      <div class="actions grid grid--middle">
        <div class="action--copy grid__item grid--left grid--center--palm e-full--palm e-4 grid">
          <p>Review roles and earn karma</p>
          <p>Publish your own reusable roles</p>
        </div>
        <div class="grid__item e-4 action--signup">
          <button class="button--primary">Sign Up</button>
        </div>
        <div class="action grid__item grid--center grid--center--palm e-full--palm e-8">
          <button class="button--primary">
            Roles Showcase
            <svg class="icon--arrow-r">
              <use xlink:href="#icon-arrow-r">
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>

<h3>Search</h3>

<div class="example">
  {% include "partials/search.html" %}
</div>

<h3>Main Logo</h3>

<h4>Small</h4>
<div class="example">
  <div class="example__logo--small">
    {% include "svg/main-logo.svg" %}
  </div>
</div>

<h4>Light on Dark</h4>

<div class="example example--dark">
  <div class="example-padded example-padded--dark">
    <div class="example__logo--small main-logo--light">
      {% include "svg/main-logo.svg" %}
    </div>
  </div>
</div>


<h3>Navigation Bar</h3>

<div class="example">
  <nav class="nav-bar nav-bar--dark nav-bar--mobile">
    <a href="#" class="nav-bar__menu-button">
      {% include "svg/icon-wimpy.svg" %}
    </a>
  </nav>
  <nav class="nav-bar nav-bar--dark nav-bar--menu">
    <div class="nav-bar__logo-wrapper">
      <a href="/" class="nav-bar__main-logo main-logo--light">
        {% include "svg/main-logo.svg" %}
        {# For homepage variant: #}
        {# include "svg/main-logo.svg" with view_box="0 0 113 115" #}
      </a>
    </div>
    <div class="nav-bar__links">
      <div class="nav-bar__search">
        {% include "partials/search.html" %}
      </div>
      <a href="#" class="nav-bar__link">
        Link
      </a>
      <a href="#" class="nav-bar__link">
        Link
      </a>
      <a href="#" class="nav-bar__link">
        Link
      </a>
    </div>

  </nav>
</div>

<h3>Wide Content Container</h3>

<div class="example">
  <div class="l-wide-container">
    <pre class="example__wide-text">
      {% lorem 3 p %}
    </pre>
  </div>
</div>

<h3>Alerts</h3>

<div class="example">
  <dl class="alert alert--error">
    <dt>Error</dt>
    <dd>{% lorem 20 w %}. <a href="#">With a link.</a></dd>
  </dl>
  <dl class="alert alert--success">
    <dt>All Good!</dt>
    <dd>{% lorem 20 w %}</dd>
  </dl>
  <dl class="alert alert--info">
    <dt>FYI</dt>
    <dd>{% lorem 60 w %}</dd>
  </dl>
</div>



{% endblock %}
