{% extends 'base.html' %}

{% load avatar_tags %}
{% load galaxyhelpers %}

{% block general_content %}
 <div class="row-fluid">
  <div class="user">
   <div class="userheader">
    <div class="pull-left avatar">{% avatar this_user 96 %}</div>
    <div class="userinfo overflow-hidden">
     <div class="userinfo-top">
      <span class="username">{{this_user.username}}</span><br />
      <span class="realname">{{this_user.first_name}} {{this_user.last_name}}</span>
     </div>
     <div class="userinfo-bottom">
      <div class="userinfo-roles float-left">
       <span class="userinfo-roles-count">{{this_user.roles.all|length}} role{{this_user.roles.all|length|pluralize}} contributed</span><br />
       <span class="userinfo-roles-stats">
        Average Rating: <strong>{{all_avg_score.avg_score|floatformat:"2"}}</strong><br />
        {% if awx_avg_score %}
        Ansible Average Rating: <strong>{{awx_avg_score.avg_score|floatformat:"2"}}</strong><br />
        {% endif %}
       </span>
       <span class="userinfo-roles-links"><a href="#roles">view all</a></span>
      </div>
      <div class="userinfo-reviews float-left">
       <span class="userinfo-reviews-count">{{this_user.ratings.all|length}} review{{this_user.ratings.all|length|pluralize}}</span><br />
       <span class="userinfo-reviews-karma">Karma: {{this_user.karma}}</span><br />
       <span class="userinfo-reviews-links"><a href="#reviews">view all</a></span>
      </div>
     </div>
     <div class="clearfix">&nbsp;</div>
    </div>
   </div>
   <a name="roles"></a>
   {% if user_roles|length > 0 %}
   <h2 class="clearmargin">Roles Contributed by This User</h2>
   <strong>{{user_roles|length}} total</strong>
   <table class="table">
   {% for role in user_roles %}
   {% include 'snippets/render_role' with role=role only %}
   {% endfor %}
   </table>
   {% else %}
   <p>This user has not contributed any roles yet.</p>
   {% endif %}
   <a name="reviews"></a>
   {% if this_user.ratings.all|length > 0 %}
   <h2 class="clearmargin">Reviews Contributed by This User</h2>
   <strong>{{this_user.ratings.all|length}} total</strong>
   {% for role_rating in this_user.ratings.all %}
   {% include 'snippets/render_rating' with role_rating=role_rating only %}
   {% endfor %}
   {% endif %}
  </div> <!-- end user div -->
 </div> <!-- end row-fluid -->
{% endblock %}
