<div ng-if="$ctrl.item.expandField == 'repos'" class="ns-expansion repo-sub-list">
    <repo-list namespace="$ctrl.item" repo-filter="$ctrl.repoFilter"></repo-list>
</div>

<div ng-if="$ctrl.item.expandField == 'owners'">
    <div class="list-group list-view-pf list-view-pf-view">
        <div ng-repeat="owner in $ctrl.item.summary_fields.owners track by $index">
            <div class="list-group-item">
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left" ng-if="owner['github_avatar']">
                        <img ng-src="{{ owner.github_avatar }}" class="github-avatar">
                    </div>
                     <div class="list-view-pf-left" ng-if="!owner['github_avatar']">
                        <img src="/static/img/avatar.png" class="github-avatar">
                    </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                            {{ owner.username }}
                            </div>
                            <div class="list-group-item-text" ng-if="owner['github_user']">
                              <a target="_blank" ng-href="https://github.com/{{ owner.github_user }}"
                                    tooltip-placement="top"
                                    uib-tooltip="View user on GitHub">@{{ owner.github_user }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.item.expandField == 'provider_namespaces'">
    <div class="list-group list-view-pf list-view-pf-view">
        <div ng-repeat="provider in $ctrl.item.summary_fields.provider_namespaces track by $index">
            <div class="list-group-item">
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left" ng-if="provider.avatar_url">
                        <img ng-src="{{ provider.avatar_url }}" class="github-avatar">
                    </div>
                    <div class="list-view-pf-left" ng-if="!provider.avatar_url">
                        <img src="/static/img/avatar.png" class="github-avatar">
                    </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading" data="{{ provider.location }}" ng-if="provider.display_name">
                                {{ provider.display_name }}
                            </div>
                            <div class="list-group-item-heading" ng-if="!provider.display_name">
                                {{ provider.name }}
                            </div>
                            <div class="list-group-item-text">
                               {{ provider.description }} <a target="_blank" ng-href="https://github.com/{{ provider.name }}"
                                  tooltip-placement="top" uib-tooltip="View the {{ provider.provider }} page">@{{ provider.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>