# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}


http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    upstream https_backend {
        ip_hash;
        {% for host in groups['web'] %}
        server {{ hostvars[host]['private_ip'] }}:81 max_fails=3 fail_timeout=15s;
        {% endfor %}
    }

    upstream http_backend {
        {% for host in groups['web'] %}
        server {{ hostvars[host]['private_ip'] }}:80 max_fails=3 fail_timeout=15s;
        {% endfor %}
    }
    
    server {
       listen         80;
       server_name    {{ nginx_server_name }}; 

       # Load configuration files for the default server block.
       include /etc/nginx/default.d/*.conf;

       location / {
           proxy_pass http://http_backend;
           proxy_set_header Host $host;
           proxy_set_header X-Real-IP $remote_addr;
           proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
           proxy_set_header X-Forwarded-Proto $scheme;
       } 
    }

    server {
        listen       443 ssl;

        server_name  {{ nginx_server_name }};

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        ssl on;
        ssl_certificate         {{ nginx_ssl_certificate_path }};
        ssl_trusted_certificate {{ nginx_trusted_certificate_path }};
        ssl_certificate_key {{ nginx_ssl_certificate_key }}; 

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        # ciphers matching Travis-ci notification server ciphers.
        ssl_ciphers 'AES-128-CBC:AES-128-CFB:AES-128-CFB8:AES-128-ECB:AES-128-OFB:AES-192-CBC:AES-192-CFB:AES-192-CFB8:AES-192-ECB:AES-192-OFB:AES-256-CBC:AES-256-CFB:AES-256-CFB8:AES-256-ECB:AES-256-OFB:AES128:AES192:AES256:BF:BF-CBC:BF-CFB:BF-CFB8:BF-ECB:BF-OFB:CAMELLIA-128-CBC:CAMELLIA-128-CFB:CAMELLIA-128-CFB8:CAMELLIA-128-ECB:CAMELLIA-128-OFB:CAMELLIA-192-CBC:CAMELLIA-192-CFB:CAMELLIA-192-CFB8:CAMELLIA-192-ECB:CAMELLIA-192-OFB:CAMELLIA-256-CBC:CAMELLIA-256-CFB:CAMELLIA-256-CFB8:CAMELLIA-256-ECB:CAMELLIA-256-OFB:CAMELLIA128:CAMELLIA192:CAMELLIA256:CAST:CAST-CBC:CAST5-CBC:CAST5-CFB:CAST5-CFB8:CAST5-ECB:CAST5-OFB:CAST6-CBC:CAST6-CFB:CAST6-CFB8:CAST6-ECB:CAST6-OFB:DES:DES-CBC:DES-CFB:DES-CFB8:DES-ECB:DES-EDE:DES-EDE-CBC:DES-EDE-CFB:DES-EDE-OFB:DES-EDE3:DES-EDE3-CBC:DES-EDE3-CFB:DES-EDE3-CFB8:DES-EDE3-ECB:DES-EDE3-OFB:DES-OFB:DES3:RC2:RC2-40-CBC:RC2-64-CBC:RC2-CBC:RC2-CFB:RC2-CFB8:RC2-ECB:RC2-OFB:RC4:RC4-40:SEED:SEED-CBC:SEED-CFB:SEED-CFB8:SEED-ECB:SEED-OFB';
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:32m;
        ssl_buffer_size 8k;
        ssl_session_timeout 30m;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
            proxy_pass http://https_backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
