<table class="table table-condensed">
<thead>
 <tr>
  <th><div><strong>Top Categories</strong></div></td>
  <th><div class="text-right"><strong>Total Roles</strong></div></td>
 </tr>
</thead>
<tbody>
{% for category_roles in roles_per_category %}
 <tr>
  <td><div><a href="{% url "main:list-category" category_roles.name %}">{{ category_roles.name }}</a></div></td>
  <td><div class="text-right"><strong>{{category_roles.num_roles}}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "categories" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
