{% load galaxyhelpers %}
<table class="table table-condensed">
<thead>
 <tr>
  <th><div><strong>New Roles</strong></div></td>
  <th><div class="text-right"><strong>Added</strong></div></td>
 </tr>
</thead>
<tbody>
{% for new_role in new_roles %}
 <tr>
  <td><div><a href="{% url "main:role-view" new_role.owner.username new_role.name %}">{{ new_role.name }}</a></div></td>
  <td><div class="text-right"><strong>{{new_role.date_added|timesince}}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "roles" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
