{% load galaxyhelpers %}
<table class="table table-condensed">
<thead>
 <tr>
  <th><div><strong>New Users</strong></div></td>
  <th><div class="text-right"><strong>Joined</strong></div></td>
 </tr>
</thead>
<tbody>
{% for new_user in new_users %}
 <tr>
  <td><div><a href="{% url "main:user-view" new_user.username %}">{{ new_user.username }}</a></div></td>
  <td><div class="text-right"><strong>{{new_user.date_joined|timesince}}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "users" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
