<table class="table table-condensed">
<thead>
 <tr>
  <th><div><strong>Top Contributors</strong></div></td>
  <th><div class="text-right"><strong>Avg. Rating</strong></div></td>
 </tr>
</thead>
<tbody>
{% for top_user in top_users %}
 <tr>
  <td><div><a href="{% url "main:user-view" top_user.username %}">{{ top_user.username }}</a></div></td>
  <td><div class="text-right"><strong>{{ top_user.average_score|floatformat:"2" }}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "topusers" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
