<table class="table table-condensed">
<thead>
 <tr>
  <th><div><strong>Top Roles</strong></div></td>
  <th><div class="text-right"><strong>Score</strong></div></td>
 </tr>
</thead>
<tbody>
{% for top_role in top_roles %}
 <tr>
  <td><div><a href="{% url "main:role-view" top_role.owner.username top_role.name %}">{{ top_role.name }}</a></div></td>
  <td><div class="text-right"><strong>{{top_role.average_score|floatformat:"2"}}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "toproles" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
