<table class="table table-condensed">
<thead>
 <tr>
  <th><div class="pull-left"><strong>Top Reviewers</strong></div></th>
  <th><div class="pull-right text-right"><strong>Karma</strong></div></th>
 </tr>
</thead>
<tbody>
{% for top_reviewer in top_reviewers %}
 <tr>
  <td><div><a href="{% url "main:user-view" top_reviewer.username %}">{{ top_reviewer.username }}</a></div></td>
  <td><div class="text-right"><strong>{{ top_reviewer.karma|floatformat:"0" }}</strong></div></td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="2"><a class="btn" href="{% url "main:list-category" "topreviewers" %}">view more&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a></td>
 </tr>
</tbody>
</table>
