<div class="modal-header">
    <h4 class="modal-title pull-left">Add Repositories to {{namespace.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body add-repo-modal-body" id="add-repo-modal-body">

    <div class="container-fluid">
        <div class="toolbar-pf add-repo-modal-toolbar">
            <form class="toolbar-pf-actions">
                <div class="form-group add-repo-modal-dropdown-group">
                    <div class="dropdown btn-group" dropdown>
                        <button dropdownToggle id="add-repo-modal-dropdown-button" type="button" class="btn btn-default add-repo-modal-dropdown-button">
                            <i class="fa fa-github" *ngIf="selectedPNS.provider_name === 'github'"></i> {{ selectedPNS.name }} <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" disabled><i>Select provider namespace...</i></li>
                            <li role="menuitem" *ngFor="let pns of providerNamespaces">
                                <a (click)="selectProviderNamespace(pns)"><i class="fa fa-github" *ngIf="pns.provider_name === 'github'"></i> {{ pns.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="add-repo-modal-filter">Name</label>
                    <div class="input-group">
                        <input #filterBox type="text" id="add-repo-modal-filter" class="form-control" (keyup)="filterRepos(filterBox.value)" placeholder="Filter By Name..."/>
                    </div>
                </div>
            </form>
        </div>

        <div class="add-repo-modal-list" id="my-content-repository-modal">
            <pfng-list
                [config]="listConfig"
                [items]="selectedPNS.filteredSources"
                [itemTemplate]="itemTemplate"
                (onSelectionChange)="handleSelectionChange($event)">
                <ng-template #itemTemplate let-item="item">
                    <div class="list-pf-content-wrapper">
                        <div class="list-view-pf-left">
                            <i class="pficon-repository"></i>
                        </div>
                        <div class="list-pf-main-content">
                            <div class="list-pf-title">{{ selectedPNS.name }}/{{ item.name }}</div>
                        </div>
                    </div>
                </ng-template>
            </pfng-list>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="saveRepos()">OK</button>
    <button class="btn btn-warning" type="button" (click)="bsModalRef.hide()">Cancel</button>
</div>

<app-page-loading [loading]="saveInProgress"></app-page-loading>
