<app-page-header [headerTitle]="pageTitle"></app-page-header>

<div id="search-page" class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <pfng-toolbar
                [config]="getToolbarConfig()"
                (onFilterChange)="filterChanged($event)"
                (onSortChange)="sortChanged($event)">
            </pfng-toolbar>
            <div id="search-list">
                <pfng-list
                    [config]="listConfig"
                    [items]="contentItems"
                    [itemTemplate]="itemTemplate">
                    <ng-template #itemTemplate let-item="item" let-index="index">

                        <div class="list-pf-content-wrapper row list-row">
                            <div class="col-sm-7 search-list-left">
                                <div class="namespace-container">
                                    <a [routerLink]="['/', item.summary_fields.namespace.name]"
                                       [tooltip]="'View more content from ' + item['displayNamespace']"
                                       container="body">
                                        <img [src]="item.avatar_url" class="avatar-image" >
                                        <div class="namespace-name">{{ item['namespace_name'] }}</div>
                                    </a>
                                </div>
                                <div class="list-pf-title">
                                    <div class="content-name">
                                        <div class="icon">
                                            <i class="{{ item['iconClass'] }}"></i>
                                        </div>
                                        <div class="name cursor-pointer"><a [routerLink]="[item['contentLink']]" tooltip="View content details">{{ item.name }}</a></div>
                                        <div class="type">{{ item.summary_fields.content_type.name }}</div>
                                        <div class="description">
                                            {{item.description}}
                                        </div>
                                    </div>
                                    <div class="content-tags">
                                        <div class="icon"><i class="fa fa-tag fa-2x"></i></div>
                                        <div class="tags">
                                            <div class="tag" *ngFor="let tag of item.summary_fields.tags">
                                                {{ tag }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-reduced-margin">
                                <div class="list-pf-description">
                                    <div class="travis" *ngIf="item.summary_fields.repository.travis_build_url">
                                        <a href="{{ item.summary_fields.repository.travis_build_url }}" container="body" target="_blank" tooltip="View Travis build output. Opens in new tab or window.">
                                            <img src="{{ item.summary_fields.repository.travis_status_url }}"
                                                class="travis-status-img" title="Travis Build Status" />
                                        </a>
                                    </div>
                                    <div class="repository-details">
                                        <span class="columns">
                                            <ul class="count-left">
                                                <li class="repo-count">
                                                    <i class="fa fa-download fa count-digits"></i>
                                                    <span class="count-digits">{{ item.download_count }}</span>
                                                    <span>Downloads</span>
                                                </li>
                                                <li class="repo-count">
                                                    <i class="fa fa-eye fa count-digits"></i>
                                                    <span class="count-digits">{{ item.summary_fields.repository.watchers_count }}</span>
                                                    <span>Watchers</span>
                                                </li>
                                            </ul>
                                        </span>

                                        <span class="columns">
                                            <ul class="count-right">
                                                <li class="repo-count">
                                                    <i class="fa fa-star fa count-digits"></i>
                                                    <span class="count-digits">{{ item.summary_fields.repository.stargazers_count }}</span>
                                                    <span>Stars</span>
                                                </li>
                                                <li class="repo-count">
                                                    <i class="fa fa-copy fa count-digits"></i>
                                                    <span class="count-digits">{{ item.summary_fields.repository.forks_count }}</span>
                                                    <span>Forks</span>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="extra-detail">
                                        <div class="import">
                                            <div class="import-text">Last Imported</div>
                                            <div class="import-date">{{ item.imported }}</div>
                                        </div>
                                        <div class="relevance" *ngIf="showRelevance">
                                            <span class="relevance-text">Best Match</span>
                                            <span class="relevance-score">{{ item.relevance | number:'1.4-4' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </pfng-list>
            </div>
            <div class="pagination" *ngIf="contentItems && contentItems.length && paginationConfig.totalItems > paginationConfig.pageSize">
                <pfng-pagination
                    [config]='paginationConfig'
                    (onPageSizeChange)="handlePageChange($event)"
                    (onPageNumberChange)="handlePageChange($event)">
                   </pfng-pagination>
               </div>
        </div>
        <div class="col-lg-3">
            <popular-widget
                [popularTitle]="'Popular Tags'"
                [popularType]="'tags'"
                (click)="handleWidgetClick($event)">
            </popular-widget>
            <popular-widget
                [popularTitle]="'Popular Platforms'"
                [popularType]="'platforms'"
                (click)="handleWidgetClick($event)">
            </popular-widget>
            <popular-widget
                [popularTitle]="'Popular Clouds'"
                [popularType]="'cloudPlatforms'"
                (click)="handleWidgetClick($event)">
            </popular-widget>
        </div>
    </div>
</div>
<app-page-loading [loading]="pageLoading"></app-page-loading>
