@import '../../variables';

#search-page {
	margin-bottom: 150px;
	.pagination {
		width: 100%;
	}
}

#search-list {
	margin-top: 20px;
	color: @ansible-dark-grey;

	.list-pf-left {
		align-items: center;
		.namespace-container {
			border-right: 1px solid #ccc;
			padding-right: 10px;
			.img-wrapper {
				width: 64px;
				height: 64px;
				border: 0;
				margin: 0;
				padding: 0;
				td {
					text-align: center;
					vertical-align: middle;
					img {
						max-width: 64px;
						max-height: 64px;
					}
				}
			}
			.namespace-name {
				font-size: 12px;
				padding-top: 10px;
				width: 90px;
				text-align: center;
		  		white-space: nowrap;
		  		overflow: hidden;
		  		text-overflow: ellipsis;
		  		min-height: 15px;
			}
		}
	}

	.content-name {
		.icon, .name, .type {
			display: inline-block;
			vertical-align: middle;
		}
		.icon {
			text-align: center;
			margin-right: 5px;
			font-size: 20px;
		}
		.name {
			font-size: 16px;
			margin-right: 5px;
			color: @blue;
		}
		.type {
			display: inline-block;
			color: @white;
			background-color: @ansible-dark-grey;
			padding: 1px 3px;
			border-radius: 1px;
			border-color: @ansible-dark-grey;
		}
		.description {
			font-weight: normal;
		}
	}

	.cursor-pointer:hover {
		cursor: pointer;
	}

	.content-tags {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		align-items: flex-start;

		.icon, .tags {
			display: inline-block;
			vertical-align: middle;
		}
		.icon {
			width: 32px;
			text-align: center;
			margin-right: 5px;
		}
		.tag {
			display: inline-block;
			font-size: 11px;
			font-weight: normal;
			margin-right: 5px;
			margin-top: 5px;
			padding: 1px 3px;
			background-color: @blue;
			color: @white;
			border-radius: 1px;
		}
	}

	.counts {
		text-align: right;

		.count-icon, .count-count, .count-text {
			display: inline-block;
			margin-right: 6px;
		}
		.count-count {
			font-size: 14px;
			font-weight: 600;
		}
		.count-text {
			margin-right: 15px;
		}
		.count-text:last-child {
			margin-right: 0;
		}
	}

	.import {
		text-align: right;
		margin-top: 10px;
		.import-text, .import-date {
			display: inline-block;
		}
		.import-text {
			font-weight: 600;
		}
	}
	.travis {
		text-align: right;
		margin-bottom: 10px;
		img {
			width: 90px;
			height: 20px;
		}
	}
	.relevance {
		text-align: right;
		margin-top: 10px;

		.relevance-text {
			padding-right: 10px;
			font-weight: 600;
		}
	}
}
