#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# Do NOT make changes to this file directly. 
# This file is maintained by the Jenkins deployment process.
# Any changes made here will be overwritten.  Make changes
# to provisioning/role/galaxy_deploy/templates/galaxy.conf.j2
# and redeploy.
#
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

NameVirtualHost *:81
WSGISocketPrefix /var/run/wsgi
ExtendedStatus On
Listen 81

RemoteIPHeader X-Forwarded-For
{% for host in groups['node_balancer'] %}
RemoteIPInternalProxy {{ host }}/32
{% endfor %}
LogFormat "%a %l %u %t \"%r\" %>s %b" common

# load balancer will send traffic here on internal IP address
<VirtualHost _default_:81>
  ServerName {{ private_ip }} 
  DocumentRoot /var/lib/galaxy/public

  RewriteCond $MAINTENANCE_FILE -f
  RewriteCond %{REQUEST_URI} !/$STATIC_URL/maintenance/under-maintenance.gif
  RewriteRule ^(.+) $MAINTENANCE_URL [R,L]
 
  CustomLog "/var/log/httpd/galaxy_access.log" common
  ErrorLog "/var/log/httpd/galaxy_error.log"

  WSGIScriptAlias / /var/lib/galaxy/wsgi.py
  WSGIPassAuthorization On

  WSGIDaemonProcess galaxy_http processes={{ galaxy_wsgi_processes }} threads=20 maximum-requests=1000 display-name="galaxy_http"
  WSGIProcessGroup galaxy_http

  Alias /favicon.ico /var/lib/galaxy/public/static/favicon.ico
  Alias /static/ /var/lib/galaxy/public/static/

  <Directory /var/lib/galaxy/>
    <Files wsgi.py>
      Require all granted
    </Files>
  </Directory>

  <Directory /var/lib/galaxy/public/>
    Require all granted
  </Directory>
  
  <Location /server-status>
    SetHandler server-status
    Order deny,allow
    Deny from all
    Allow from {{ private_ip }} 
  </Location>
</VirtualHost>
