#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# Do NOT make changes to this file directly. 
# This file is maintained by the Jenkins deployment process.
# Any changes made here will be overwritten.  Make changes
# to provisioning/role/galaxy_deploy/templates/settings.py.j2
# and redeploy.
#
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

import os
import djcelery

djcelery.setup_loader()

BASE_DIR = os.path.dirname(os.path.dirname(__file__))

ADMINS = (
)

SITE_ENV="{{ galaxy_site_env }}"
{% if linode_private_ip is defined %}
SITE_NAME="{{ linode_private_ip }}"
{% else %}
SITE_NAME="{{ galaxy_site_name }}"
{% endif %}

SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
SEND_EMAIL={{ galaxy_send_email }}

if SITE_ENV == "DEV":
    DEBUG = True
    DEBUG_TOOLBAR_PATCH_SETTINGS = False
else:
    DEBUG = False

MAINTENANCE_MODE = False

# Add IPs that should see django-debug-toolbar
INTERNAL_IPS = ['10.0.2.15', '10.0.2.2']

LOGIN_URL='/accounts/login/'
LOGIN_REDIRECT_URL='/explore'
LOGOUT_URL='/'

if SEND_EMAIL:
    EMAIL_HOST="{{ galaxy_email_hostname }}"
    EMAIL_PORT={{ galaxy_email_port }}
    EMAIL_HOST_USER="{{ galaxy_email_username }}"
    EMAIL_HOST_PASSWORD="{{ galaxy_email_password }}"
    EMAIL_USE_TLS=True
    DEFAULT_FROM_EMAIL="noreply@ansible.com"
else:
    EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
    EMAIL_FILE_PATH = '{{ galaxy_log_dir }}/email'

AUTH_USER_MODEL = 'accounts.CustomUser'

# Settings for django-allauth
ACCOUNT_ADAPTER = 'galaxy.main.auth.AccountAdapter'
ACCOUNT_AUTHENTICATION_METHOD="username_email"
ACCOUNT_DEFAULT_HTTP_PROTOCOL="https"
ACCOUNT_EMAIL_CONFIRMATION_AUTHENTICATED_REDIRECT_URL="/accounts/profile/"
ACCOUNT_EMAIL_CONFIRMATION_ANONYMOUS_REDIRECT_URL="/accounts/landing"
ACCOUNT_EMAIL_CONFIRMATION_EXPIRE_DAYS=1
ACCOUNT_EMAIL_REQUIRED=True
ACCOUNT_EMAIL_VERIFICATION="mandatory"
ACCOUNT_EMAIL_SUBJECT_PREFIX="Ansible Galaxy "
ACCOUNT_LOGIN_ON_VALIDATE=True
ACCOUNT_USERNAME_MIN_LENGTH=4
ACCOUNT_USERNAME_BLACKLIST=['admin','administrator']
ACCOUNT_PASSWORD_MIN_LENGTH=8
SOCIALACCOUNT_PROVIDERS={
    'twitter': { 'SCOPE': ['r_emailaddress'] },
}
SOCIALACCOUNT_AVATAR_SUPPORT=True

# Settings for celery/rabbitmq
{% if galaxy_deploy_web %}
BROKER_URL='amqp://{{galaxy_rabbit_username}}:{{galaxy_rabbit_password}}@{% for host in groups['rabbitmq_host'] %}{{ host }}{% endfor %}:{{galaxy_rabbit_port}}/{{galaxy_rabbit_vhost}}'
{% else %}
BROKER_URL='amqp://{{galaxy_rabbit_username}}:{{galaxy_rabbit_password}}@{{ galaxy_rabbit_host }}:{{galaxy_rabbit_port}}/{{galaxy_rabbit_vhost}}'
{% endif %}
CELERY_IMPORTS=('galaxy.main.celerytasks.tasks',)
CELERY_TRACK_STARTED=True
CELERYBEAT_SCHEDULER='djcelery.schedulers.DatabaseScheduler'

# Settings for Github API (pygithub)
{#
GITHUB_USERNAME='{{ galaxy_github_api_username }}'
GITHUB_PASSWORD='{{ galaxy_github_api_password }}'
#}
GITHUB_API_TOKEN='{{ galaxy_github_api_token }}'

# Custom settings
GALAXY_COMMENTS_THRESHOLD=10.0

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': "django.db.backends.postgresql_psycopg2",
        'NAME': "{{ galaxy_postgresql_dbname }}",
        'USER': "{{ galaxy_postgresql_username }}",
        'PASSWORD': "{{ galaxy_postgresql_password }}",
{% if galaxy_database_local %} 
        'HOST': "127.0.0.1",
{% else %}
{% for host in groups['db'] %}
{% if hostvars[host]['postgres_master'] %}
        'HOST': "{{ host }}",
{% endif %}
{% endfor %}
{% endif %}
        'PORT': "{{ galaxy_postgresql_port }}",
        'CONN_MAX_AGE': None,
    }
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '{{ galaxy_memcached_hostname }}:{{ galaxy_memcached_port }}',
    }
}

ELASTICSEARCH = {
    'hosts': [{% for host in groups['es_hosts'] %}"{{ host }}:{{ galaxy_es_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
}

HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',
        'URL': [{% for host in groups['es_hosts'] %}"{{ galaxy_es_transport }}://{{ host }}:{{ galaxy_es_port }}"{% if not loop.last %},{% endif %}{% endfor %}],
        'INDEX_NAME': 'haystack',
    },
}

HAYSTACK_SIGNAL_PROCESSOR = 'haystack.signals.RealtimeSignalProcessor'

SESSION_ENGINE = 'django.contrib.sessions.backends.cache'
SESSION_SAVE_EVERY_REQUEST = True

REST_FRAMEWORK = {
    'DEFAULT_PERMISSION_CLASSES': ('galaxy.api.permissions.ModelAccessPermission',),
    'DEFAULT_PAGINATION_SERIALIZER_CLASS': 'galaxy.api.pagination.PaginationSerializer',
    'DEFAULT_FILTER_BACKENDS': (
        'galaxy.api.filters.ActiveOnlyBackend',
        'galaxy.api.filters.FieldLookupBackend',
        'rest_framework.filters.SearchFilter',
        'galaxy.api.filters.OrderByBackend',
    ),
    'PAGINATE_BY': 10,
    'PAGINATE_BY_PARAM': 'page_size',
    'MAX_PAGINATE_BY': 100,
    #'DEFAULT_THROTTLE_CLASSES': (
    #    'rest_framework.throttling.AnonRateThrottle',
    #    'rest_framework.throttling.UserRateThrottle'
    #),
    #'DEFAULT_THROTTLE_RATES': {
    #    'anon': '60/hour',
    #    'user': '600/hour'
    #}
}

TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'galaxy', 'templates')],
        'APP_DIRS': True,
         'OPTIONS': {
            'debug': True,
            'context_processors': [
                'django.contrib.auth.context_processors.auth',
                'django.template.context_processors.i18n',
                'django.template.context_processors.static',
                'django.template.context_processors.request',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = [SITE_NAME]
{% if linode_private_ip is defined %} 
ALLOWED_HOSTS.append('{{ linode_private_ip }}')
{% endif %}
{% for host in groups['node_balancer'] %}
ALLOWED_HOSTS.append('{{ host }}')
{% endfor %}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'America/New_York'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale.
USE_L10N = True

# If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = True

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/var/www/example.com/media/"
MEDIA_ROOT = ''

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://example.com/media/", "http://media.example.com/"
MEDIA_URL = ''

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/var/www/example.com/static/"
STATIC_ROOT = '/var/lib/galaxy/public/static'

# URL prefix for static files.
# Example: "http://example.com/static/", "http://static.example.com/"
STATIC_URL = '/static/'

# Additional locations of static files
STATICFILES_DIRS = (
    # Put strings here, like "/home/html/static" or "C:/www/django/static".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    os.path.join(BASE_DIR, 'galaxy', 'static'),
)

# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
)

# Make this unique, and don't share it with anybody.
SECRET_KEY = file('/etc/galaxy/SECRET_KEY', 'rb').read().strip()

MIDDLEWARE_CLASSES = (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'maintenance.middleware.MaintenanceMiddleware',
)

ROOT_URLCONF = 'galaxy.urls'

# Python dotted path to the WSGI application used by Django's runserver.
WSGI_APPLICATION = 'galaxy.wsgi.application'

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django.contrib.admin',
    'debug_toolbar',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
    'allauth.socialaccount.providers.github',
    'allauth.socialaccount.providers.google',
    'allauth.socialaccount.providers.twitter',
    'avatar',
    'bootstrapform',
    'djcelery',
    'maintenance',
    'rest_framework',
    'haystack',
    # our apps
    'galaxy.accounts',
    'galaxy.main',
)

if SITE_ENV == 'DEV':
    INSTALLED_APPS += (
        'autofixture',
    )

AUTHENTICATION_BACKENDS = (
    # Needed to login by username in Django admin, regardless of `allauth`
    'django.contrib.auth.backends.ModelBackend',
    # `allauth` specific authentication methods, such as login by e-mail
    'allauth.account.auth_backends.AuthenticationBackend',
)

MAINTENANCE_FILE = '/var/lib/galaxy/.maintenance'

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error when DEBUG=False.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(asctime)s %(levelname)s %(module)s: %(message)s',
        },
        'simple': {
            'format': '%(levelname)s %(message)s',
        },
    },
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'syslog':{
            'level':'DEBUG',
            'class': 'logging.handlers.SysLogHandler',
            'formatter': 'verbose',
            'facility': 'local4',
            'address': '/dev/log',
        },
         'allauth_logfile': {
            'level':'DEBUG',
            'class':'logging.handlers.RotatingFileHandler',
            'filename': "{{ galaxy_log_dir }}/allauth.log",
            'maxBytes': 500000,
            'backupCount': 4,
            'formatter': 'verbose',
	},
         'django_logfile': {
            'level':'DEBUG',
            'class':'logging.handlers.RotatingFileHandler',
            'filename': "{{ galaxy_log_dir }}/django.log",
            'maxBytes': 500000,
            'backupCount': 4,
            'formatter': 'verbose',
	},
        'galaxy_logfile': {
            'level':'DEBUG',
            'class':'logging.handlers.RotatingFileHandler',
            'filename': "{{ galaxy_log_dir }}/galaxy.log",
            'maxBytes': 500000,
            'backupCount': 4,
            'formatter': 'verbose',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
        'django': {
            'handlers': ['django_logfile'],
            'level': 'INFO',
            'propagate': True,
        },
        'galaxy.accounts': {
            'handlers': ['galaxy_logfile'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'galaxy.main': {
            'handlers': ['galaxy_logfile'],
            'level': 'DEBUG',
            'propagate': True,
        },
	'allauth': {
	    'handlers': ['allauth_logfile'],
	    'level': 'DEBUG',
	    'propagate': True,
        },
    }
}
