// Headline styles
// ----------------------------------------
// Start of with two levels, let the design
// dictate the remaining headings (inspired
// by Andy Hume's SXSW talk)

.headline() {
  font-family: @headline-font;
  line-height: 1.2;
  text-align: center;
  .bigger-screens({
      text-align: left;
  });
}

// CONTENT STYLES
// --------------
// Text utilities

h1 {
  .headline();
  font-size: 2.375em;
  &.page-title {
      text-align: center;
      font-weight: 200;
      margin: 2em 0 0.5em;
  }
}

h2 {
  .headline();
  font-weight: 200;
  font-size: 2.125em;
}

h3 {
  .headline();
  font-size: 1.75em;
}

h4 {
  .headline();
  font-weight: 200;
  font-size: 1.5em;
}

h5 {
  .headline();
  font-size: 1.25em;
}

pre {
    background-color: white;
    border: solid thin darken(@off-white-color, 5%);
    border-radius: 5px;
    padding: 1em;
}

code {
}

.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

hr {
    background-color: @red-color;
    border: none;
    height: 1px;
    margin: 2em auto;
    width: 70%;
    text-align: center;
}
