<div class="modal-header">
    <h4 class="modal-title pull-left">Change Repository Name</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body alternate-name-modal-body" id="alternate-name-modal-body">
    <div class="container-fluid">
        <h3>{{ repository.summary_fields.provider_namespace.name }}/{{ repository.original_name }}</h3>
        <p>Override the respository name. If this repository is an Ansible role (i.e., it contains a meta/main.yml file), the role will be imported with the name defined here.</p>
        <form>
            <div class="form-group">
                <label for="name">Repository Name</label>
                <input type="text" class="form-control" id="name" [formControl]="name" required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        A value is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Must be at least 3 characters long.
                    </div>
                    <div *ngIf="name.errors.forbiddenChar">
                        Contains invalid characters. Valid characters are 'a-zA-Z0-9-_'
                    </div>
                    <div *ngIf="name.errors.forbiddenFirstChar">
                        Must start with 'a-zA-Z0-9'
                    </div>
                    <div *ngIf="name.errors.forbiddenLastChar">
                        Must end with 'a-zA-Z0-9'
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="updateRepoName()" [disabled]="okIsDisabled()">OK</button>
    <button class="btn btn-warning" type="button" (click)="bsModalRef.hide()">Cancel</button>
</div>

<app-page-loading [loading]="saveInProgress"></app-page-loading>