<div class="list-group-item tree-child-item">
    <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
            <i class="pficon-repository"></i>
        </div>
        <div class="list-view-pf-body">
            <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                    {{ $ctrl.repository.name }} <i class="pficon-info"
                                                   uib-popover-html="$ctrl.tooltipText"
                                                   popover-title="{{ $ctrl.tooltipTitle }}"
                                                   popover-placement="right"
                                                   popover-trigger="'mouseenter'"
                                                   popover-popup-close-delay="1000"></i>
                </div>
            </div>
            <div class="list-view-pf-additional-info">
                <a href="{{ $ctrl.viewImportLink }}" class="view-import-link" ng-switch="$ctrl.import.state">
                    <span ng-switch-when="PENDING"><i class="pficon-pending"></i> Import Pending</span>
                    <span ng-switch-when="RUNNING"><i class="pficon-in-progress fa-spin"></i> Import Running</span>
                    <span ng-switch-when="FAILED"><i class="pficon-error-circle-o"></i> Import Error</span>
                    <span ng-switch-when="SUCCESS"><i class="pficon-ok"></i> Import Successful</span>
                </a>
            </div>
        </div>
    </div>
    <div class="list-view-pf-actions">
        <button class="btn btn-default" title="Import" ng-click="$ctrl.importRepository()">
            <i class="fa fa-upload"></i>
        </button>
        <a class="btn btn-default" title="View Import Status" href="{{ $ctrl.viewImportLink }}">
            <i class="fa fa-external-link"></i>
        </a>

        <div class="dropdown pull-right dropdown-kebab-pf">
            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" >
                <li><a href="#">Edit Properties</a></li>
                <li><a href ng-click="$ctrl.deleteRepository()">Delete</a></li>
            </ul>
        </div>
    </div>
</div>