# Database administrative login by UNIX sockets
# note: you may wish to restrict this further later

local   all         postgres                          trust

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         all                               md5
host    all         all         127.0.0.1/32          md5
host    all         all         ::1/128               md5
host    replication replicator  {{ secondary_ip }}/32      md5	 
{% for cidr in galaxy_subnet_cidrs %}
host    all         all         {{ cidr }}           md5
{% endfor %}
