<div id="content-detail-page">
    <app-page-header [headerTitle]="pageTitle"></app-page-header>

    <div class="container-fluid content-detail-container">
        <div class="row" *ngIf="showEmptyState">
            <div class="col-sm-12">
                <pfng-empty-state
                    [config]="emptyStateConfig"
                    (onActionSelect)="handleActionClicked($event)">
                </pfng-empty-state>
            </div>
        </div>

        <content-detail-repo
            [repository]="repository"
            [namespace]="namespace" *ngIf="!showEmptyState"></content-detail-repo>

        <div class="row btn-row" *ngIf="!showEmptyState">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" [disabled]="showingView === ViewTypes.detail"
                    tooltip="Return to main content view"
                    (click)="toggleView(ViewTypes.detail)"><i class="fa fa-info-circle"></i> Details</button>
                <button type="button" class="btn btn-default"
                    *ngIf="hasReadme" [disabled]="showingView === ViewTypes.readme"
                    tooltip="View the repository's README file"
                    (click)="toggleView(ViewTypes.readme)"><i class="fa fa-eye"></i> README</button>
                <button type="button" class="btn btn-default"
                    *ngIf="hasMetadata" [disabled]="showingView === ViewTypes.meta"
                    tooltip="View the {{ metadataFilename }} file"
                    (click)="toggleView(ViewTypes.meta)"><i class="fa fa-table"></i> Metadata</button>
                <button type="button" class="btn btn-default"
                    *ngIf="contentCounts.module" [disabled]="showingView === ViewTypes.modules"
                    tooltip="View modules"
                    (click)="toggleView(ViewTypes.modules)"><i class="fa fa-microchip"></i> {{ contentCounts.module }} Modules</button>
                <button type="button" class="btn btn-default"
                    *ngIf="contentCounts.moduleUtils" [disabled]="showingView === ViewTypes.moduleUtils"
                    tooltip="View module utils"
                    (click)="toggleView(ViewTypes.moduleUtils)"><i class="fa fa-microchip"></i>
                    {{ contentCounts.moduleUtils }} Module Utils</button>
                <button type="button" class="btn btn-default"
                    *ngIf="contentCounts.plugin" [disabled]="showingView === ViewTypes.plugins"
                    tooltip="View plugins"
                    (click)="toggleView(ViewTypes.plugins)"><i class="fa fa-plug"></i>
                    {{ contentCounts.plugin }} Plugins</button>
                <button type="button" class="btn btn-default"
                    *ngIf="contentCounts.role" [disabled]="showingView === ViewTypes.roles"
                    tooltip="View modules"
                    (click)="toggleView(ViewTypes.roles)"><i class="fa fa-gear"></i>
                    {{ contentCounts.role }} Roles</button>
            </div>
        </div>

        <div *ngIf="!showEmptyState && showingView === ViewTypes.detail">
            <div class="row detail">
                <div class="col-sm-12">
                    <card-info
                        [repository]="repository"
                        [repoContent]="repoContent"
                        [repoType]="repoType"
                        [metadata]="metadata">
                    </card-info>
                </div>
            </div>
            <div class="row detail" *ngIf="repoType !== RepoFormats.multi">
                <div class="col-sm-3"
                    *ngIf="repoContent && repoContent['hasPlatforms']">
                    <card-platforms [platforms]="repoContent['platforms']"></card-platforms>
                </div>
                <div class="col-sm-3"
                    *ngIf="repoContent && repoContent['hasVersions']">
                    <card-versions [versions]="repoContent['versions']"></card-versions>
                </div>
                <div class="col-sm-3"
                    *ngIf="repoContent && repoContent['hasCloudPlatforms']">
                    <card-cloud-platforms
                        [cloudPlatforms]="repoContent['cloud_platforms']">
                    </card-cloud-platforms>
                </div>
                <div class="col-sm-3"
                    *ngIf="repoContent && repoContent['hasDependencies']">
                    <card-dependencies
                        [dependencies]="repoContent['dependencies']">
                    </card-dependencies>
                </div>
            </div>
        </div>

        <div class="row row-readme" *ngIf="!showEmptyState && showingView === ViewTypes.readme">
            <div class="col-sm-12">
                <div class="readme" [innerHTML]="repoContent.readme_html"></div>
            </div>
        </div>
        <div class="row meta" *ngIf="!showEmptyState && showingView === ViewTypes.meta">
            <div class="col-sm-12">
                <pre>{{ metadata | json }}</pre>
            </div>
        </div>
        <div class="row modules" *ngIf="!showEmptyState && showingView === ViewTypes.modules">
            <div class="col-sm-12">
                <modules-detail [repository]="repository" [selectedContent]="selectedContent"></modules-detail>
            </div>
        </div>
        <div class="row modules" *ngIf="!showEmptyState && showingView === ViewTypes.roles">
            <div class="col-sm-12">
                <roles-detail [repository]="repository" [selectedContent]="selectedContent"></roles-detail>
            </div>
        </div>
        <div class="row modules" *ngIf="!showEmptyState && showingView === ViewTypes.plugins">
            <div class="col-sm-12">
                <plugins-detail [repository]="repository" [selectedContent]="selectedContent"></plugins-detail>
            </div>
        </div>
        <div class="row modules" *ngIf="!showEmptyState && showingView === ViewTypes.moduleUtils">
            <div class="col-sm-12">
                <module-utils-detail [repository]="repository" [selectedContent]="selectedContent">
                </module-utils-detail>
            </div>
        </div>
    </div>

</div>
<app-page-loading [loading]="pageLoading"></app-page-loading>
