* {margin:0;padding:0;}

html, body {height: 100%;}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cabin', sans-serif !important;
  font-size: 0.85em;
}

/* get rid of rounded corners on some elements */
.hero-unit, .breadcrumb, .navbar-inner, .userdropdown, .usermenu, .progress {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

thead {
  font-weight: bold;
}

h1 {
  font-size: 2.0em;
}
h2 {
  font-size: 1.65em;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 0.95em;
}

a:hover {
  text-decoration: none;
}

.pull_up {
  min-height: 100%;
  padding-top: 0px !important;
}

.header {
  background-color: #000;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px; /* push height + push margin */
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
}

.push {
  height: 80px; /* push height = footer height + footer padding */
  margin-bottom: 20px;
}

.footer {
  height: 60px;
  color: #fff;
  padding-top: 20px;
  background:
    radial-gradient(black 10%, transparent 10%) 0 0,
    radial-gradient(black 10%, transparent 10%) 8px 8px,
    radial-gradient(rgba(128,128,128,.175) 10%, transparent 10%) 0 1px,
    radial-gradient(rgba(128,128,128,.175) 10%, transparent 10%) 8px 9px;
  background-color:#000;
  background-size:15px 18px;
}

.blurbs {
  font-size: 0.9em;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.blurbs > .row-fluid {
  margin-left: 50px;
  margin-bottom: 20px;
}

.blurb {
  background-color: #121420;
  padding: 20px;
  margin-left: 0px;
  color: #fff;
}
.blurb-intro {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
}
.blurb-intro > .btn {
  width: 90%;
}
.blurb-first {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
}
.blurb-last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
}
.blurb > .table {
  margin-bottom: 0px;
}
div.span3.blurb {
  margin-left: 0px;
}

.topbox {
  background-color: #121420;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: none;
}
.topbox > h3 {
  margin-top: 0px;
}
.topbox > table {
  margin-bottom: 0px;
}

.ratings {
  margin: 15px 30px 0px 0px;
  list-style: none;
}
.rating {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.rating:last-child {
  border-bottom: none;
}
.rating .avatar img {
  width: 64px;
}

.avatar {
  padding: 10px 15px 10px 10px;
}

.downvote {
  padding-left: 10px;
}

.date {
  font-size: 0.85em;
  font-style: italic;
}

.category-list {
  margin: 0;
  list-style: none;
}

.row-header {
  margin: 15px 30px 0px 0px;
}
.roles {
  margin: 0;
  list-style: none;
}
.role {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.role:last-child {
  border-bottom: none;
}
.role .rolename {
  font-size: 1.5em;
}
.role .username {
  font-size: 1.1em;
}
.role h1,h2,h3,h4,h5 {
  margin: 0;
}
.roleheader {
}
.roleinfo {
}
.roleinfo-top {
}
.roleinfo-top > .rolename {
  font-size: 2.0em;
}
.roleinfo-top > .username {
  font-size: 1.3em;
}
.roleinfo-bottom {
  margin-bottom: -5px;
}
.role-avgs {
}
.role-avgs > strong {
  font-size: 1.1em;
}
.role-awx-avgs {
}
.role-awx-avgs > strong {
  font-size: 1.1em;
}
.role-auth {
}
.role-auth .btn {
  width: 85%;
  margin-bottom: 3px;
}
.roleinfo-description {
  margin-top: 10px;
}

.users {
  margin: 0;
  list-style: none;
}
.user {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.user:last-child {
  border-bottom: none;
}
.user .username {
  font-size: 1.5em;
}
.user .avatar img {
  width: 64px;
}
.userheader {
}
.userinfo {
}
.userinfo-top {
}
.userinfo-top > .username {
  font-size: 2.0em;
}
.userinfo-roles {
  width: 33%;
  margin-top: 10px;
}
.userinfo-reviews {
  width: 33%;
  margin-top: 10px;
}

td > a.btn {
  margin-top: 20px;
}

/* generic class for setting overflow:hidden */
.overflow-hidden {
  overflow: hidden;
}

/* generic class for clearing margins on objects */
.clearmargin {
  margin: 0px;
}

/* generic class to stop wrapping of text */
.nowrap {
  white-space: nowrap;
}

/* handy class to set width:auto on inputs */
.input-auto {
  width: auto;
}

/* navbar stuff */

.navbar.navbar-static-top {
  margin-bottom: 10px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navbar.transparent.navbar-inverse .navbar-inner .container {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: margin .2s ease-in-out;
  -moz-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}
.navbar.navbar-inverse .navbar-inner {
  padding: 10px 0px 10px 0px;
}
.navbar.navbar-inverse .navbar-inner.sticky {
}
.navbar-inverse .navbar-inner.sticky .container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.navbar-inverse .nav {
  display: inline-block;
  float: none;
  margin: 0px;
}
.navbar-inverse .nav > li {
  text-align: left;
  font-size: 1.1em;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: #fff;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  padding: 1em .6em .7em;
  /*font-family: "Arizonia", cursive;*/
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a.active {
  color: #1166bb;
  opacity: 1;
  filter: alpha(opacity=100);
  border: none;
}
li a [class^="icon-"], li a [class*=" icon-"] {
  margin-right: 3px;
}
.navbar-inverse .dropdown-menu {
}
.navbar-inverse .nav > li > .dropdown-menu::after {
  border-bottom: 6px solid #252528;
}
.navbar-inverse .dropdown-menu li > a {
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
}
.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown>a:hover .caret,
.navbar-inverse .nav li.dropdown>a:focus .caret {
  border-top-color: #0055aa;
  border-bottom-color: #0055aa;
}

.navbar .logo {
  width: auto;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding: 0px 10px 0px 0px;
  font-family: 'Arizonia', cursive !important;
  font-size: 3.5em;
}

.navbar .logo > a > img {
  width: 650px;
}

.nav > li > a {
  white-space: normal; /* default of nowrap for label causes issues on firefox */
}

.nav > li > a:hover {
  color: #000;
  background-color: #888;
}

.nav > .nav-header {
  padding: 3px 0px;
}

#sortform {
  margin-left: 15px;
}

.categories {
  margin-bottom: 0px;
}
.category {
  margin-bottom: 3px;
}
.category > .label {
  padding: 5px;
}
.category > .label-important {
  font-weight: bold;
}

.list-controls > .input-prepend {
  margin-right: 7px;
}

/* overriding default bootstrap pager class */
.pager {
  margin: 0px;
}
