{% extends "refresh2014/master.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm Email Address" %}{% endblock %}


{% block main_container %}
<div class="l-wrapper--page l-wrapper--narrow">
<h1>{% trans "Confirm Email Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Is <a href="mailto:{{email}}">{{ email }}</a> an e-mail address for user {{ user_display }}?{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="button--primary" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</div>

{% endblock %}
