{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}

    <div id="galaxy-login-page">

        <div class="galaxy-message">
            <h2>Starting January 1, 2016 Galaxy will only support Github authentication.</h2>
            <div class="message-text">
                <p>If you created a Galaxy account in the past but never associated it with your Github account, now is your chance. After January 1
                    you may not be able to access your account.</p>
                <p>Log in using one of the options below. Once you log in you will be asked to associate your Galaxy account with your
                    Github account. Going forward just click the Github logo to log into Galaxy.</p>
            </div>
        </div>

        <div class="login-dialog">

            <h2 class="text-center">Sign In</h2>

            <div class="login-social">
                <ul class="social-links">
                    {% get_providers as socialaccount_providers %}
                    {% for provider in socialaccount_providers %}
                        <li><a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params next=redirect_field_value %}"><i class="fa fa-{{provider.name|lower}}-square fa-4x"></i></a>
                        </li>
                    {% endfor %}
                    <!--
                    <li><a href="/accounts/twitter/login/?process="><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="/accounts/google/login/?process="><i class="fa fa-google-plus fa-2x"></i></a></li>
                    <li><a href="/accounts/github/login/?process="><i class="fa fa-github fa-2x"></i></a></li>
                    -->
                </ul>
                <h4>or</h4>
            </div>




            {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Errors:</strong><br />
              {% for error in form.non_field_errors %}{{error}}<br />{% endfor %}
            </div>
            {% endif %}
            <form class="form form-horizontal login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
                {% endif %}
                <div class="form-fields">
                    <div class="form-group">
                        <input type="text" class="form-control" id="login" name="login" placeholder="Username/Email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" autocomplete="off">
                    </div>
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Sign In" />
                        <div>
                            <div class="remember">
                                <input type="checkbox" id="remember" name="remember" /> Remember me?
                            </div>
                            <div class="reset">
                                <a href="{% url 'account_reset_password' %}">Forgot password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
