{% extends "refresh2014/master.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_title %}
{% endblock %}
{% block main_container %}

<h1 class="page-title">Sign In</h1>

<p class="page__preview">Start discovering, using and sharing Ansible content.</p>

<div class="wrapper--sign-in">

    <nav class="social-links wrapper--sign-in__container">
        <a href="/accounts/github/login/?process=">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="/accounts/google/login/?process=">
            <i class="fa fa-google-plus fa-2x"></i>
        </a>
        <a href="/accounts/twitter/login/?process=">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </nav>
    <hr>
        {% if form.non_field_errors %}
        <dl class="alert alert--error">
          <dt>Errors:</dt>
          {% for error in form.non_field_errors %}<dd>{{error}}</dd>{% endfor %}
        </dl>
        {% endif %}
        <form class="sign-in wrapper--sign-in__container" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
            {% endif %}
            <label for="login">Username/Email</label>
            <input type="text" id="login" name="login" placeholder="user@example.com" autofocus autocomplete="off">

            <label for="password">
                Password
                <a class="sign-in__forgot" href="{% url 'account_reset_password' %}">I forgot</a>
            </label>
            <input type="password" id="password" name="password" autocomplete="off">

            <input type="checkbox" id="remember" name="remember" /> <label for="remember">Stay logged in</label>

            <button class="button--primary">Sign In</button>
        </form>

</div>

{% endblock %}

