{% extends "refresh2014/master.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Forgot Password" %}{% endblock %}

{% block main_container %}
    
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% else %}    
<h1 class="page-title">Forgot My Password</h1>

<p class="page__preview">
  {% trans "Forgot your password?  Enter the email address you used to create your account, or the primary email for your account, and we'll send you a password reset link." %}
</p>

<div class="l-wrapper--narrow l-wrapper--page">
        {% if form.non_field_errors %}
        <dl class="alert alert--error">
            <dt>Errors:</dt>
            {% for error in form.non_field_errors %}<dd>{{error}}</dd>{% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" placeholder="user@example.com" autofocus autocomplete="off" />
            {% if form.email.errors %}
            <div class="well-sm">
                <span class="text-danger">
                {% for error in form.email.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                </span>
            </div>
            {% endif %}
            <button class="button--primary">{% trans "Reset my password" %}</button>
        </form>

        <p>{% blocktrans %}Having trouble? Please <a href="http://ansibleworks.zendesk.com/anonymous_requests/new">contact us</a>.{% endblocktrans %}</p>

</div>
{% endif %}
{% endblock %}
