{% extends "refresh2014/master.html" %}

{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block extra_head %}
<meta http-equiv="refresh" content="5;URL={% url 'main:home' %}">
{% endblock %}

{% block main_container %}
<h1 class="page-title">Reset Password</h1>

<div class="l-wrapper--narrow l-wrapper--page">
<p>Your password is now changed. Redirecting you <a href="{% url 'main:home' %}">back to the home page...</a></p>
</div>

{% endblock %}
