{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block account_content %}
    <h2>{% trans "Password Reset Complete" %}</h2>

    <p>{% blocktrans %}We have sent an e-mail to the specified address for verification. Follow the link provided to reset your password.{% endblocktrans %}</p>
    <p>{% blocktrans %}If you do not receive the email within the next 15 minutes, or if you have any other questions or problems related to signing in with your account, you can <a href="https://ansibleworks.zendesk.com/anonymous_requests/new">contact us</a>, or you can find us in #ansible on the Freenode IRC network.{% endblocktrans %}</p>

{% endblock %}
