{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block account_content %}
    
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% else %}    
<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">Forgot My Password</div>
        <div class="rule"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-intro"><h4>{% trans "Forgot your password?  Enter your e-mail address, and we'll send you a password reset link." %}</h4></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Errors:</strong><br />
            {% for error in form.non_field_errors %}{{error}}<br />{% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="email" name="email" size="30" placeholder="Email address" autocomplete="off" />
                    <p class="field-help">{% trans "Enter the address you used to create your account or the primary email address for your account." %}</p>
                </div>
                <div class="col-lg-4">
                    {% if form.email.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.email.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div style="margin: 64px 0 20px 0; text-align: center;">{% blocktrans %}Please <a href="http://ansibleworks.zendesk.com/anonymous_requests/new">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>

</div>
{% endif %}
{% endblock %}
{% block document_ready %}
    <script>
        $("#email").focus();
    </script>
{% endblock %}
