{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">Password Reset Complete</div>
        <div class="rule"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="form-intro"><h4>{% trans "Your password has been changed." %}</h4></div>
    </div>
</div>

{% endblock %}
