{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
{% if token_fail %}
<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">Reset Password Failed</div>
        <div class="rule"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    </div>
</div>
{% else %}
    {% if form %}
<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">Reset Password</div>
        <div class="rule"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-intro"><h4>{% trans "Use this form to reset your password." %}</h4></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Errors:</strong><br />
            {% for error in form.non_field_errors %}{{error}}<br />{% endfor %}
        </div>
        {% endif %}

        <form method="POST" action=".">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="New password" autocomplete="off" >
                    <p class="help-block">{% trans "Enter your new password. Make it a strong one!" %}</p>
                </div>
                <div class="col-lg-6">
                    {% if form.password1.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.password1.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="New password, again" autocomplete="off" >
                    <p class="help-block">{% trans "Enter your new password again, just to make sure you typed it correctly." %}</p>
                </div>
                <div class="col-lg-6">
                    {% if form.password2.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.password2.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
            </div>
        </form>
    </div>
</div>
    {% else %}
<p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
{% endif %}

{% endblock %}
