{% extends "refresh2014/master.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block main_container %}

<h1 class="page-title">Change Password</h1>

<div class="l-wrapper--narrow l-wrapper--page">
{% if form.non_field_errors %}
<dl class="alert alert--error">
    <dt>Errors:</dt>
    {% for error in form.non_field_errors %}<dd>{{error}}</dd>{% endfor %}
</dl>
{% endif %}

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    <label for="oldpassword">Current password</label>
    <input type="password" id="oldpassword" name="oldpassword" autocomplete="off" autofocus>
    <label for="password1">New password</label>
    <input type="password" id="password1" name="password1" autocomplete="off">
    <label for="password2">New password, again</label>
    <input type="password" id="password2" name="password2" autocomplete="off">
      <button class="button--primary">{% trans "Change Password" %}</button>
</form>
</div>

{% endblock %}

