{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block account_content %}

<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">Change Password</div>
        <div class="rule"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-intro"><h4>{% trans "Use this form to reset your password to something new." %}</h4></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Errors:</strong><br />
            {% for error in form.non_field_errors %}{{error}}<br />{% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Current password" autocomplete="off" >
                    <p class="help-block">{% trans "Enter your current password." %}</p>
                </div>
                <div class="col-lg-6">
                    {% if form.oldpassword.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.oldpassword.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="New password" autocomplete="off" >
                    <p class="help-block">{% trans "Enter your new password. Make it a strong one!" %}</p>
                </div>
                <div class="col-lg-6">
                    {% if form.password1.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.password1.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="New password, again" autocomplete="off" >
                    <p class="help-block">{% trans "Enter your new password again, just to make sure you typed it correctly." %}</p>
                </div>
                <div class="col-lg-6">
                    {% if form.password2.errors %}
                    <div class="well-sm">
                        <span class="text-danger">
                        {% for error in form.password2.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block extra_body %}
    <script>
        $("#oldpassword").focus();
    </script>
{% endblock %}
