{% extends "refresh2014/master.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block main_container %}
<h1 class="page-title">Reset Password</h1>

{% if token_fail %}
<div class="l-wrapper--narrow l-wrapper--page">
  <dl class="alert alert--error">
    <dt>Reset Password Failed</dt>
    <dd>
      {% url 'account_reset_password' as passwd_reset_url %}
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please try <a href="{{ passwd_reset_url }}">resetting your password again</a>.{% endblocktrans %}
    </dd>
  </dl>
</div>
{% else %}
    {% if form %}

        <p class="page__preview">Now that you've confirmed who you are, go ahead and pick a new password.</p>
        <div class="l-wrapper--narrow l-wrapper--page">
          {% if form.non_field_errors %}
          <dl class="alert alert--error">
              <dt>Errors:</dt>
              {% for error in form.non_field_errors %}<dd>{{error}}</dd>{% endfor %}
          </dl>
          {% endif %}

          <form method="POST" action=".">
              {% csrf_token %}
              <label for="password1">New Password</label>
              <input type="password" id="password1" name="password1" autocomplete="off" autofocus>

              <label for="password2">New password, again</label>
              <input type="password" id="password2" name="password2" autocomplete="off" >
              <button class="button--primary">{% trans "Set Password" %}</button>
          </form>
        </div>
    {% else %}

    <div class="l-wrapper--narrow l-wrapper--page">
      <p>{% trans 'Your password is now changed. Redirecting you <a href="/">back to the home page...</a>' %}</p>
    </div>

    {% endif %}
{% endif %}
</div>

{% endblock %}
