{% extends 'account/base.html' %}

{% load galaxyhelpers %}

{% block account_content %}

<div class="row">
    <div class="col-lg-12 page-title">
        <div class="txt">My Roles</div>
        <div class="rule"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12"> 
        {% if transient %}
        <div class="alert alert-transient alert-{{ transient.status }}">
         <button type="button" class="close" data-dismiss="alert"><i class="icon-remove-sign"></i></button>
         {{ transient.msg|safe }}
        </div>
        {% endif %}
    </div>
</div>

<div ng-view></div>

{% endblock %}
