{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add a Role" %}{% endblock %}

{% block account_content %}
<div id="galaxy-role-add">
    <div class="row">
        <div class="col-lg-9">
            <h2>Add New Role</h2>
            <div class="form-intro">
                <p>The role should exist in its own Github repository. Provide your Github username and the repository name, and Galaxy will retrieve the role from Github.</p>
                <p>For example, if the role is located at <code>http://github.com/myusername/myrolename</code>, put 'myusername' in the first field and 'myrolename' in the second.<p>
                <h5 style="padding-top:5px;">Role Naming</h5>
                <p>By default the role name is taken from the Github repository name. Use the Alternate Name to override the default behavior and provide a different name.</p>
                <p>Galaxy strips 
                <em>(ansible[-_.+]*)*(role[-_.+]*)*</em> from the beginning of the name. For example,  
                <em>ansible-role-ansible</em> produces a role name of <em>ansible</em>. Both <em>ansible-ansible</em> and <em>ansible-role</em> result in an empty string and an error. The name <em>ansible</em> by itself, however, is allowed.</p>
                <h5 style="padding-top:5px;">Role Creation</h5>
                <p>For more information about how to create a role, see the <a href="{% url 'main:intro' %}">getting starteddocumentation</a>.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>ERROR:</strong> &nbsp;{% for error in form.non_field_errors %}{{error}}{% endfor %}
            </div>
            {% endif %}
            <form id="add_role_form" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control col-lg-12" id="github_user" maxlength="256" name="github_user" placeholder="Github Username" {% if form.github_user.value %}value="{{form.github_user.value}}" {% endif %}/>
                        <!--p class="help-block">{% trans "Enter the username/account name which owns the repository containing the role." %}</p-->
                    </div>
                    <div class="col-lg-6">
                        {% if form.github_user.errors %}
                        <div class="well-sm">
                            <span class="text-danger">
                            {% for error in form.github_user.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control col-lg-12" id="github_repo" maxlength="256" name="github_repo" placeholder="Github Repository Name" {% if form.gitub_repo.value %}value="{{form.github_repo.value}}" {% endif %}/>
                        <!-- p class="help-block">{% trans "Enter the name of the repository containing the role." %}</p -->
                    </div>
                    <div class="col-lg-6">
                        {% if form.github_repo.errors %}
                        <div class="well-sm">
                            <span class="text-danger">
                            {% for error in form.github_repo.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control col-lg-12" id="name" maxlength="512" name="name" placeholder="Alternate Name" {% if form.name.value %}value="{{form.name.value}}" {% endif %}/>
                        <div class="help-block">
                            {% trans "(Optional) An alternate name for the role. Otherwise, the repository name will be used." %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% if form.name.errors %}
                        <div class="well-sm">
                            <span class="text-danger">
                            {% for error in form.name.errors %}<i class="fa fa-exclamation-triangle"></i> {{ error|escape }}<br />{% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans "Add Role" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
