{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block account_content %}
    <div class="galaxy-message">
        <h2>{% trans "Verify Your E-mail Address" %}</h2>
        <div class="message-text">
            <p>We have sent an e-mail to <a href="mailto:{{email}}">{{ email }}</a> for verification. Follow the link provided to finalize the signup process.</p>
            <p>If you do not receive the email within the next 15 minutes, or if you have any other questions or problems related to signing in with your account, you can <a href="https://ansibleworks.zendesk.com/anonymous_requests/new">contact us</a>, or you can find us in #ansible on the Freenode IRC network.</p>
        </div>
    </div>
{% endblock %}
