/* card-info.component.less */

@import '../../../../variables';

.card-info {
    color: @black;
    height: 100%;

    .card-heading {
        padding-top: 10px;
        padding-bottom: 10px;
        .icon-container,
        .title-text {
            display: inline-block;
            vertical-align: middle;
        }
        .icon-container {
            margin-right: 6px;
        }
        .title-text {
            font-size: 16px;
            font-weight: 700;
        }
        .title-text {
            font-size: 16px;
            font-weight: 700;
        }
    }
    .card-info-body {
        font-size: 14px;
        td {
            padding-bottom: 20px;
            vertical-align: top;

            .min-version {
                background-color: @grey;
                color: white;
                padding: 3px;
            }
        }
        td:first-child {
            padding-right: 15px;
        }

        .info-row {
            display: flex;
            margin-bottom: 5px;
            align-items: center;

            .info-title {
                width: 200px;
                font-weight: bold;
                margin-right: 5px;
            }

            .min-version {
                background-color: @grey;
                color: white;
                padding: 3px;
            }
        }

        .tag {
            display: inline-block;
            font-weight: normal;
            margin-right: 5px;
            margin-top: 5px;
            padding: 1px 5px;
            background-color: @blue;
            color: @white;
            border-radius: 1px;
        }
    }

    .apb {
        .title {
            font-size: 16px;
            font-weight: 700;
            img {
                width: 48px;
                height: 48px;
            }
        }
        table {
            margin-top: 20px;
        }
        a,
        a:visited,
        a:active,
        a:hover {
            text-decoration: none;
        }
    }
}
