<div class="popular-widget">
    <div class="popular-title">
        <i class="fa fa-tags"></i> {{ popularTitle }}
    </div>
    <pfng-list
        [config]="listConfig"
        [items]="items"
        [itemTemplate]="itemTemplate"
        (onClick)="handleClick($event)">
        <ng-template #itemTemplate let-item="item" let-index="index">
            <div class="list-wrapper">
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-count">{{ item.roles_count | number }}</div>
            </div>
        </ng-template>
    </pfng-list>
</div>
