.button-pseudo {
  display: inline-block;
  padding: 8px 0;
  line-height: normal;
  vertical-align: middle;
  background: transparent;
  border: 0;
  .button + & {
    margin-left: @default-whitespace;
  }
}
