/* clipboard.component.less */

.copy-to-clipboard {
	code {
		background-color: #fff;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-left: 1px solid #bbb;
		border-right: 1px solid #fff;
		padding: 4px 5px 5px 5px;
		border-radius: 1px;
		margin: 0;
	}
	.btn {
		margin-left: -5px;
	}
}
