{# DEPRECATED: Remove specific handling of the process check for next major release -#}
init_config:

instances:
{% for process in datadog_process_checks %}
- name: {{ process.name }}
  search_string: {{ process.search_string }}
  {% if process.exact_match is defined -%}
  exact_match: {{ process.exact_match }}
  {% endif -%}
  {% if process.cpu_check_interval is defined -%}
  cpu_check_interval: {{ process.cpu_check_interval }}
  {% endif -%}
  {% if process.ignore_denied_access is defined -%}
  ignore_denied_access: {{ process.ignore_denied_access }}
  {% endif %}

{% endfor %}
