
#galaxy-search {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    width: auto;

    .form-group {
        display: inline-block;
        width: auto;
    }

    .form-control {
        display: inline-block;
        width: 400px;
    }

    .autocomplete-results {
        position: absolute;
        top: 37px;
        left: 0;
        z-index: +1;
        border: 1px solid #ccc;
        background-color: @white;
        min-width: 400px;
        padding: 5px;
        .title { 
            color: @charcoal;
        }
        .detail {
            color: @blue;
            font-weight: bold;
            padding-left: 10px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

}