
#galaxy-search {
    position: relative;
    display: inline-block;
    width: auto;

    .form-group {
        margin-bottom: 0;
    }

    .autocomplete-search-group {
        position: relative;
        .dropdown-menu {
            font-size: 12px;
        }
        button {
            width: 80px;
        }
    }

    .search-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: +100;
        color: @ansible-dark-grey;
    }
    
    .search-icon:hover {
        cursor: pointer;
    }

    .autocomplete-results {
        position: absolute;
        top: 30px;
        left: 81px;
        min-width: 150px;
        z-index: +1;
        border: 1px solid #ccc;
        background-color: @white;
        padding: 5px;
        font-size: 12px;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

    .search-key {
        display: inline-block;
        width: auto;
        background-color: @blue;
        border-radius: 2px;
        font-size: 10px;
        padding: 3px 3px 0 6px;
        color: @white;
        margin-right: 5px;
        margin-top: 5px;

        .cancel-search-key {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background-color: #ccc;
            color: @white;
            padding-right: 3px;
            padding-top: 3px;
            padding-left: 3px;
            margin-right: -5px;
            margin-top: -3px;
            margin-left: 6px;
            height: 23px;
            float: right;
            border-top-right-radius: 2px; 
            border-bottom-right-radius: 2px;
        }
        .cancel-search-key:hover {
            cursor: pointer;
        }
    }

    #autocomplete-order-by {
        label {
            font-weight: normal;
            font-size: 12px;
            color: @ansible-dark-grey;
        }
        select {
            width: 120px;
        }
        .form-control {
            display: inline-block;
        }
    }

   /* @media(max-width: 768px) {
        #autocomplete-order-by {
            select {
                width: auto;
            }
        }
    } */
}