/*
 * Home page banner
 */

 #galaxy-banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    overflow: hidden;
    background-image: url(../img/galaxy-bg.jpg);
    background-color: @black;
    background-repeat: no-repeat;
    color: @white;

    /*#galaxy-banner-inner {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 370px;
        background-color: @black;
        opacity: .4;
    }*/
}

#galaxy-banner-text {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;

    .login-text-container {
        text-align: right;
    }

    .title-text {
        h1 {
            margin-top: 0;
        }
    }

    .login-text {
        display: inline-block;
        padding-top: 10px;
        text-align: center;
        color: @white;
        .login-title {
            a {
                color: @white;
            }
            a:active, a:visited {
                color: @white;
            }
        }
        .github-icon {
            text-align: center;
            a:hover {
                color: @ansible-color;
            }
            a:active, a:visited {
                color: @white;
            }
        }
        .alternate-signin {
            display: inline-block;
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
            color: @ansible-color;
            text-shadow: 2px 1px #000;
        }
        a, a:active, a:visited {
            color: @white;
        }
        a:hover {
            color: @ansible-color;
        }
    }

    h2 {
         font-weight: 300;
         font-size: 24px;
         text-shadow: 2px 1px #000;
    }
    h1 {
         font-weight: 300;
         font-size: 28px;
         line-height: 46px;
         color: @white;
         text-shadow: 2px 1px #000;
    }
}


/* 
 * Animated Background 
 */

#galaxy-banner {
    z-index: 0;
    //position: fixed;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 370px;
    background: #03092b;
    -webkit-transition: background 0.8s ease-out;
    -moz-transition: background 0.8s ease-out;
    -o-transition: background 0.8s ease-out;
    -ms-transition: background 0.8s ease-out;
    transition: background 0.8s ease-out;
}
#galaxy-banner,
#galaxy-banner .bg {
    width: 100%;
    height: 370px;
    overflow: hidden;
}
#galaxy-banner * {
    position: absolute;
}
#galaxy-banner .bg {
    background: url('../img/bg.jpg') no-repeat 50% 50%;
}
#galaxy-banner .bg.center {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px;
    opacity: 0.8;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
#galaxy-banner [class^="stars"] {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#galaxy-banner .stars-back {
    background: url('../img/back.png');
    -webkit-animation: orbit-clock-wise 440s infinite linear;
    -moz-animation: orbit-clock-wise 440s infinite linear;
    -o-animation: orbit-clock-wise 440s infinite linear;
    -ms-animation: orbit-clock-wise 440s infinite linear;
    animation: orbit-clock-wise 440s infinite linear;
}
#galaxy-banner .stars-middle {
    background: url('../img/middle.png');
    -webkit-animation: orbit-counter-clock-wise 360s infinite linear;
    -moz-animation: orbit-counter-clock-wise 360s infinite linear;
    -o-animation: orbit-counter-clock-wise 360s infinite linear;
    -ms-animation: orbit-counter-clock-wise 360s infinite linear;
    animation: orbit-counter-clock-wise 360s infinite linear;
}
#galaxy-banner .stars-front {
    background: url('../img/front.png');
    -webkit-animation: orbit-clock-wise 160s infinite linear;
    -moz-animation: orbit-clock-wise 160s infinite linear;
    -o-animation: orbit-clock-wise 160s infinite linear;
    -ms-animation: orbit-clock-wise 160s infinite linear;
    animation: orbit-clock-wise 160s infinite linear;
}

@media (max-width: 768px) {
    #galaxy-banner-text {
        top: 100px;
        
        .title-text {
            text-align: center;
        }

        .login-text {
            padding-top: 30px;
            line-height: normal;
        }

        .login-text-container {
            text-align: center;
        }
        .ansible-color {
            color: @white;
        }
        h1 {
            font-size: 24px;
            line-height: normal;
        }
        h2 {
            font-size: 18px;
            line-height: normal;
        }
    }
}


@-webkit-keyframes orbit-clock-wise {
    0% { opacity: 0.4; -webkit-transform: rotate(0deg); }
    2% { opacity: 0.8; }
    4% { opacity: 0.2; }
    5% { opacity: 0.8; }
    100% { opacity: 0.4; -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes orbit-counter-clock-wise {
    from { -webkit-transform: rotate(360deg); } to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes orbit-clock-wise {
    0% { opacity: 0.4; -moz-transform: rotate(0deg); }
    2% { opacity: 0.8; }
    4% { opacity: 0.2; }
    5% { opacity: 0.8; }
    100% { opacity: 0.4; -moz-transform: rotate(360deg); }
}
@-moz-keyframes orbit-counter-clock-wise {
    from { -moz-transform: rotate(360deg); } to { -moz-transform: rotate(0deg); }
}
@-o-keyframes orbit-clock-wise {
    0% { opacity: 0.4; -o-transform: rotate(0deg); }
    2% { opacity: 0.8; }
    4% { opacity: 0.2; }
    5% { opacity: 0.8; }
    100% { opacity: 0.4; -o-transform: rotate(360deg); }
}
@-o-keyframes orbit-counter-clock-wise {
    from { -o-transform: rotate(360deg); } to { -o-transform: rotate(0deg); }
}
@-ms-keyframes orbit-clock-wise {
    0% { opacity: 0.4; -ms-transform: rotate(0deg); }
    2% { opacity: 0.8; }
    4% { opacity: 0.2; }
    5% { opacity: 0.8; }
    100% { opacity: 0.4; -ms-transform: rotate(360deg); }
}
@-ms-keyframes orbit-counter-clock-wise {
    from { -ms-transform: rotate(360deg); } to { -ms-transform: rotate(0deg); }
}
@keyframes orbit-clock-wise {
    0% { opacity: 0.4; transform: rotate(0deg); }
    2% { opacity: 0.8; }
    4% { opacity: 0.2; }
    5% { opacity: 0.8; }
    100% { opacity: 0.4; transform: rotate(360deg); }
}
@keyframes orbit-counter-clock-wise {
    from { transform: rotate(360deg); } to { transform: rotate(0deg); }
}



#galaxy-footer {
    background-color: @black;
    padding: 30px 0;

    a, a:active, a:visited {
        display: block;
        width: auto;
        color: @white;
    }
    a:hover {
        color: @blue;
    }

    h2 {
        color: @ansible-color;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
    }

    section {
        h2 {
            margin-bottom: 5px;
        }
        margin-top: 30px;
        a {
            line-height: 24px;
        }
    }

    section:last-of-type {
        margin-bottom: 20px;
    }

    .left-border {
        border-left: 1px solid rgb(51,56,59);
        padding-left: 30px;
    }

    .free-link, .free-link:active, .free-link:visited {
        color: @ansible-color;
        line-height: 24px;
        text-transform: uppercase;
    }
    .free-link:hover {
        color: @ansible-color;
    }

    .social-logos {
        margin-top: 60px;
        margin-bottom: 20px;

        a:hover {
            color: @blue;
            border-color: @blue;
        }
        .github-icon,
        .twitter-icon,
        .linkedin-icon,
        .facebook-icon {
            display: inline-block;
            vertical-align: top;
            border: 2px solid @white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            color: @white;
        }
        .twitter-icon i {
            padding-top: 5px;
            padding-left: 5px;
        }
        .github-icon i {
            padding-top: 4px;
            padding-left: 5.5px;
        }
        .linkedin-icon i {
            padding-top: 2px;
            padding-left: 7px;
        }
        .facebook-icon {
            padding-top: 5px;
            padding-left: 9px;
        }
    }

    .banner-container {
        text-align: center;
        padding: 13px 30px 0 15px;
        #ansible-logo {
            max-width: 110px;
            margin-bottom: 30px;
        }
        #tower-banner {
            border-radius: 2px;
            background-color: rgb(255, 88, 80);
            width: 100%;
            text-transform: uppercase;
            color: @white;
            padding: 30px 20px;
            text-align: left;
            h2 {
                color: white;
                font-size: 18px;
                font-weight: bold;
            }
            h3 {
                font-size: 24px;
                font-weight: 300;
            }
            .download-btn {
                font-size: 14px;
                margin-top: 15px;
                text-transform: uppercase;
            }
            .btn-primary {
                border-radius: 3px;
            }
            .btn-sm {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}


@media (max-width: 1200px) {
    #galaxy-footer {
        .banner-container {
            #tower-banner {
                .download-btn {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 990px) {
    #galaxy-footer {
        .banner-container {
            padding-right: 15px;
            padding-bottom: 30px;
        }
        .left-border {
            border-left: none;
            padding-left: 15px;
        }
    }
}
