/*
 * Home page banner
 */

 #galaxy-banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    overflow: hidden;
    background-image: url(../img/galaxy-bg.jpg);
    background-color: @black;
    background-repeat: no-repeat;
    color: @white;

    #galaxy-banner-inner {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 370px;
        background-color: @black;
        opacity: .4;
    }

    #galaxy-banner-text {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
    }

    .login-text-container {
        text-align: right;
    }

    .title-text {
        h1 {
            margin-top: 0;
        }
    }

    .login-text {
        display: inline-block;
        padding-top: 10px;
        text-align: center;
        color: @white;
        .login-title {
            a {
                color: @white;
            }
            a:active, a:visited {
                color: @white;
            }
        }
        .github-icon {
            text-align: center;
            a {
                color: @white;
            }
            a:active, a:hover, a:visited {
                color: @white;
            }
        }
        .alternate-signin {
            display: inline-block;
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
            color: @ansible-color;
            a, a:active, a:visited {
                color: @ansible-color;
            }
            a:hover {
                color: @white;
            }
        }
    }

    h2 {
         font-weight: 300;
         font-size: 24px;
    }
    h1 {
         font-weight: 300;
         font-size: 28px;
         line-height: 46px;
    }
}

@media (max-width: 768px) {
    #galaxy-banner {
        .title-text {
            text-align: center;
        }

        .login-text {
            padding-top: 30px;
        }

        .login-text-container {
            text-align: center;
        }

        #galaxy-banner-text {
            top: 40px;
        }
    }
}

@media (max-width: 600px) {
    #galaxy-banner {
        height: 430px;
    }
}

@media (max-width: 400px) {
    #galaxy-banner {
        height: 470px;
    }    
}

/*
 @media (min-width: 1400px) {
    #galaxy-banner {
        .galaxy-banner-inner {
            opacity: .3;
        }
    }
 }

 @media (min-width: 1200px) {
     #galaxy-banner {
         .title-text {
             width: 40%;
         }
     }
 }
 */
