/*
 * buttons.less
 */


 /*
  * bootstrap button overrides
  */
 .btn-success {
     background-color: @ansible-color;
     border: none;
     border-radius: 2px;
 }
 .btn-success:hover {
     background-color: @ansible-color-hover;
     border-radius: 2px;
 }
 .btn-primary {
     background-color: @blue;
     border-radius: 2px;
     border: none;
 }
 .btn-primary:hover {
     border-radius: 2px;
     border: none;
 }
 .btn-default {
     background-color: #f2f2f2;
     border: none;
     border-radius: 2px;
 }
 .btn-default:hover {
     background: #e1e1e1;
     border: none;
     border-radius: 2px;
 }
 .btn-danger {
     background-color: #ff5850;
     border: none;
     border-radius: 2px;
 }
 .btn-danger:hover {
     background-color: #d05852;
     border:none;
     border-radius: 2px;
 }
