/*
 * Info section of home page.
 */

#galaxy-info {
    margin-top: 30px;
    margin-bottom: 30px;
    
    .info-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        color: @grey;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .download-icon,
    .share-icon,
    .thumbs-up-icon {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        i {
            color: @white;
            padding-top: 3px;
            padding-left: 6px;
        }
    }
    .download-icon {
        background-color: @ansible-color;
        border: 1px solid @ansible-color;
        i {
            padding-left: 5px;
        }
    }
    .share-icon {
        background-color: @blue;
        border: 1px solid @blue;
        i {
            padding-top: 5px;
            padding-left: 6px;
        }
    }
    .thumbs-up-icon {
        background-color: @red;
        border: 1px solid @red;
    }
    .content-txt {
        text-align: justify;
        padding: 15px 0 0 0;
    }
    pre {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #galaxy-info {
        .content-txt {
            margin-bottom: 30px;
        }
    }
}
