/*
 * intro_page.less
 */

 #galaxy-intro-page {
     @border-color: #e1e1e1;

     margin-top: 30px;
     margin-bottom: 30px;

     h2 {
         margin-top: 0;
     }
     h3, h4 {
         margin-top:30px;
     }
     h5 {
         margin-top: 20px;
         font-weight: bold;
     }
     pre {
         margin: 15px 0 20px 0;
     }
     .galaxy-intro-links {
         font-size: 13px;
         z-index: +1;
         width: 234px;
         background-color: #f2f2f2;
         border-radius: 2px;
         border: 1px solid @border-color;

         .galaxy-nav-title {
            i { color: #b7b7b7; }
            color: #848992;
            border-bottom: 1px solid @border-color;
            text-align: center;
            padding: 15px;
            margin-bottom: 10px;
         }

         .nav > li > a:hover {
             background-color: @white;
             border-radius: 2px;
         }
         .nav > li > a {
            padding: 5px 10px 5px 10px;
         }
         .nav > li > ul > li a {
            padding: 3px 10px 3px 10px;
         }
         .nav >li >a.pad {
             padding-left: 40px;
         }
         .back-to-top-link {
             text-align: center;
             padding: 15px;
             a {
                 color: #848992;
                 i {
                     color: #b7b7b7;
                 }
             }
             a:active,
             a:visited,
             a:hover {
                 color: #848992;
                 i {
                     color: #b7b7b7;
                 }
             }
         }
     }

     .galaxy-intro-links.affix {
        top: 30px;
     }

     .galaxy-nav-title {
         padding-left: 15px;
         font-size: 15px;
         color: #848992;
         hr {
             border-color: #ccc;
             padding: 0;
             margin-top: 10px;
             margin-bottom: 10px;
         }
     }

     .intro-content {
         overflow-y: hidden;
     }

     .screen-shot {
        border: 1px solid #ebebeb;
        border-radius: 2px;
        text-align: center;
        padding: 10px;
        margin: 15px auto;
        max-width: 572px; 
        img {
            max-width: 550px;
        }
     }
 }

 @media (max-width: 1120px) {
    #galaxy-intro-page {
        .galaxy-intro-links {
            width: 240px;
        }
    }
 }

 @media (min-width: 1250px) {
    #galaxy-intro-page {
        .galaxy-intro-links {
            width: 240px;
        }
        .col-lg-3 {
            width: 20%;
        }
        .col-lg-9 {
            width: 80%;
        }
    }
 }

 @media (min-width: 1650px) {
    #galaxy-intro-page {
        .col-lg-3 {
            width: 15%;
        }
        .col-lg-9 {
            width: 85%;
        }
    }
 }

 @media (max-height: 700px) {
    #galaxy-intro-page {
        .galaxy-intro-links.affix {
            top: 0;
        } 
    }
 }
