/*
 * my_namespaces.less
 */

 #galaxy-my-namespaces {

    h2 {
        padding-bottom: 10px;
    }
    .modified {
        color: @ansible-dark-grey;
        font-size: 12px;
        margin-top: 5px;
    }
    .list-view-pf-left .fa.list-view-pf-icon-sm.disabled {
        border: 2px solid #ccc;
        color: #ccc;
    }

    @media(min-width: 768px) {
        .toolbar-pf .form-group:first-child {
            padding-left: 0px;
        }
    }
 }