/*
 * role_detail.less
 *
 */

 #galaxy-role-detail {

     margin-bottom: 30px;

    .rolename { margin-top: 0; }
    .user-info {
        display: inline-block;
        text-align: center;
        img { border-radius: 6px; }
        .username {
            font-size: 16px;
            padding: 5px 0 5px 0;
        }
    }
    .description {
        margin-top: 20px;
        margin-bottom: 30px;
        color: @charcoal;
    }

    .rating-section {
        margin-top: 10px;
        margin-bottom: 30px;

        .role-ratings {
            color: @charcoal;
            table {
                tr {
                    td:first-child {
                        padding-right: 10px;
                        padding-left: 15px;
                    }
                }
                tr:first-child {
                    color: @black;
                    font-weight: bold;
                    td:first-child { padding-left: 5px; }
                }
            }
        }
        .ratings-count {
            .count-grey {
                color: #ccc;
            }
            .count-blue {
                color: @ansible-color;
            }
        }
    }
    .actions {
        margin-bottom: 30px;
    }

    .platforms, .versions {
        td, th {
            width: 50%;
        }
    }

    .table-scroller {
        height: 300px;
        overflow-y: scroll;
    }

    .ansible-version {
        margin-bottom: 30px;
        .title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .version {
            font-size: 16px;
            font-weight: bold;
            padding-left: 5px;
            color: @charcoal;
        }
    }
    .readme {
        table {
            width: 100%;
            margin-bottom: 20px;
            th {
                padding: 0.4em 0.8em;
                border: 1px solid black;
            }
            td {
                padding: 0.8em;
                border: 1px solid black;
            }
        }
        pre {
            overflow: auto;
            word-break: inherit;
            word-wrap: inherit;
            code {
                white-space: pre;
                overflow: initial;
            }
        }
    }
}
