/*
 * role_list.less
 */
 
#galaxy-role-list {
    overflow-y: hidden;
    
    #search-control-container {
        overflow-y: hidden;
    }
    
    #galaxy-page-title {
        position: fixed;
        left: 0;
        top: @navbar-height;
        width: 100%;
    }

    #galaxy-page-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #role-list-container {
        margin-top: 150px;
    }

    #simple-galaxy-copyright {
        margin-bottom: 30px;
        color: @ansible-dark-grey;

        @media (max-width: 768px) {
            margin-top: 30px;
            text-align: center;
            font-size: 12px;
        }
    }

    #role-list-search {
        padding-top: 5px;
        border-radius: 2px;
        background-color: #e1e1e1;
        margin-bottom: 20px;
        
        #role-order-by {
            display: inline-block;
            margin-left: 15px;
            #orderby {
                width: 150px;
            }
            label {
                font-weight: normal;
                color: @ansible-dark-grey;
            }
        }

        @media (max-width: 768px) {
            .filter-toggle {
                margin-right: 10px;
                margin-top: 5px;
            }
        }
    }

    #role-tags-container {
        background-color: #e1e1e1;
        border-radius: 2px;
        overflow-y: none; 
        .header {
            height: 40px;
            padding-top: 10px;
            border-bottom: 1px solid @white;
            .title {
                color: @ansible-dark-grey;
                font-size: 14px;
                text-align: center;
            }
        }
        .body-wrapper {
            height: 310px;
            overflow: hidden;
        }
        .body {
            padding: 10px;
            text-align: center;
            height: 300px;
            overflow-y: auto;
            .tag {
                font-size: 12px;
                font-weight: normal;
                margin-bottom: 5px;
                .tag-name {
                    display: inline-block;
                    vertical-align: top;
                    width: 65%;
                    border-radius: 2px;
                    background-color: #b7b7b7;
                    color: @white;
                    padding: 3px 6px;
                    text-align: left;
                    margin-right: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .tag-name:hover {
                    background-color: @blue;
                    cursor: pointer;                
                }
                .tag-name.active {
                    background-color: @blue;
                }
                .tag-roles {
                    display: inline-block;
                    vertical-align: top;
                    border-radius: 2px;
                    background-color: @ansible-dark-grey;
                    color: @white;
                    padding: 3px 6px;
                    width: 25%;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    @media (max-width: 768px) {
        #role-tags-container {
            display: none;
        }
    }

    #results-container {
        overflow-x: hidden;
        overflow-y: auto;

        .result {
            display: inline-block;
            vertical-align: top;
            width: 350px;
            height: 235px;
            padding: 10px;
            border: 1px solid #ccc; 
            border-radius: 2px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            -webkit-box-shadow: 2px 2px 2px 0 #ccc;
            -moz-box-shadow:    2px 2px 2px 0 #ccc;
            box-shadow:         2px 2px 3px 0 #ccc;
        
            .header {
                .title {
                    display:inline-block;
                    width: 75%;
                    font-size: 14px;
                    color: @blue;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .badge {
                    display:inline-block;
                    float: right;
                    background-color: #b7b7b7;
                    font-weight: normal;
                }
            }

            hr {
                margin: 0 -10px 10px -10px;
                border-color: #e1e1e1;
            } 
            
            .body {
                .description {
                    height: 40px;
                    overflow: hidden;
                    color: @ansible-dark-grey;
                }
                .description.na {
                    color: @ansible-dark-grey;
                }
                .stats-table {
                    .key,.value {
                        padding: 3px 0 3px 5px;
                    }
                    .key {
                        width: 100px;
                        //background-color: #f6f6f6;
                        color: @ansible-dark-grey;
                    }
                    .value {
                        display: block;
                        width: 230px;
                        // background-color: #f6f6f6;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: @black;
                    }
                    .value.na {
                        color: @ansible-dark-grey;
                    }
                }              
                .result-label {
                    color: @ansible-color;
                    padding-right: 6px;
                    font-weight: bold;
                }
            }
            .footer {
                margin-top: 5px;
                .img-container {
                    display: inline-block;
                    margin-left: 15px;
                    img {
                        width: 90px;
                    }
                }
                .counts {
                    display: inline-block;
                    float: right;
                    margin-right: 15px;
                    text-align: right;
                    .stargaze, .subscribe {
                        display: inline-block;
                        btn {
                            margin-right: 3px;
                        }
                    }
                    .subscribe {
                        margin-right: 5px;
                    }
                }
            }
        }

        @media(min-width: 768px) {
            label {
                padding-top: 0;
            }
        }
    }

}
