/*
 * role_list.less
 */
 
#galaxy-role-list {

    #search-control-container {
        overflow-y: hidden;
    }

    #galaxy-page-title {
        position: fixed;
        left: 0;
        top: @navbar-height;
        width: 100%;
    }

    #galaxy-page-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #simple-galaxy-copyright {
        margin-bottom: 30px;
        color: @ansible-dark-grey;

        @media (max-width: 768px) {
            margin-top: 30px;
            text-align: center;
            font-size: 12px;
        }
    }

    #role-list-search {
        padding-top: 5px;
        border-radius: 2px;
        background-color: #e1e1e1;
        margin-bottom: 20px;
        
        #role-order-by {
            display: inline-block;
            margin-left: 15px;
            #orderby {
                width: 150px;
            }
            label {
                font-weight: normal;
                color: @ansible-dark-grey;
            }
        }

        @media (max-width: 768px) {
            .filter-toggle {
                margin-right: 10px;
                margin-top: 5px;
            }
        }
    }

    .tags-sidebar{
        border-radius: 2px;
        border: 1px solid #e1e1e1;
        margin-bottom: 1em;
        overflow: hidden;

        .title {
            padding: 0.5em 0 0.5em 0;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            color: @ansible-dark-grey;
            background-color: #e1e1e1;
        }

        .tags-container {
            padding-left: 0.3em;
            justify-content: space-evenly;
        }

    }

    @media (max-width: 768px) {
        #role-tags-container {
            display: none;
        }
    }

    #results-container {

        .result {
            padding: 10px;
            border-bottom: 1px solid #ccc;

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            .author {
                font-size: 18px;
                font-weight: 500;
            }

            .description {
                color: @ansible-dark-grey;
                margin-bottom: 0.5em;
            }

            .build-status img {
                width: 90px;
            }

            .result-label {
                color: @ansible-color;
                padding-right: 6px;
                font-weight: bold;
            }

            .tags-container {
                margin-bottom: 0.5em;
            }

            .counters-container {
                .counter {
                    font-size: 120%;
                }

                > div {
                    color: @ansible-dark-grey;
                    display: inline-block;
                    margin-right: 1em;
                }

            }
        }

        @media(min-width: 768px) {
            label {
                padding-top: 0;
            }
        }
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;

        a {
            display: inline-block;
            background-color: #f1f8ff;
            padding: 0.3em 0.9em;
            margin: 0.3em 0.5em 0.3em 0;
            font-size: 85%;
        }
    }

}
