# Common
# NOTE(cutwater): Probably some of requirements below are obsolete.
#                 Review required.
ansible==2.9.2
bleach>=3.1.1
bleach-whitelist==0.0.10
galaxy-importer==0.2.0
gunicorn==19.7.1
markdown
marshmallow
PyGithub
pyOpenSSL
python-dateutil
pytz
PyYAML>=4.2b0
requests
requests-oauthlib
rst2html5-tools
semantic_version

# Django
Django>=2.2.10,<3.0
django-allauth>=0.37,<0.38
# TODO(cutwater): Review usage of this package
django-bootstrap-form
django-filter
# logging related
# add request-id to django logs
django-log-request-id
django-storages[boto3]>=1.7.1,<1.8
djangorestframework>=3.7,<3.8
dj-database-url
# format log output as json
jog


# Pulp
# NOTE(cutwater): pulpcore requires aiohttp, but does not specifies it as a
#                 dependency in package metadata
aiohttp
pulpcore==3.0.0b21


# Database
psycopg2-binary
influxdb


# Tasking
celery==3.1.24
# NOTE(cutwater): django-celery is deprecated and should be removed after
#                 upgrade to celery 4
django-celery


# Web analytics/metrics
prometheus_client
django-prometheus


# Content linting
ansible-lint
flake8
yamllint


# Docs
Sphinx<1.8.0
