<div class="padding-15">
    <div class="row">
        <div class="col-sm-12">
            <div class="loading-repos-spinner-container" *ngIf="loading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>

            <div class="form-group" *ngIf="!loading">
                <pfng-list
                    [actionTemplate]="actionTemplate"
                    [config]="listConfig"
                    [items]="items"
                    [itemTemplate]="itemTemplate"
                    (onActionSelect)="handleAction($event, null)"
                    (onClick)="handleClick($event)"
                    (onDblClick)="handleDblClick($event)"
                    (onSelectionChange)="handleSelectionChange($event)">
                    <ng-template #itemTemplate let-item="item" let-index="index">
                        <div class="list-pf-left">
                            <span class="pficon-repository list-pf-icon list-pf-icon-small"></span>
                        </div>
                        <div class="list-pf-content-wrapper">
                            <div class="list-pf-main-content">
                                <div class="list-pf-title">{{item.name}}</div>
                                <div class="list-pf-description text-overflow-pf">{{item.address}}</div>
                            </div>
                            <div class="list-pf-additional-content">

                            </div>
                        </div>
                    </ng-template>
                    <ng-template #actionTemplate let-item="item" let-index="index">
                        <pfng-action class="list-pf-actions"
                                     [config]="getActionConfig(item, actionButtonTemplate, startButtonTemplate)"
                                     (onActionSelect)="handleAction($event, item)">
                            <ng-template #actionButtonTemplate let-action="action">
                                <span class="fa fa-plus">&nbsp;</span>{{action.title}}
                            </ng-template>
                            <ng-template #importButtonTemplate let-action="action">
                                {{item.importing === true ? "Importing" : action.title}}
                            </ng-template>
                        </pfng-action>
                    </ng-template>
                </pfng-list>
            </div>
        </div>
    </div>
</div>
