<div class="toolbar" *ngIf="maxItems > 5"
    [ngClass]="{'toolbar-empty': filterConfig.appliedFilters.length === 0,
                'toolbar-with-search': filterConfig.appliedFilters.length > 0}">
    <pfng-toolbar [config]="toolbarConfig"
                  (onFilterChange)="filterChanged($event)"
                  (onSortChange)="sortChanged($event)">
    </pfng-toolbar>
</div>

<div class="repos-container">
    <!--div class="content-refresh" [ngClass]="{'hide-content': !refreshing}"><i class="fa fa-spinner fa-spin"></i>  Refreshing...</div-->
    <div *ngIf="namespace.active">
        <pfng-list
            [actionTemplate]="actionTemplate"
            [config]="listConfig"
            [items]="items"
            [itemTemplate]="itemTemplate"
            (onActionSelect)="handleAction($event, null)">
            <ng-template #itemTemplate let-item="item" let-index="index">
                <div class="list-pf-left">
                    <span *ngIf="!item.summary_fields.loading" [ngClass]="item['iconClass']"></span>
                    <div *ngIf="item.summary_fields.loading" class="spinner spin-wrapper"></div>
                </div>
                <div class="list-pf-content-wrapper">
                    <div class="list-pf-main-content">
                        <div class="list-pf-title">
                            <a [routerLink]="item.detail_url">{{ item.name }}</a></div>
                        <div class="list-pf-description text-overflow-pf">{{ item.description | slice:0:60 }}</div>
                    </div>
                    <div class="list-pf-additional-content">
                        <div>
                            <app-score [repo]="item"></app-score>
                        </div>

                        <div *ngIf="item['latest_import'] && (item['latest_import']['state'] === 'PENDING' || item['latest_import']['state'] === 'RUNNING')">
                            <a [routerLink]="['/my-imports']" [queryParams]="{namespace: namespace.name, repository_name: item.name}" class="running"
                                tooltip="View import log">
                                <i class="fa fa-spin fa-spinner"></i>
                                <span class="text">{{ item['latest_import']['state'][0] + item['latest_import']['state'].substring(1, item['latest_import']['state'].length).toLowerCase() }}
                                {{ item['latest_import']['as_of_dt'] }}</span>
                            </a>
                        </div>
                        <div *ngIf="item['latest_import'] && item['latest_import']['state'] === 'SUCCESS'">
                            <a [routerLink]="['/my-imports']" [queryParams]="{namespace: namespace.name, repository_name: item.name}" class="succeeded"
                                tooltip="View import log">
                                <i class="fa fa-circle"></i> <span class="text">Succeeded {{ item['latest_import']['as_of_dt'] }}</span>
                            </a>
                        </div>
                        <div *ngIf="item['latest_import'] && item['latest_import']['state'] === 'FAILED'">
                            <a [routerLink]="['/my-imports']" [queryParams]="{namespace: namespace.name, repository_name: item.name}" class="failed"
                                tooltip="View import log">
                                <i class="fa fa-circle"></i> <span class="text">Failed {{ item['latest_import']['as_of_dt'] }}</span>
                            </a>
                        </div>
                    </div>

                    <span *ngIf="item.deprecated" class="label label-danger">Deprecated</span>
                </div>
            </ng-template>
            <ng-template #actionTemplate let-item="item" let-index="index">
                <namespace-repository-action
                    [repository]="item"
                    (handleAction)="handleItemAction($event)">
                </namespace-repository-action>
            </ng-template>
            </pfng-list>

        <div class="pagination" *ngIf="maxItems > 5">
            <pfng-pagination
                [config]='paginationConfig'
                (onPageSizeChange)="handlePageChange($event)"
                (onPageNumberChange)="handlePageChange($event)">
               </pfng-pagination>
        </div>

        <div class="content-loader" [ngClass]="{'hide-content': !loading}">
            <div class="content-loader-inner">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
    </div>
    <div *ngIf="!namespace.active">
        <pfng-empty-state [config]="disabledStateConfig"></pfng-empty-state>
    </div>
</div>
