#my-content-page {
    margin-bottom: 60px;
    .pagination-widget {
        width: 100%;
    }
}

.github-avatar {
    width: 32px;
    height: 32px;
}

.toolbar-pf {
    border-bottom: none;
    box-shadow: none;
}

/* Fixes custom expansion for repos on My Content page. */
.repos-container {
    margin-top: 30px;
    margin-bottom: 15px;

    .list-pf-item:first-child {
        border: none;
    }
    .list-pf-container {
        border-top: 1px solid #ededed;
    }
}

.primary-action-btn {
    min-width: 86.5312px;
}

#my-content-list {
    margin-bottom: 20px;

    .center-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
