.github-avatar {
    width: 32px;
    height: 32px;
}

.toolbar-pf {
    border-bottom: none;
    box-shadow: none;
}

/* Fixes custom expansion for repos on My Content page. */
.repos-container {
    margin-top: 30px;
    margin-bottom: 15px;

    .list-pf-item:first-child {
        border: none;

    }
    .list-pf-container {
        border-top: 1px solid #ededed;
    }
}

.primary-action-btn {
    min-width: 86.5312px;
}

#my-content-list {
    .list-pf, .list-pf-item, .list-pf-container, .list-pf-content {
        max-width: 100%;
    }
    .list-pf-main-content {
        flex-basis: 50%;
        flex-grow: 0;
    }
    .list-pf-additional-content {
        flex-basis: 30%;
        flex-grow: 0;
    }

    .list-pf-content-wrapper {
        max-width: 100%;
    }

    .list-pf-title, .list-pf-description {
        flex-grow: 0;
        flex-basis: 50%;
    }
}