/* carousel-component.less */

@import '../../../variables';

.partner-carousel {
    border: 1px solid #ccc;
    width: 100%;
    height: 265px;
    color: @black;
}

.carousel-header {
    padding-bottom: 20px;
    .header-icon {
        padding-right: 10px;
    }
    .header-text {
        font-size: 18px;
        font-weight: 700;
    }
}

.carousel-header > a {
    float: right;
    margin-top: 0px;
    a, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}

.carousel-left-control, .carousel-right-control {
    display: inline-block;
    background-color: transparent;
    height: 225px;
    vertical-align: middle;
    width: 2%;
    min-width: 20px;
    text-align: center;
    color: #b7b7b7;
    a {
        display: block;
        margin-top: 105px;
    }
    a:hover {
        cursor: pointer;
    }
    a, a:visited, a:hover, a:active {
        color: @black;
    }
}

.carousel-right-control{
    float: right;
}

.carousel-slider {
    display: inline-block;
    height: 225px;
    vertical-align: middle;
    width: 95%;
}

@media (max-width: 1224px) {
    .carousel-slider {
        width: 90%;
    }
    .carousel-left-control, .carousel-right-control {
        width: 20px;
    }
}

@media (max-width: 640px) {
    .carousel-slider {
        width: 80%;
    }
    .carousel-left-control, .carousel-right-control {
        width: 20px;
    }
}

@media (max-width: 400px) {
    .carousel-slider {
        width: 50%;
    }
    .carousel-left-control, .carousel-right-control {
        width: 20px;
    }
}

.carousel-slider-inner {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
}

.carousel-slider-inner > div {
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 15px 30px;
    flex-shrink: 0;
    .img-wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        td {
            text-align: center;
            vertical-align: middle;
        }
    }
    img {
        width: 200px;
    }
    img.missing-avatar {
        width: 200px;
        height: 170px;
    }
    p {
        padding-top: 10px;
        font-weight: 700;
    }
    width: 260px;
    height: 225px;
}

.carousel-slider-inner > div:last-child {
    border-right: 1px solid #fff;
}

.carousel-slider-inner > div:hover {
    cursor: pointer;
}
