<app-page-header [headerTitle]="headerTitle"></app-page-header>
<div id="explore-page" class="container-fluid">
  <div class="row content-row">
    <div class="col-sm-4">
      <div>
        <pfng-card [headerTemplate]="mostStarred">

          <ng-template #mostStarred>
            <div class="card-header">
              <span class="header-icon"><i class="fa fa-star fa-2x"></i></span>
              <span class="header-text">Most Starred</span>
            </div>
          </ng-template>

          <div class="card-cont">
            <!-- <ul>
              <li *ngFor="let repo of mostStarred">{{repo.name }}</li>
            </ul> -->
            <pfng-list [items]="mostStarred" [itemTemplate]="starredTemplate">
              <ng-template #starredTemplate let-item="item" let-item="index">
                <div class="list-pf-content-wrapper">
                  <div class="list-pf-main-content">
                    <div class="list-of-title text-overflow-pf">
                      <span class="item-name">{{item.name}}</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </pfng-list>
          </div>

        </pfng-card>



      </div>
    </div>
    <div class="col-sm-4">
      <pfng-card [headerTemplate]="mostWatched">

        <ng-template #mostWatched>
          <div class="card-header">
            <span class="header-icon"><i class="fa fa-eye fa-2x"></i></span>
            <span class="header-text">Most Watched</span>
          </div>
        </ng-template>

        <div class="card-cont"></div>

      </pfng-card>
    </div>


    <div class="col-sm-4">
      <pfng-card [headerTemplate]="mostDownloaded">

        <ng-template #mostDownloaded>
          <div class="card-header">
            <span class="header-icon"><i class="fa fa-download fa-2x"></i></span>
            <span class="header-text">Most Downloaded</span>
          </div>
        </ng-template>

        <div class="card-cont"></div>

      </pfng-card>
    </div>
  </div>

  <div class="row content-row">
    <div class="col-sm-4">
      <pfng-card [headerTemplate]="topContributors">

        <ng-template #topContributors>
          <div class="card-header">
            <span class="header-icon"><i class="fa fa-user-circle fa-2x"></i></span>
            <span class="header-text">Top Contributors</span>
          </div>
        </ng-template>

        <div class="card-cont"></div>

      </pfng-card>
    </div>
    <div class="col-sm-4">
      <pfng-card [headerTemplate]="topTags">

        <ng-template #topTags>
          <div class="card-header">
            <span class="header-icon"><i class="fa fa-tags fa-2x"></i></span>
            <span class="header-text">Top Tags</span>
          </div>
        </ng-template>

        <div class="card-cont"></div>

      </pfng-card>
    </div>


    <div class="col-sm-4">
      <pfng-card [headerTemplate]="newest">

        <ng-template #newest>
          <div class="card-header">
            <span class="header-icon"><i class="fa fa-certificate fa-2x"></i></span>
            <span class="header-text">Newest</span>
          </div>
        </ng-template>

        <div class="card-cont"></div>

      </pfng-card>
    </div>
  </div>

</div>
