// LAYOUT STYLES
// ------------------------------
// Prefix layout styles with `l-`
// to make the context clear
// Main container styles
.l-container {
  margin: 0 auto;
  max-width: @l-max-width;
  width: 90%;
}
.l-section {
  margin-bottom: @default-whitespace;
}
// Layout helpers
.l-left {
  float: left;
}
.l-right {
  float: right;
}
