.l-wrapper {
  &--narrow {
        margin: 0 auto;
        width: 50%;
  }
  &--page {
        margin-bottom: 2em;
  }
}

.wrapper {
    &--homepage {
        & * {
            text-align: center;
        }
        padding: 1em;
    }
    &--about {
        padding: 1em 0;
    }
}
