.l-wrapper {
  &--narrow {
    &--left {
      margin: 0;
      width: 50%;
    }
    margin: 0 auto;
    width: 50%;
  }
  &--page {
        margin-bottom: 2em;
        .page-title+& {
          margin-top: 4.5em;
        }
  }
}

.wrapper {
    &--homepage {
        & * {
            text-align: center;
        }
        padding: 1em;
    }
    &--about {
        padding: 1em 0;
    }
}
