/* cloud-platforms.component.less */

@import '../../../../variables';

.card-dependencies {
    color: @black;
    font-size: 14px;
    font-weight: 700;
    .card-heading {
        padding-top: 10px;
        padding-bottom: 10px;
        .title-text {
            font-size: 16px;
            font-weight: 700;
        }
    }
    table {
        width: 100%;
    }

    .name,
    .version {
        font-size: 14px;
        font-weight: normal;
        color: @white;
        padding: 1px 5px;
        background-color: @blue;
        /*min-width: 200px;*/
        border-bottom: 2px solid @white;
    }
    .name {
        background-color: @blue;
        border-right: 4px solid @white;
    }
    .version {
        background-color: @ansible-dark-grey;
        text-align: right;
    }
    a,
    a:visited,
    a:active {
        color: @white;
    }
    a:hover {
        text-decoration: none;
    }
}
