<div class="container-fluid extra-details">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Info
            </h2>
            <div class="info">
                <div class="info-row">
                    <div class="info-left">
                        Latest Commit:
                    </div>
                    <div class="info-right">
                        {{ repo.commit_message }}
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-left">
                        Downloads:
                    </div>
                    <div class="info-right">
                        {{ repo.download_count }}
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-left">
                        Community Score:
                    </div>
                    <div class="info-right">
                        <span *ngIf="!repo.community_score">NA</span>
                        {{ repo.community_score }}
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-left">
                        Quality Score:
                    </div>
                    <div class="info-right">
                        <span *ngIf="!repo.quality_score">NA</span>
                        {{ repo.quality_score }}
                    </div>
                </div>

                <div class="info-row" *ngIf="repo.travis_build_url">
                    <div class="info-left">
                        Travis Status:
                    </div>
                    <div class="info-right">
                        <a href="{{ repo.travis_build_url }}" container="body" target="_blank" tooltip="View Travis build output. Opens in new tab or window.">
                            <img src="{{ repo.travis_status_url }}"
                                class="travis-status-img" title="Travis Build Status" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bootstrap stops working when I create two width 6 columns for some reason -->
        <!-- <div class="col-xs-5">
            <h2>
                Surveys
            </h2>
        </div> -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>
                Content
            </h2>

            <div class="repo-contents">
                <ul>
                    <li *ngFor="let content of repo.summary_fields.content_objects">
                        <b>{{ content.name }}</b>: {{ content.description }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>
                Warnings
            </h2>

            <div class="repo-warnings">
                <ul>
                    <li *ngFor="let warn of warnings">
                        <b>{{ warn.linter_rule_id }}</b>: {{ warn.message_text }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
