.extra-details {
    font-size: 14px;
}

.info {
    .info-row {
        display: flex;

        .info-left {
            width: 150px;
            min-width: 150px;
            font-weight: 700;
            display: inline-block;
        }

        .info-right {
            display: inline-block;
        }
    }
}
