NameVirtualHost *:80
NameVirtualHost *:443
WSGISocketPrefix /var/run/wsgi

<VirtualHost _default_:80>
  ServerName {{ galaxy_site_name }}
  DocumentRoot /var/lib/galaxy/public

  RewriteEngine on
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

  RewriteCond $MAINTENANCE_FILE -f
  RewriteCond %{REQUEST_URI} !/$STATIC_URL/maintenance/under-maintenance.gif
  RewriteRule ^(.+) $MAINTENANCE_URL [R,L]

  CustomLog "/var/log/httpd/galaxy_access.log" common
  ErrorLog "/var/log/httpd/galaxy_error.log"

  WSGIScriptAlias / /var/lib/galaxy/wsgi.py
  WSGIPassAuthorization On

  WSGIDaemonProcess galaxy_http processes=2 threads=20 maximum-requests=1000 display-name="%{GROUP}-http"
  WSGIProcessGroup galaxy_http

  Alias /favicon.ico /var/lib/galaxy/public/static/favicon.ico
  Alias /static/ /var/lib/galaxy/public/static/

  <Directory /var/lib/galaxy/>
    <Files wsgi.py>
      Order deny,allow
      Allow from all
    </Files>
  </Directory>

  <Directory /var/lib/galaxy/public/>
    Order deny,allow
    Allow from all
  </Directory>
</VirtualHost>

<VirtualHost _default_:443>
 ServerName {{ galaxy_site_name }}
 DocumentRoot /var/lib/galaxy/public

 RewriteEngine On
 RewriteCond $MAINTENANCE_FILE -f
 RewriteCond %{REQUEST_URI} !/$STATIC_URL/maintenance/under-maintenance.gif
 RewriteRule ^(.+) $MAINTENANCE_URL [R,L]

 SSLEngine on
 SSLCertificateFile {{ galaxy_ssl_cert }}
 SSLCertificateKeyFile {{ galaxy_ssl_key }}
 {% if galaxy_ssl_cachain %}SSLCertificateChainFile {{ galaxy_ssl_cachain }}
 {% endif %}
 SSLVerifyClient none

 WSGIScriptAlias / /var/lib/galaxy/wsgi.py
 WSGIPassAuthorization On

 # FIXME: May want to tune these parameters after performance testing.
 WSGIDaemonProcess galaxy_https processes=2 threads=20 maximum-requests=1000 display-name="%{GROUP}-https"
 WSGIProcessGroup galaxy_https

 Alias /favicon.ico /var/lib/galaxy/public/static/favicon.ico
 Alias /static/ /var/lib/galaxy/public/static/

 <Directory /var/lib/galaxy/>
   <Files wsgi.py>
     Order deny,allow
     Allow from all
   </Files>
 </Directory>

 <Directory /var/lib/galaxy/public/>
   Order deny,allow
   Allow from all
 </Directory>
</VirtualHost>

